<!-- js placed at the end of the document so the pages load faster -->

<script src="assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.sparkline.js"></script>
<script src="assets/js/bootstrap-tagsinput.js"></script>

<script src="javascripts/client.js"></script>
<script src="javascripts/infojs.js"></script>
<script src="javascripts/settingsjs.js"></script>
<script src="javascripts/homejs.js"></script> 
<script src="javascripts/adminjs.js"></script>
<script src="javascripts/analyticsjs.js"></script>
<script src="javascripts/eventsjs.js"></script>
<script src="javascripts/dashjs.js"></script>
<script src="javascripts/commonjs.js"></script>
<script src="javascripts/resetpasswordjs.js"></script>
<script src="javascripts/estloginjs.js"></script>
<script src="javascripts/metricsjs.js"></script>
<script src="javascripts/supplierdashboardjs.js"></script>

<script src="https://www.w3schools.com/lib/w3data.js"></script>
<script>
	w3IncludeHTML();
</script>

<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="assets/js/sparkline-chart.js"></script>    
<script src="assets/js/zabuto_calendar.js"></script>	

<script type="application/javascript">
  $(document).ready(function () {
      $("#date-popover").popover({html: true, trigger: "manual"});
      $("#date-popover").hide();
      $("#date-popover").click(function (e) {
          $(this).hide();
      });
  
      $("#my-calendar").zabuto_calendar({
          action: function () {
              return myDateFunction(this.id, false);
          },
          action_nav: function () {
              return myNavFunction(this.id);
          },
          ajax: {
              url: "show_data.php?action=1",
              modal: true
          },
          legend: [
              {type: "text", label: "Special event", badge: "00"},
              {type: "block", label: "Regular event", }
          ]
      });
  });
  
  function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }
</script>

<!-- Firebase -->
<!--
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase-auth.js"></script>
-->
