.orangeClass {
	background-color: rgba(244, 149, 60, 0.3) !important;
}

#loggedInDiv .row {
	margin-left: 0;
	margin-right: 0;
}



#supplierTable td,
#promoTable td {
  vertical-align: middle;
}



.review-est-img-input {
  color: transparent;
  position: relative;
  top: -130px;
  height: 120px;
  width: 120px;
}
.review-est-img-input::-webkit-file-upload-button {
  display: none;
}
.review-est-img-input::before {
  content: 'Edit';
  display: inline-block;
  color: transparent;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.review-est-img-input:hover::before {
  border-color: rgb(150,150,150);
  color: white;
  background-color: rgba(220,220,220,0.5);
}
.review-est-img-input:active {
  outline: 0;
}
.review-est-img-input:active::before {
  background-color: rgb(220,220,220); 
}



.promoTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.promoTable th, .promoTable td {
    border: 1px solid #ccc;
}
.promoTable th, .promoTable td {
    padding: 0.5rem;
}
.draggable {
    cursor: move;
    user-select: none;
    background-color: ghostwhite;
}
.placeholder {
    background-color: #edf2f7;
    border: 2px dashed #cbd5e0;
}
.clone-list {
    border-top: 1px solid #ccc;
}
.clone-table {
    border-collapse: collapse;
    border: none;
}
.clone-table th, .clone-table td {
    border: 1px solid #ccc;
    border-top: none;
    padding: 0.5rem;
}
.dragging {
    background: #fff;
    border-top: 1px solid #ccc;
    z-index: 999;
}

.specialTypeBtn:focus,
.specialTypeBtn:active {
    outline: 0;
    background-color: white;
}

#adminAddEventSpecialRow {
    display: none;
    padding: 10px 0;
    margin: 10px 15px;
    border: 1px solid green;
    border-radius: 5px;
}
.adminAddEventSpecialHeader {
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
}
.adminAddEventSpecial-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.adminAddEventSpecial-deal-type-button img {
  width: 26px;
  height: 26px;
}
.adminAddEventSpecial-footer {
  text-align: center;
  margin-bottom: 10px;
}


@media (max-width: 800px) {
	.adminrow {
		margin-left: 15px !important;
		margin-right: 15px !important;
		margin-bottom: 5px;
	}
    #dealDiv {
        padding: 30px 0 !important;
    }
}

@media (max-width: 769px) {
    #owner {
        vertical-align: bottom !important;
    }
}




