.calBubble {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 5px;
	line-height: 1;
	color: black;
	font-size: 0.7em;
	box-shadow: 0 0 3px grey;
	background-color: white;
}
.calTime {
	font-size: 0.5em; 
	color: grey;
	margin-top: 2px;
}
.calImps {
	text-align: center;
    color: rgb(0,90,160);
    font-weight: 900;
    font-size: 2em;
}
.calExclusive {
	background-color: rgb(244, 149, 60,0.3);
    border-radius: 5px;
    padding: 5px;
}
.calDaily {
	background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.calDayLabel {
	font-size: 0.8em;
	line-height: 1.2;
}


/*
#dataTable tbody {
	color: black;
}
*/


.impressions-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.impressions-row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}

.orangeClass {
	background-color: rgba(244, 149, 60, 0.3) !important;
}

.sorting_1 {
	background-color: inherit !important;
}

.orangeClass .sorting_1 {
	background-color: transparent !important;
}

table.dataTable.hover tbody .even:hover, 
table.dataTable.display tbody .even:hover {
    background-color: white !important;
}

table.dataTable.hover tbody .odd:hover, 
table.dataTable.display tbody .odd:hover {
    background-color: #f9f9f9 !important;
}

table.dataTable.hover tbody .orangeClass:hover, 
table.dataTable.display tbody .orangeClass:hover {
    background-color: rgba(244, 149, 60, 0.3) !important;
}

.weekPicker table tbody tr:hover {
    background-color: #eee;
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
  .analytics-form {
  	margin-left: 20px;
  	margin-right: 20px;
  }
}

@media (min-width: 300px) {
	#dataTable_length {
		float: left;
		padding-left: 10px;
	}
	#dataTable_filter {
		float: right;
		padding-right: 10px;
		margin-top: 0;
	}
}

@media (max-width: 991px) {
	.impressions-row,
	#calTable,
	#week,
	#prevWeek,
	#nextWeek {
		display: none !important;
	}
	.mobile-impressions-row,
	#calTableMobile {
		display: block !important;
	}
	.calBubble {
		font-size: 1em;
	}
	.calTime {
		font-size: 0.8em;
	}
	#mobile-day,
	#prevDay,
	#nextDay {
		display: inline !important;
	}
	#impressionsCircle,
	#favoritesCircle,
	#customersCircle {
		font-size: 0.5em;
		height: 150px !important;
		width: 150px !important;
	}
	.circleP {
		margin-top: 18px !important;
    	margin-bottom: 10px !important;
    	font-size: 1.5em;
	}
	.circleP2 {

	}
	.circleChange {
		font-size: 6pt !important;
		margin-bottom: 5px !important;
	}
}

@media(max-width:800px) {
	.analytics-panel {
  		margin-left: -5px;
    	margin-right: -5px;
    	margin-top: 25px;
  	}
  	.mobile-impressions-row,
  	.table-row {
  		margin-left: -20px;
  		margin-right: -20px;
  	}
}



@media (max-width: 650px) {
	#dataTable,
	#dataTable_info {
		font-size: .6em;
	}

	#dataTable_length,
	#dataTable_filter,
	#dataTable_paginate {
		font-size: .8em;
	}
	.loader, .loaderText {
		left: 35%;
	}
}

@media (min-width: 551px) {
	#impressionsCircle,
	#favoritesCircle,
	#customersCircle {
		display: block;
	}
	#impressionsCircleMobile,
	#favoritesCircleMobile,
	#customersCircleMobile {
		display: none;
	}
}

@media (max-width: 550px) {
	#impressionsCircle,
	#favoritesCircle,
	#customersCircle {
		display: none;
	}
	#impressionsCircleMobile,
	#favoritesCircleMobile,
	#customersCircleMobile {
		display: block;
	}
}