.details,
.ends-at,
.daily-duration-desktop {
  font-size: 16px;
}

.details {
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.daily-duration-desktop {
  color: red;
}

.ends-at {
  color: red;
  line-height: 1.2;
}

.row-wrapper {
  margin: 0;
}



.dinein {
  font-size: 0.5em; 
  border: 1px solid rgb(53,123,59); 
  width: fit-content;
  border-radius: 5px; 
  padding: 2px 3px; 
  display: inline-block; 
  color: rgb(53,123,59);
  line-height: 1;
  /*background-color: rgba(53,123,59,0.05);*/
}
.takeout {
  font-size: 0.5em; 
  border: 1px solid #6f306f; 
  width: fit-content;
  border-radius: 5px; 
  padding: 2px 3px; 
  display: inline-block; 
  color: #6f306f;
  line-height: 1;
  /*background-color: rgba(100,0,100,0.05);*/
}


/***********************************
* Today's Specials Panel           *
************************************/
.panel-today {
  /*padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 20px;*/
}
#todaysSpecials {
  font-size: 1.1em;
}
#todaysSpecials .deal-type-icon img {
  height: 27px;
  width: 27px;
}
.todays-specials-header {
  text-align: left;
}
.ts-no-specials {
  text-align: left;
}
.expired-special {
  background-color: rgba(192, 192, 192, 0.1);
  color: rgb(192,192,192);
}
.active-special {
  background-color: rgba(0, 255, 0, 0.1);
}
.upcoming-special {

}
.deal-expiring {
  color: red;
}
.ah-exclusive {
  margin-left: 20px;
  background-color: #ff865c;
  color: white;
  font-size: .6em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
/* Today's Specials Panel **********/


/***********************************
 * Create Deal Panel               *
 ***********************************/
.panel-add-deal {
  /*border-top: 2px solid rgb(192,192,192);
	border-left: 2px solid rgb(192,192,192);
  border-right: 2px solid rgb(192,192,192);*/
  /*border: 2px solid rgba(28, 184, 65, 0.3); */
}
.panel-add-deal .form-horizontal .form-row {
	padding-bottom: 15px;
}
.btn-group-type button {
	height: 2.3em;
	font-size: 1em;
}
.panel-add-deal .left-inner-addon i {
	padding: 11px 12px;
	color: rgb(200, 200, 200);
}
.takeout-frame-error {
  margin-top: 2px;
  border: 1px solid #FF0000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #FFEAEA;
}
.deal-type-button-frame {

}
.deal-type-button-frame-error {
	margin-top: 2px;
	border: 1px solid #FF0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFEAEA;
    padding: 15px 10px 9px 15px;
    box-shadow: 0 0 1px #000000;
}
.deal-type-button {
	outline: 0;
	border: 1px solid #c0c0c0;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background-color: white;
  	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  	margin-right: 4px;
  	margin-bottom: 7px;
  	padding: 0;
}
.deal-type-button img {
	width: 36px;
	height: 36px;
}
.panel-add-deal .add-deal-footer {
	text-align: center;
}

.form-control-error {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFEAEA;
  background-image: none;
  border: 1px solid #FF0000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-error:focus {
  border-color: #66afe9;
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.error-alerts {
	font-style: italic;
	color: red;
}

.form-control-btn-error {
	color: #555;
  	background-color: #FFEAEA;
  	border: 1px solid #FF0000;
}
.form-control-btn-error:hover {
	border: 1px solid #FF0000;
  	background-color: #fff;
  	outline: 0;
}

/* Create Deal Panel ***************/

#instantSpecials td.ts-icon-cell,
#nextWeekSpecials td.ts-icon-cell,
#twoWeeksOutSpecials td.ts-icon-cell {
  width: 15%;
}
#instantSpecials td.ts-details-cell,
#nextWeekSpecials td.ts-details-cell,
#twoWeeksOutSpecials td.ts-details-cell {
  width: 42%;
}
#instantSpecials td.ts-time-cell,
#nextWeekSpecials td.ts-time-cell,
#twoWeeksOutSpecials td.ts-time-cell {
  width: 32%;
}


/* Daily Deals Panel ***************/

#addDailyDealDiv {
  display: none;
  margin-bottom: 20px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background-color: rgba(175,230,186,0.05);
  padding: 20px 15px 10px;
}
.daily-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 4px;
  margin-bottom: 7px;
  padding: 0;
}
.daily-deal-type-button img {
  width: 36px;
  height: 36px;
}
.add-daily-deal-footer {
  text-align: center;
  margin-bottom: 10px;
}
.daily-day {
  font-size: 12px;
  display: inline-block;
}

/* Daily Deals Panel ***************/



/* Current Deals Panel *************/

.deal-type-icon img {
	height: 26px;
	width: 26px;
}

/* Current Deals Panel *************/


#type-confirm .deal-type-icon img {
  height: 40px;
  width: 40px;
}
#price-confirm {
  color: green;
}
#details-confirm {
  color: black;

}
#distance-confirm {
  color: rgb(150,150,150);
}
#time-remaining-confirm {
  color: red;
}



.note {
  font-size: 8pt;
}
.note-italic {
  font-size: 8pt;
  font-style: italic;
}

.form-head {
  margin-top: 5px;
  margin-bottom: 20px;
}

@media(min-width:481px) {
  .todays-specials-header {
    margin-bottom: 30px !important;
  }
  .support-local-desktop {
    display: table !important;
  }
  .support-local-mobile {
    display: none !important;
  }
}

@media(max-width:480px) {
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  input {
    font-size: .8em;
  }

  .support-local-desktop {
    display: none !important;
  }
  .support-local-mobile {
    display: table !important;
  }

  /* Nav bar */

  /* Nav bar */


  /* Exclusive Specials */
  #instantSpecials .deal-type-icon img,
  #nextWeekSpecials .deal-type-icon img,
  #twoWeeksOutSpecials .deal-type-icon img {
    height: 18px;
    width: 18px;
  }
  #addDealForm {
    /*font-size: .7em;*/
  }
  #addDealForm img {
    height: 25px !important;
    width: 25px !important;
  }
  #price-confirm {
    font-size: 8px;
  }
  /* Exclusive Specials */


  /* Todays Specials */
  .form-header {
    margin-bottom: 25px !important;
  }
  #todaysSpecials {
    font-size: .7em;
  }
  #todaysSpecials .deal-type-icon img {
    /*height: 18px;
    width: 18px;*/
  }
  #todaysSpecials .ah-exclusive {
    display: none;
  }
  #todaysSpecials td.ts-icon-cell {
    width: 3%;
  }
  #todaysSpecials td.ts-details-cell {
    width: 40%;
  }
  #todaysSpecials td.ts-time-cell {
    width: 40%;
  }

  #todaysSpecials td,
  #dailyDeals td {
    padding: 8px 0px 8px 8px;
  }
  /* Todays Specials */


  /* Daily Specials */
  #dailyDeals {
    font-size: 0.7em;
  }
  #dailyDeals .deal-type-icon img {
    /*height: 18px;
    width: 18px;*/
  }
  .details,
  .ends-at,
  .daily-duration-desktop {
    font-size: 12px;
    line-height: 1;
  }
  .details {
    margin-bottom: 3px;
  }
  /* Daily Specials */

}

@media(max-width:1199px) {
  .exclusive-specials-col {
    padding-right: 15px !important;
  }
  .weekly-specials-col {
    padding-left: 15px !important;
  }
}


@media(min-width:801px) {
  .plan-header-desktop {
    display: block !important;
  }
  .plan-header-mobile {
    display: none !important;
  }
  .panel-today {
    padding-left: 7%;
    padding-right: 7%;
  }
  .daily-deal-form {
    padding: 0px 20px 0px 20px;
  }
  #duration-min-label {
    display: block;
  }
}
@media(max-width:800px) {
  #todaysDate {
    font-size: 14px;
  }
  #home-div .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
  }
  #createSpecialDiv {
    padding-right: 30px;
    padding-left: 30px;
  }
  #special-start-date {
    margin-bottom: 15px;
  }
  #duration-hr {
    margin-bottom: 5px;
  }
  #duration-min-label {
    display: none;
  }
  #addDealForm {
    /*padding-left: 10px;
    padding-right: 10px;*/
  }
  #addDailyDealDiv {
    padding-left: 30px;
    padding-right: 30px;
  }
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 55px;
  }
  .row-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .main {
    padding-left: 3px;
    padding-right: 3px;
  }
  .plan-header-desktop {
    display: none !important;
  }
  .plan-header-mobile {
    display: block !important;
  }
  .plan-metadata {
    font-size: .7em;
  }
  .plan-overview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }
  #terms-and-conditions .modal-dialog {
    width: 95% !important;
  }
  .terms-and-conditions-footer-text {
    font-size: .8em;
  }
  .exclusive-specials-col {
    padding-right: 0px !important;
  }
  .weekly-specials-col {
    padding-left: 0px !important;
  }

}


@media(min-width:769px) {
  #home-div,
  #events-div,
  #info-div,
  #settings-div,
  #partners-div,
  #upgrade-div,
  #analytics-div {
    padding-left: 15px;
  }
}
@media(max-width:768px) {

}

