/* Today */
.todays-soe-title {
	font-size: 0.9em;
}
.todays-soe-timeremaining {
	font-size: 0.7em;
	margin-top: 5px;
}
.todays-soe-recurring {
	font-size: 0.7em; 
	margin-top: 3px;
}


/* Upcoming */
#upcomingSoeFilterSpecials:focus,
#upcomingSoeFilterEvents:focus {
    outline: none;
}




/* Daily */
.daily-soe-title {
	font-size: 0.9em;
}
.daily-soe-timeremaining {
	font-size: 0.7em;
	margin-top: 5px;
}
.daily-soe-recurring {
	font-size: 0.7em; 
	margin-top: 3px;
}
.daily-soe-day {
	font-size: 14px;
	margin-bottom: 10px; 
	padding-bottom: 5px; 
	border-bottom: 1px solid rgb(192,192,192);
}


/* Common */
.row.display-flex {
 	display: flex;
  	flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  	display: flex;
  	flex-direction: column;
}

