.login-link,
.login-link-active {
  width: 100%;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  white-space: pre-wrap;
}

.login-link {
  background-color: white;
  height: 60px;
  margin-top: 20px;
  font-size: 16px;
  transition: height 0.15s ease-out, margin-top 0.15s ease-out;
  overflow: hidden;
}
.login-link-active {
  background-color: #0d4188;
  height: 80px;
  font-size: 20px;
}

.login-link,
.login-link:hover,
.login-link:active,
.login-link:visited,
.login-link:focus {
  color: rgb(50,50,50);
}

.login-link-active,
.login-link-active:hover,
.login-link-active:active,
.login-link-active:visited,
.login-link-active:focus {
  color: white;
}

.login-link:hover {
  background-color: rgb(250,250,255); /*#e9efff*/
  height: 80px;
  margin-top: 0;
  transition: height 0.25s ease-in, margin-top 0.25s ease-in;
}



.login-h3 {
  font-size: 20px;
}

.login-header {
  padding: 30px 0; 
  margin-bottom: 40px; 
  text-align: center; 
  background-color: white;
}

.est-login-div {
  max-width: 500px; 
  /*padding: 40px 0;*/
  margin: 0 auto; 
  position: relative;
}



@media(max-width:500px) {
  .est-login-div {
    /*padding: 40px 15px;*/
    padding: 0 15px;
  }


  #est-login-div,
  #supplier-login-div {
  	padding: 0 !important;
  	width: 100% !important;
  }
  #est-login-bg-div,
  #supplier-login-bg-div {
  	/*background-image: none !important;*/
  }
  #est-login-shadow,
  #supplier-login-shadow {
  	box-shadow: none !important;
  }

  .login-wrapper {
  	padding: 20px !important;
  }
  .login-header {
  	border-top-left-radius: 0 !important;
  	border-top-right-radius: 0 !important;
  }

  .login-link,
  .login-link-active {
    font-size: 16px;
    height: 80px;
    margin-top: 0;
  }

  .login-h3 {
    font-size: 16px;
  }

  
  /*html, body {
  	height: 100% !important;
  }*/
}

@media(max-width:400px) {
  .login-header {
    padding: 5px 0;
  }
  .custom-logo {
    width: 280px;
  }
}

