input[type="date"] {
  min-width: 95%;
}

.todays-event-special-icon {
  height: 26px;
  width: 26px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}
.todays-event-title {
  color: rgb(50, 50, 50);
}

.todays-event-special-details {
  color: rgb(50, 50, 50);
  font-weight: 500;
}

#btnOneTime.active,
#btnManageOneTime.active,
#createEvent-monToggleButton.active,
#edit-upcoming-event-monToggleButton.active,
#addModalEventSpecial-moneyToggleButton.active,
#addUpcomingEventSpecial-moneyToggleButton.active {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
#btnReoccurring.active,
#btnManageReoccurring.active,
#createEvent-sunToggleButton.active,
#edit-upcoming-event-sunToggleButton.active,
#addModalEventSpecial-freeToggleButton.active,
#addUpcomingEventSpecial-freeToggleButton.active {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
#createEvent-tueToggleButton.active,
#createEvent-wedToggleButton.active,
#createEvent-thuToggleButton.active,
#createEvent-friToggleButton.active,
#createEvent-satToggleButton.active,
#edit-upcoming-event-tueToggleButton.active,
#edit-upcoming-event-wedToggleButton.active,
#edit-upcoming-event-thuToggleButton.active,
#edit-upcoming-event-friToggleButton.active,
#edit-upcoming-event-satToggleButton.active,
#addModalEventSpecial-percentToggleButton.active,
#addModalEventSpecial-bogoToggleButton.active,
#addUpcomingEventSpecial-percentToggleButton.active,
#addUpcomingEventSpecial-bogoToggleButton.active {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.dayActive {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-mon,
.btn-weekday,
.btn-sun {
  text-decoration: none;
  padding: 6px 6px;
}

.btn-mon.active,
.btn-weekday.active,
.btn-sun.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-mon.active:hover,
.btn-weekday.active:hover,
.btn-sun.active:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-mon.active:focus,
.btn-weekday.active:focus,
.btn-sun.active:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


.addSpecialDiv {
  display: none;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: rgb(250, 250, 250);
  padding: 15px 10px 9px 15px;
  box-shadow: 0 0 1px #000000;
}
.addSpecialDiv label {
  color: black;
  font-size: 0.8em;
}
.addSpecial-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.addSpecial-deal-type-button img {
  width: 26px;
  height: 26px;
}
.addSpecial-footer {
  text-align: center;
  margin-bottom: 10px;
}

.addEventSpecialDiv {
  display: none;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: rgb(250, 250, 250);
  padding: 15px 10px 9px 10px;
  box-shadow: 0 0 1px #000000;
}
.addEventSpecialDiv label {
  color: black;
  font-size: 0.8em;
}
.addEventSpecial-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.addEventSpecial-deal-type-button img {
  width: 26px;
  height: 26px;
}
.addEventSpecial-footer {
  text-align: center;
  margin-bottom: 10px;
}


.addUpcomingEventSpecialDiv {
  /*display: none;
  margin: 2px 15px 10px 15px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: rgb(250, 250, 250);
  padding: 15px 10px 9px 10px;
  box-shadow: 0 0 1px #000000;*/
  display: none;
  margin-top: 2px;
  margin-bottom: 10px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background-color: rgba(175,230,186,0.05);
  padding: 15px;
}
.addUpcomingEventSpecialDiv label {
  /*color: black;
  font-size: 0.8em;*/
}
.addUpcomingEventSpecial-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.addUpcomingEventSpecial-deal-type-button img {
  width: 26px;
  height: 26px;
}
.addUpcomingEventSpecial-footer {
  text-align: center;
  margin-bottom: 10px;
}



.addModalEventSpecialDiv {
  display: none;
  margin-top: 2px;
  margin-bottom: 10px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background-color: rgba(175,230,186,0.05);
  padding: 15px;
}
.addModalEventSpecialDiv label {
  
}
.addModalEventSpecial-deal-type-button {
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.addModalEventSpecial-deal-type-button img {
  width: 26px;
  height: 26px;
}
.addModalEventSpecial-footer {
  text-align: center;
  margin-bottom: 10px;
}


/*.upcoming-day-label {
  color: black;
}*/

.upcoming-event-title {
  color: rgb(50, 50, 50);
}
.upcoming-event-edit-div {
  padding-right: 10px;
}


@media(min-width:1200px) {
  /* Schedule event */
  #eventStartDate {
    margin-bottom: 15px;
  }
}

@media(max-width:1199px) {
  .schedule-event-col {
    padding-right: 15px !important;
  }
  .manage-events-col {
    padding-left: 15px !important;
  }
}

@media(max-width:991px) {

  /* Todays events */
  .mobile-margin-bottom {
    margin-bottom: 15px;
  }
  .select-an-icon-row {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Schedule event */
  #eventStartDate {
    margin-bottom: 15px;
  }

  .schedule-event-col {
    margin-bottom: 20px;
  }

  /* Manage upcoming events */


  /* Shared */
  .event-special-price-div {
    padding-right: 5px;
  }
  .event-special-details-div {
    padding-left: 5px;
  }

}


@media(max-width:800px) {

  /* Todays events */
  .todays-events-div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .todays-event-div {
    padding: 20px 35px !important;
  }
  .mobile-padding-left-right {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .addEventSpecialDiv {
    padding-left: 30px;
    padding-right: 30px;
  }
  .what-day-row,
  .todays-event-no-specials {
    margin-left: -5px;
    margin-right: -5px;
  }
  .todays-event-no-specials div p {
    font-size: 0.8em !important;
  }



  .schedule-event-col {
    padding-right: 0 !important;
  }
  .manage-events-col {
    padding-left: 0 !important;
  }


  /* Schedule event */
  .schedule-event-div {
    margin-left: 15px;
    margin-right: 15px;
  }
  .event-start-time-div {
    padding-right: 15px;
  }
  .event-end-time-div {
    padding-left: 15px;
  }


  /* Manage upcoming events */
  #editUpcomingEventForm {
    margin-left: 15px;
    margin-right: 15px;
  }
  .addUpcomingEventSpecialDiv {
    margin: 0;
    padding: 15px 25px 9px 25px;
  }
  /*
  #start-time-div {
    padding-right: 15px;
  }
  #end-time-div {
    padding-left: 15px;
  }*/


  /* Modals */
  .add-specials-modal-dialog,
  .edit-upcoming-event-modal-dialog {
    width: 96% !important;
  }
  .modal-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .edit-upcoming-event-row {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .would-you-like-to-add-specials-div {
    margin: 0px 15px 15px !important;
  }
  #modalEventSpecialsDiv {
    margin-left: 10px;
    margin-right: 10px;
  }

}


@media(min-width:481px) {
  /* Manage upcoming events */
  #prevWeekEvents {
    display: inline !important;
  }
  #prevWeekEventsMobile {
    display: none !important;
  }
  #nextWeekEvents {
    display: inline !important;
  }
  #nextWeekEventsMobile {
    display: none !important;
  }
}


@media(max-width:480px) {

  /* Todays events */
  .todays-event-title {
    font-size: 0.9em;
  }
  .todays-event-details,
  .todays-event-specials {
    font-size: 0.8em;
  }
  .todays-event-timeremaining {
    font-size: 0.8em;
  }
  .todays-event-recurring {
    font-size: 0.5em !important;
  }
  .todays-event-ended {
    font-size: 0.5em !important;
  }
  .mobile-todays-event-details {
    margin-bottom: 10px !important;
  }
  .todays-event-special-icon {
    height: 22px;
    width: 22px;
  }
  .todays-event-special-details,
  .todays-event-special-duration {
    font-size: 0.8em !important;
  }


  /* Manage upcoming events */
  .panel-upcoming-events {
    padding-left: 0;
    padding-right: 0;
  }
  #prevWeekEvents {
    display: none !important;
  }
  #prevWeekEventsMobile {
    display: inline !important;
  }
  #nextWeekEvents {
    display: none !important;
  }
  #nextWeekEventsMobile {
    display: inline !important;
  }
  #upcomingEventsDiv {
    font-size: 0.8em;
  }
  .upcoming-event-title {
    
  }
  .upcoming-event-edit-div {
    padding-right: 5px;
  }

}
