/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
  padding: 0px;
  text-align: center;
  border: 0px;
  position: relative;
  zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
  width: 100px;
  height: 85px;
  margin: -0;
  display: block;
  background:url('../img/arrow.png') no-repeat 0 0 rgba(178, 142, 64, 0.59);
  position: absolute;
  top: 40%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav a:hover{
	background:url('../img/arrow.png') no-repeat 0 0 #B28E40;
}
.flex-direction-nav .flex-prev:hover{
   background-position: 12px 25px;
    left:0;
}
.flex-direction-nav .flex-next:hover{
   background-position: -51px 25px;
   right:0;
}
.flex-direction-nav .flex-next {background-position: -51px 25px;right:0;}
.flex-direction-nav .flex-prev {left: 0px; background-position: 12px 25px;}

/* Control Nav */
.flex-control-nav {
	position: absolute;
	right: 0;
	display: none;
	margin-left: 0px;
	top: 5%;
}

/*
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #2a2017; background: #2a2017; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #97262A; background: #97262A; }
.flex-control-paging li a.flex-active { background: #97262A; background: #97262A; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
*/

@media screen and (max-width:1024px) {
  .flex-direction-nav a {
    display: none;
  }
}
/*
@media screen and (max-width: 768px) {
  .flex-direction-nav a {
    top: 40%;
  }
}

@media screen and (max-width: 640px) {
  .flex-direction-nav a {
    width: 75px;
    height: 65px;
    top: 40%;
  }
  .flex-direction-nav .flex-prev {
    background-position: 12px 16px;
  }
  .flex-direction-nav .flex-prev:hover{
    background-position: 12px 16px;
  }
}

@media screen and (max-width: 480px) {
  .flex-direction-nav a {
    width: 53px;
    height: 47px;
    background-size: 170%;
  }
  .flex-direction-nav a:hover{
    width: 53px;
    height: 47px;
    background-size: 170%;
  }
  .flex-direction-nav .flex-prev {
    background-position: 3px 13px;
  }
  .flex-direction-nav .flex-prev:hover {
    background-position: 3px 13px;
  }
  .flex-direction-nav .flex-next{
    background-position: -40px 13px;
  }
  .flex-direction-nav .flex-next:hover{
    background-position: -40px 13px;
  }
}

@media screen and (max-width: 320px) {
  .flex-direction-nav a {
    width: 35px;
    height: 30px;
    background-size: 200%;
  }
  .flex-direction-nav a:hover {
    width: 35px;
    height: 30px;
    background-size: 200%;
  }
  .flex-direction-nav .flex-prev{
    background-position: 0px 7px;
  }
  .flex-direction-nav .flex-prev:hover {
    background-position: 0px 7px;
  }
  .flex-direction-nav .flex-next {
    background-position: -35px 6px;
  }
  .flex-direction-nav .flex-next:hover {
    background-position: -35px 6px;
  }
}
*/