.form-header {
	margin-bottom: 60px;
}
.control-label-bold {
	color: rgb(50,50,50);
}
.form-control-static {
  
}
.form-footer {
	text-align: right;
}


.hours-table td {
	padding-left: 2px;
	padding-right: 2px;	
}
.hours-table thead {
	text-align: center;
}
.hours-table label {
	font-size: .8em;
	font-weight: lighter;
}
.closed-chkbox {
	margin-left: 10px;
}

.img-circle {
	width: 80px;
    height: 80px;
    border: 1px solid black;
}


.btn-light {
  background-color: white; 
  border: 1px solid #ccc;
  font-size: .5em; 
  height: 34px; 
}

.btn-light:focus, .btn-light:active:focus, .btn-light.active:focus {
  outline: none;
  box-shadow: none;
}

@media(max-width:1200px) {
  .establishment-features-header {
    margin-top: 25px;
  }
}

@media(min-width:801px) {
  .show-details-desktop {
    display: block !important;
  }
  .show-details-mobile {
    display: none !important;
  }
}
@media(max-width:800px) {
  .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .col-xs-10 {
    /*padding-top: 7px;*/
  }
  .center-for-mobile {
    text-align: center;
  }
  .remove-margin-top {
    margin-top: 0 !important;
  }
  .info-header {
    font-size: 1.1em !important;
  }
  #displayEstablishmentInfo, #editEstablishmentInfo {
    margin-left: 15px;
    margin-right: 15px;
  }
  .hours, .edit-address, .edit-social {
    padding-left: 15px;
    padding-right: 15px;
  }
  .show-details-desktop {
    display: none !important;
  }
  .show-details-mobile {
    display: block !important;
  }
  .plan-metadata {
    font-size: .7em;
  }
  .payment-info {
    font-size: .8em;
  }
  .subscription-header {
    margin: 20px 0 10px 0 !important;
  }
  .plan-name {
    color: #428bca;
  }

  .img-circle {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .hours .row {
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: .8;
  }
  .closed-td {
    padding-top: 5px;
  }
  .hours-table {
    width: 100%;
  }
}

@media(max-width:374px) {
  .hours-table, .hours-table .form-control {
    font-size: .8em;
  }
}
/*
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose image';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
*/