


@media(max-width: 800px) {
	.mobilerow {
		margin-left: 0;
		margin-right: 0;
	}
}



@media(min-width: 992px) {
	.metrics-row .col-md-3 {
		width: 24% !important;
	}
	.metrics-row .col-md-4 {
		width: 32% !important;
	}
}

@media(min-width: 768px) {
	.metrics-row .col-sm-6 {
		width: 48%;
	}
}

@media(max-width: 767px) {
	.metrics-row .col-xs-12 {
		width: 98% !important;
	}
}