.partner-container {
	margin-bottom: 50px;
}

.partner-div-left {
	display: inline-block;
	max-width: 29%; 
	vertical-align: top; 
	margin-right: 20px;
}

.partner-div-right {
	display: inline-block; 
	max-width: 69%;
}

.partner-img {
	max-width: 200px; 
	display: block; 
	margin-bottom: 10px;
}

.partner-phone {
	display: block; 
	width: 100%; 
	background-color: green; 
	margin-bottom: 10px;
}

.partner-web {
	display: block; 
	width: 100%;
}

.partner-name {
	color: black; 
	margin-bottom: 15px; 
	font-size: 1.2em;
}

.partner-text {
	margin-bottom: 10px;
}


@media(max-width:1023px) {
	.partner-div-left {
		display: block;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.partner-div-right {
		max-width: 100%;
	}
	.partner-img {
		max-width: 100%;
	}
	.partner-name {
		font-size: 1.1em;
	}
	.partner-text {
		font-size: 0.8em;
	}
}