

@media(min-width:531px) {
	#managersTable {
		display:table;
	}
	#managersTableMobile {
		display:none;
	}
}

@media(max-width:530px) {
	#managersTable {
		display:none;
	}
	#managersTableMobile {
		display:table !important;
	}
}