/* BODY */
.supplier-body {
  background-color: rgb(60,60,60); 
  height: 100%; 
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  cursor: auto;
}
.supplier-body-waiting {
  background-color: rgb(60,60,60); 
  height: 100%; 
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  cursor: wait;
}


/* HEADER */

.supplier-header {
  position: fixed; 
  z-index: 99;
  top: 0; 
  width: 100%; 
  padding: 15px 0; 
  margin: 0; 
  background-color: white; 
  border-bottom: 3px solid orange; 
}

.dropbtn {
  background-color: transparent;
  color: #337ab7;
  padding: 6px;
  font-size: 16px;
  border: none;
}
.supplier-dropdown {
  float: right;
  display: none;
}
.dropdown-content {
  display: none;
  text-align: right;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.supplier-dropdown:hover .dropdown-content {display: block;}

.supplier-dropdown:hover .dropbtn {background-color: transparent;}




/* ASIDE */

.supplier-aside {
  position: fixed;
  z-index: 99;
  width: 300px;
  padding: 0; 
  min-height: 100%; 
  margin: 0; 
  background-color: rgb(50,50,50); 
  text-align: center;
}
.sup-link-on {
  background-color: rgb(49,151,255); 
  color: white; 
  padding: 20px; 
  display: block;
  font-weight: 900;
}
.sup-link-off {
  color: rgb(49,151,255);
  padding: 20px; 
  display: block; 
}
.sup-logout-link {
  color: rgb(217,83,79); 
  padding: 20px; 
  display: block;
}

.sup-link-on:hover,
.sup-link-off:hover {
  background-color: rgba(49,151,255,0.2);
  color: rgb(49,151,255);
}
.sup-logout-link:hover {
  background-color: rgba(217,83,79,0.2);
  color: rgb(217,83,79);
}




/* BODY */

.supplier-content {
  padding: 0; 
  height: 100%;
  margin-left: 300px;
}
.sup-body-div {
  margin: 0;
  background-color: rgb(60, 60, 60);
  min-height: 100%;
}
.sup-promos-div {
  margin: 15px;
  padding: 15px;
}
.sup-promos-title {
  font-size: 24px; 
  color: white; 
  vertical-align: middle; 
  display: inline-block;
  margin-right: 20px;
}
.sup-promo-row {
  margin: 20px 0; 
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.sup-promo-img {
  background-position: center; 
  background-size: cover; 
  height: 168px;
}
.sup-promo-title {
  position: absolute; 
  top: 10px; 
  padding: 3px 6px; 
  font-size: 24px;
  font-weight: 500;
}
.sup-promo-label {
  position: absolute; 
  top: 50px; 
  padding: 3px 6px; 
  font-size: 16px;
}
.sup-promo-right-div {
  padding: 0 0 0 10px; 
  height: 168px;
}
.sup-promo-impressions {
  height: 55px;
  padding: 0 10px;
}
.sup-promo-interactions {
  height: 55px;
  padding: 0 10px;
  margin: 8px 0px;
}
.sup-promo-footer {
  width: 100%; 
  padding-top: 8px; 
  border-top: 1px solid gainsboro; 
  text-align: right;
  margin: 0;
}


/* CAMPAIGN MORE INFO */

.sup-promo-more-info {
  margin: 0; 
  padding: 30px; 
  background-color: rgb(60,60,60);
}
.sup-analytics-div {
  padding: 0 10px 0 0; 
  margin: 10px 0;
}
.sup-items-div {
  padding: 0 0 0 10px; 
  margin: 10px 0;
}
.featureLabel {
  font-size: 10px; 
  line-height: 1.2; 
  border-radius: 5px;
  padding: 2px 4px;
  width: fit-content;
  display: inline-block;
  margin-bottom: 2px;
}
.featureLabelOn { 
  font-weight: 600;
  border: 1px solid #1a4294; 
  color: #1a4294;
}
.featureLabelOff { 
  font-weight: 400;
  border: 1px solid #b7b7b7; 
  color: #b7b7b7;
}

/* current campaign items */

#promoItemsCityLouisville a,
#promoItemsCityMinneapolis a,
#promoItemsCityIowacity a {
  font-size: 14px;
}

.itemSpecialImg {
  width: 50px;
}
.itemSpecialDetails {
  font-size: 16px;
}
.itemSpecialEst {
  font-size: 12px;
}
.itemSpecialTime {
  width: 33%; 
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 14px;
  text-align: right;
  color: red;
}
.itemSpecialDayStr {
  color: rgb(121,121,121);
  font-weight: 500;
  font-size: 12px;
}
.itemSpecialDuration {
  line-height: 1; 
  font-size: 16px;
}





/* ADD CAMPAIGN */

.sup-label {
  color: rgb(50,50,50); 
  font-size: 18px; 
  font-weight: 500;
}
.sup-sublabel {
  font-size: 14px; 
  margin-bottom: 10px;
}
.bootstrap-tagsinput {
  display: block;
  height: 40px;
  line-height: 1.8;
  overflow: auto;
  white-space: nowrap;
}
.bootstrap-tagsinput::-webkit-scrollbar {
  height: 4px;
  width: 1px;
  background: transparent;
}
.bootstrap-tagsinput::-webkit-scrollbar-thumb:horizontal {
  background: grey;
  border-radius: 10px;
}
.bootstrap-tagsinput span {
  font-size: 100%;
  background-color: rgb(49,151,255);
  font-size: 14px;
}
.custom-file-input {
  /*color: transparent;*/
}
.custom-file-input::-webkit-file-upload-button {
  display: none;
}
.custom-file-input::before {
  content: 'Upload Image...';
  display: inline-block;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  padding: 0px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  margin-right: 10px;
}
.custom-file-input:hover::before {
  border-color: rgb(150,150,150);
  background-color: rgb(220,220,220);
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background-color: rgb(220,220,220); 
}

.reviewLogisticsRow {
  margin-bottom: 5px;
}
.reviewLogisticsLabel {
  display: inline-block;
  width: 150px;
}
.reviewLogisticsValue {
  display: inline-block;
  font-weight: 500;
  color: rgb(50,50,50);
}


/* slideshow container */
.addCampaignSlideshowContainer {
  
}
/* hide by default */
.addCampaignSlide {
  display: none;
}
.addCampaignStep {
  color: grey;
  font-weight: 400;
  font-size: 14px;
}
.addCampaignStepLabel {
  color: grey;
  font-weight: 500;
  font-size: 20px;
}
.addCampaignStepActive {
  color: black;
  font-size: 18px;
}
.addCampaignStepLabelActive {
  color: black;
  font-weight: 600;
  font-size: 24px;
}
.align-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding: 0;
}
.addCampaignStatusComplete {
  color: green;
  margin-top: 5px;
  font-size: 12px;
}
.addCampaignStatusInProgress {
  color: #3379b7;
  margin-top: 5px;
  font-size: 12px;
}
/* Fading animation */
.addCampaignFade {
  -webkit-animation-name: addCampaignFade;
  -webkit-animation-duration: 1.5s;
  animation-name: addCampaignFade;
  animation-duration: 1.5s;
}
@-webkit-keyframes addCampaignFade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes addCampaignFade {
  from {opacity: .4}
  to {opacity: 1}
}




/* EDIT CAMPAIGN */

.nav-item {
  width: 33.33%;
  text-align: center;
}
.nav-link {
  border: 1px solid rgb(192, 192, 192) !important;
  background-color: white !important;
  color: rgb(2, 117, 255) !important;
  font-weight: 400 !important;
  height: 60px;
}
.nav-tabs .active {
  border: none !important;
  background-color: rgb(2, 117, 255) !important;
  color: white !important;
  font-weight: 900 !important;
}






/* ACCOUNT INFO */

.sup-info-div {
  margin: 30px;
  padding: 0 15px; 
  background-color: white; 
  border-radius: 5px; 
  max-width: 550px;
}
.sup-info-title {
  font-size: 24px; 
  color: black; 
  vertical-align: middle; 
  display: inline-block;
  margin-right: 20px;
  line-height: 1.4;
}





/* EDIT MANAGERS */

.sup-managers-div {
  margin: 30px;
  padding: 0 15px; 
  background-color: white; 
  border-radius: 5px; 
}



@media(max-width:1200px) {
  .sup-analytics-div {
    padding: 0; 
  }
  .sup-items-div {
    padding: 0;
  }
}


@media(min-width:992px) {
  .sup-promo-details {
    padding: 10px 5px 0;
  }
}

@media(max-width:991px) {
  .promo-status-div {
    text-align: center !important;
    margin-bottom: 10px;
  }
  .promo-btns {
    text-align: center !important;
  }
  .sup-promo-right-div {
    padding: 10px 0 0 0;
    height: 225px;
  }


  .sup-promo-details {
    padding: 0 5px;
  }
  .sup-promo-img {
    margin-bottom: 10px;
  }

  #promoItemsCityLouisville a,
  #promoItemsCityMinneapolis a,
  #promoItemsCityIowacity a {
    font-size: 10px;
    padding: 10px;
  }

  #promoItemsCityLouisville a span,
  #promoItemsCityMinneapolis a span,
  #promoItemsCityIowacity a span {
    font-size: 10px;
    padding: 2px 5px 3px;
  }

  .itemSpecialImg {
    width: 30px;
  }
  .itemSpecialDetails {
    font-size: 12px;
  }
  .itemSpecialEst {
    font-size: 10px;
    line-height: 1;
  }
  .itemSpecialTime {
    font-size: 10px;
  }
  .itemSpecialDayStr {
    font-size: 10px;
  }
  .itemSpecialDuration {
    font-size: 12px;
  }


  .sup-analytics-div,
  .sup-items-div {
    padding: 0 !important;
  }
  #supManagersTable td,
  #supManagersTableMobile td {
    padding: 10px 5px !important;
    font-size: 0.8em !important;
  }
}

@media(max-width:800px) {
  .sup-promo-details {
    padding: 0 20px;
    font-size: 0.8em;
  }
  #supplierPromoTable {
    font-size: 0.8em;
  }
}

@media(max-width:767px) {
  .supplier-dropdown {
    display: inline-block;
  }
  .supplier-aside {
    display: none;
  }
  .supplier-content {
    margin: 0;
  }
  .sup-promo-more-info {
    padding: 15px; 
  }
  .mobile-row {
    margin:4px 0 15px !important;
  }
  .sup-info-div {
    max-width: 100% !important;
  }
}

@media(min-width:681px) {
  .supplier-ah-header {
    display: inline-block !important;
  }
  .supplier-ah-mobile-header {
    display: none !important;
  }
}

@media(max-width:680px) {
  .supplier-ah-header {
    display: none !important;
  }
  .supplier-ah-mobile-header {
    display: inline-block !important;
  }
  .dropbtn {
    padding: 6px 12px;
  }
  .supplier-username {
    display: none;
  }
  .sup-promos-div {
    padding: 0;
  }
  .sup-info-div,
  .sup-managers-div {
    margin: 15px !important;
  }
}

@media(min-width:501px) {
  #supManagersTable {
    display:table;
  }
  #supManagersTableMobile {
    display:none;
  }
}

@media(max-width:500px) {
  /*
  .sup-promo-img,
  #supplier-promo-bg {
    height: 100px !important;
  }
  #view-promo-title {
    font-size: 16px !important;
  }
  #view-promo-label {
    font-size: 10px !important;
  }
  */

  /*
  #supplier-promo-preview-p {
    top: 55px !important;
  }
  .sup-promo-title,
  #supplier-promo-title {
    font-size: 18px !important;
  }
  #supplier-promo-label {
    font-size: 12px !important;
    top: 54px !important;
  }
  .sup-promo-label {
    font-size: 12px !important;
  }*/
  #sup-profile-picture,
  #sup-edit-profile-picture {
    width: 100px;
  }
  .mobile-full-row {
    display: block !important;
  }
  #supManagersTable {
    display:none;
  }
  #supManagersTableMobile {
    display:table !important;
  }
  #sup-btn-add-promo,
  #sup-btn-edit-info,
  #sup-btn-add-manager {
    float: none !important;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-size: 16px;
  }
  .sup-managers-desc {
    font-size: 12px !important;
    margin-top: 6px !important;
  }
}

@media(max-width:400px) {
  .sup-promo-right-div {
    height: 255px;
  }
  .sup-promo-impressions,
  .sup-promo-interactions {
    height: 70px;
  }
  .promo-btns {
    margin: 0 !important;
  }
  .promo-status-div,
  .promo-btns {
    display: block !important;
    text-align: center;
  }
}







