.black-bold {
	color: black; 
	font-weight: 900; 
	font-size: 16px !important; 
}
.black-bold-block {
	color: black; 
	font-weight: 900; 
	font-size: 16px !important; 
	display: block !important;
}


.upgradeTable th,
.upgradeTableLite th {
	vertical-align: middle !important;
}
.upgradeTable td,
.upgradeTableLite td {
	text-align: center;
	vertical-align: middle !important;
}


/* COLUMN 1 */

.upgradeTable thead th,
.upgradeTableLite thead th {
	border: none;
}
.upgradeTable tbody th,
.upgradeTableLite tbody th {
	border-left: 1px solid #ddd;
	padding-left: 20px !important;
	line-height: 1.2 !important;
}
.upgradeTable thead th:nth-child(1),
.upgradeTableLite thead th:nth-child(1) { 
	width: 25%; 
}


/* COLUMN 2 */

.upgradeTable thead th:nth-child(2),
.upgradeTableLite thead th:nth-child(2) { 
	width: 25%; 
	text-align: center; 
	padding: 10px;
	border: 2px solid #ddd !important;
	background-color: rgb(120,120,120);
	color: white;

}
.upgradeTable td:nth-child(2),
.upgradeTableLite td:nth-child(2) { 
	border-left: 2px solid #ddd !important;
	border-right: 2px solid #ddd !important;
	background-color: rgba(120,120,120,0.05);
}	


/* COLUMN 3 */

.upgradeTable thead th:nth-child(3) { 
	width: 25%; 
	text-align: center; 
	padding: 10px;
	border: 2px solid #ddd !important;
	background-color: rgb(120,120,120);
	color: white;

}
.upgradeTable td:nth-child(3) { 
	border-left: 2px solid #ddd !important;
	border-right: 2px solid #ddd !important;
	background-color: rgba(120,120,120,0.05);
}	


/* COLUMN 3/4 */

.upgradeTable thead th:nth-child(4),
.upgradeTableLite thead th:nth-child(3) {
	width: 25%; 
	text-align: center; 
	background-color: rgb(245,149,59); 
	color: white; 
	font-weight: 900; 
	padding: 10px; 
	border-top: 3px solid orange !important;
	border-right: 3px solid orange !important;
	border-left: 3px solid orange !important;
}
.upgradeTable td:nth-child(4),
.upgradeTableLite td:nth-child(3) {
	font-size: 10px; 
	background-color: rgba(245,149,59,0.1); 
	border-left: 3px solid orange; 
	border-right: 3px solid orange;
}





@media(max-width:600px) {
	#freeHeader { 
		display: none;
	}
	.upgradeTable thead th:nth-child(1),
	.upgradeTableLite thead th:nth-child(1) { 
		width: 20%; 
	}
	.upgradeTable td:nth-child(2),
	.upgradeTableLite td:nth-child(2) { 
		display: none;
	}	
	.upgradeTable tbody th,
	.upgradeTableLite tbody th {
		font-size: 0.7em !important;
		padding-left: 10px !important;
	}
	#btnChoosePlan {
		font-size: 12px !important;
	}
}