{% if down %}
<div>
	<div class="row">
		<div class="col-md-12">
			<div id="analytics-overview" class="form-panel" style="padding:20px;">
				<div class="form-head" style="margin-bottom:20px;">
			        <h3>Analytics</h3>
			    </div>

              	<div class="row upgrade-row" style="margin-bottom:10px;">
              		<div class="col col-md-12">
              			<h4 style="margin:20px;">We're sorry, this page is currently under maintenance. We're working hard to have it back up asap!</h3>
              			<h4 style="margin:20px;">Don't worry, your data is still being collected and stored!</h3>
              		</div>
              	</div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if !down %}

<div style="display:none;">
{% for imp in impressions %}
	<span id="impressionspan-{{ imp.specialId }}">
		<span id="details">{{ imp.details }}</span>
		<span id="date">{{ imp.date }}</span>
		<span id="time">{{ imp.time }}</span>
		<span id="impressions">{{ imp.impressions }}</span>
		<span id="day">{{ imp.day }}</span>
		<span id="status">{{ imp.status }}</span>
		<span id="status2">{{ imp.status2 }}</span>
		<span id="event">{{ imp.event }}</span>
		<span id="dealType">{{ imp.dealType }}</span>
		<span id="createdAt">{{ imp.createdAt }}</span>
		<span id="specialId">{{ imp.specialId }}</span>
		<span id="impDate">{{ imp.impDate }}</span>
	</span>
{% endfor %}
</div>

<div style="display:none;">
{% for eimp in eventImp %}
	<span id="eventimpspan-{{ eimp.eventId }}">
		<span id="eimpressions">{{ eimp.impressions }}</span>
		<span id="estart">{{ eimp.startTime }}</span>
		<span id="eend">{{ eimp.endTime }}</span>
		<span id="eday">{{ eimp.day }}</span>
		<span id="eimpDate">{{ eimp.impDate }}</span>
		<span id="ecreatedAt">{{ eimp.createdAt }}</span>
		<span id="eduration">{{ eimp.duration }}</span>
		<span id="etitle">{{ eimp.title }}</span>
		<span id="earcDate">{{ eimp.arcDate }}</span>
	</span>
{% endfor %}
</div>

<div style="display:none;">
{% for fav in allFavs %}
	<span id="favspan-{{ fav.profile_id }}">
		<span id="created_at">{{ fav.createdAt }}</span>
	</span>
{% endfor %}
</div>

<div style="display:none;">
{% for pv in profViews %}
	<span id="profviewspan">
		<span id="profViewDate">{{ pv.date }}</span>
		<span id="profViewCount">{{ pv.count }}</span>
	</span>
{% endfor %}
</div>




{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div>
	<div class="row">
		<div class="col-md-12">
			<div id="analytics-overview" class="form-panel" style="padding:20px;">
				<div class="form-head" style="margin-bottom:20px;">
			        <h3>Analytics</h3>
			    </div>

              	<div class="row upgrade-row" style="margin-bottom:10px;">
              		<div class="col col-md-12">
              			<p>Are you ready to get real-time feedback on your customer engagement?</p>
              			<p>Would you like to interact with graphs and charts to map the success of your specials and events over time?</p>
              			<p style="margin-top:10px;">
              				<a href="" onclick="premium(event)" style="color:rgb(244,149,60); font-weight:900;">
              					Upgrade to Premium!
              				</a>
              			</p>
		    		</div>
		    	</div>
            </div>
        </div>
    </div>
</div>
{% endif %}





{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}

	<div class="row">
		<div class="col-md-12">
			<div id="analytics-overview" class="form-panel" style="padding:20px;">

				<div class="form-head" style="margin-bottom:25px;">
              		<h3 class="analytics-header">Analytics Overview</h3>

		          	<select class="form-control btn-primary" onchange="changeDateRange(this.value)" style="display:inline-block; width:unset; margin-right:10px;">
			    		<option value="today">Today</option>
			    		<option value="yesterday">Yesterday</option>
		            	<option value="last7Days" selected>Last 7 Days</option>
		            	<option value="last28Days">Last 28 Days</option>
		          	</select>

		          	<p style="font-size:14px; display:inline-block;">
		          		Results for <span id="resultsRange" style="font-weight:bolder; color:black;"></span>
		          		<span id="todayNote" style="display:none; margin-left:10px; font-size:12px;">(results for today may be incomplete)</span>
		          	</p>
			    </div>

				<div class="row" style="margin:0 -20px;">

					<div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border:1px solid rgb(230,230,230); padding:20px;">
						<div style="height:60px; margin-bottom:14px;">
							<p style="color:black; font-weight:bolder; margin-bottom:5px;">Special Impressions</p>
							<p style="font-size:0.8em; line-height:1.2;">
								Amount of times your specials were seen on the AppyHour app
							</p>
						</div>
						<div style="height:60px; margin-bottom:14px;">
							<h4 id="impCount" style="font-size:2em; font-weight:900; color:rgb(0,90,160);">{{ impPastWeek }}</h4>
							<p style="font-size:0.8em;">
								<span id="impChange" style="font-weight:900;"></span>
								from <span id="impChangeRange"></span>
							</p>
						</div>
						<div style="margin-bottom:14px;">
							<canvas id="specialImpChart"></canvas>
						</div>
					</div>

					<div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border:1px solid rgb(230,230,230); padding:20px;">
						<div style="height:60px; margin-bottom:14px;">
							<p style="color:black; font-weight:bolder; margin-bottom:5px;">Event Impressions</p>
							<p style="font-size:0.8em; line-height:1.2;">
								Amount of times your events were seen on the AppyHour app
							</p>
						</div>
						<div style="height:60px; margin-bottom:14px;">
							<h4 id="eventImpCount" style="font-size:2em; font-weight:900; color:rgb(0,90,160);">{{ eventImpPastWeek }}</h4>
							<p style="font-size:0.8em;">
								<span id="eventImpChange" style="font-weight:900;"></span>
								from <span id="eventImpChangeRange"></span>
							</p>
						</div>
						<div style="margin-bottom:14px;">
							<canvas id="eventImpChart"></canvas>
						</div>
					</div>

					<div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border:1px solid rgb(230,230,230); padding:20px;">
						<div style="height:60px; margin-bottom:14px;">
							<p style="color:black; font-weight:bolder; margin-bottom:5px;">Favorites</p>
							<p style="font-size:0.8em; line-height:1.2;">
								Customers who have favorited your establishment
							</p>
						</div>
						<div style="height:60px; margin-bottom:14px;">
							<h4 id="favCount" style="font-size:2em; font-weight:900; color:rgb(0,90,160);">{{ favorites }}</h4>
							<p style="font-size:0.8em;">
								<span id="favChange" style="font-weight:900;"></span>
								from <span id="favChangeRange"></span>
							</p>
						</div>
						<div style="margin-bottom:14px;">
							<canvas id="favoritesChart"></canvas>
						</div>
					</div>

					<div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" style="border:1px solid rgb(230,230,230); padding:20px;">
						<div style="height:60px; margin-bottom:14px;">
							<p style="color:black; font-weight:bolder; margin-bottom:5px;">Profile Views</p>
							<p style="font-size:0.8em; line-height:1.2;">
								Amount of times customers visited your profile on the AppyHour app
							</p>
						</div>
						<div style="height:60px; margin-bottom:14px;">
							<h4 id="profViewsCount" style="font-size:2em; font-weight:900; color:rgb(0,90,160);">{{ profViewsCount }}</h4>
							<p style="font-size:0.8em;">
								<span id="profViewsChange" style="font-weight:900;"></span>
								from <span id="profViewsChangeRange"></span>
							</p>
						</div>
						<div style="margin-bottom:14px;">
							<canvas id="profViewsChart"></canvas>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="weekly-impressions" class="form-panel">
				<div class="form-head" style="margin-bottom:0">
              		<h3 class="analytics-header">Weekly Impressions</h3>

              		<select id="filterImpSelect" class="form-control btn-primary" onchange="filterWeeklyImp()" style="display:inline-block; width:unset; margin-right:10px;">
			    		<option value="specials" selected="">Specials</option>
			    		<option value="events">Events</option>
		          	</select>

		          	<button id="btnShowArchived" class="form-control btn-default" onclick="showArchived()" style="display:inline-block; width:unset;">
		          		Show Archived
		          	</button>
			    </div>

		    	<div class="row">
		    		<table id="specialsAnalyticsTable" class="display" width="100%"></table>
		    		<table id="specialsAnalyticsTableMobile" class="display" width="100%"></table>
		    	</div>
			</div>
		</div>
	</div>
</div>

{% endif %}
