<div style="display:none;">
{% for imp in impressions %}
	<span id="impressionspan-{{ imp.specialId}}">
		<span id="details">{{ imp.details }}</span>
		<span id="date">{{ imp.date }}</span>
		<span id="time">{{ imp.time }}</span>
		<span id="impressions">{{ imp.impressions }}</span>
		<span id="day">{{ imp.day }}</span>
		<span id="status">{{ imp.status }}</span>
		<span id="status2">{{ imp.status2 }}</span>
		<span id="event">{{ imp.event }}</span>
	</span>
{% endfor %}
</div>

{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}

	<div class="form-panel analytics-panel">
	    <div class="form-header" style="margin-bottom:30px;">
	    	<h3 style="pull-left">Analytics (BETA)</h3>
	    	<!--<p id="msg02042020" style="display:none; margin-top:10px; padding:10px; background:rgba(255,237,100,0.2); border-radius:5px; font-style:italic; font-size:0.9em; border:1px solid rgb(255,237,100); box-shadow:0 0 3px grey;"><span style="font-weight:900;">02/05/2020:</span> Introducing the AppyHour Analytics page! We're working to provide you with further insight into your metrics. Keep checking back over the next few weeks for continuous improvements and deeper insight!
	    	<button style="color:red; background:none; border:none;" onclick="hideMessage()">Close</button>
	    	</p>-->
	    </div>

	    <!--
		{% if !isAppyHour %}
	    <div class="form-horizontal analytics-form style-form" style="filter:blur(6px); -webkit-filter:blur(6px);">
	    {% endif %}
	    {% if isAppyHour %}
	    <div class="form-horizontal analytics-form style-form">
	    {% endif %}
		-->
		
		<div class="form-horizontal analytics-form style-form">
		
			<div class="row" style="margin-bottom:10px;">
				<div class="col col-md-4 col-sm-4 col-xs-4" style="margin-bottom:20px;">
					<div id="impressionsCircle" style="border:10px solid rgb(0,90,160); border-radius:50%; width:200px; height:200px; text-align:center; margin:auto; vertical-align:middle; padding:0 20px; box-shadow:0px 0px 10px rgb(0,90,160);">
						<p class="circleP" style="font-weight:900; margin-top:32px; margin-bottom:15px; color:black;">Impressions</p>
						<h4 class="circleH" style="font-size:2em; color:rgb(0,90,160); font-weight:900;">{{ impPastWeek }}</h4>
						<p class="circleChange" style="margin-bottom:15px; font-size:0.5em;">
							{% if impChange > 0 %}
							<span style="color:green; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ impChange }}%
							</span>
							{% endif %}
							{% if impChange < 0 %}
							<span style="color:red; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ impChange }}%
							</span>
							{% endif %}
							{% if impChange == 0 %}
							<span style="font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ impChange }}%
								</span>
							{% endif %}
							from previous week
						</p>
						<p class="circleP2" style="font-size:0.5em; font-weight:900;">
							Past 7 days
							<br />
							<span style="font-style:italic; font-weight:100;">{{ pastWeek }}</span>
						</p>
					</div>
					<div id="impressionsCircleMobile" style="text-align:center;">
						<p style="font-weight:900; margin-bottom:10px; font-size:0.8em; color:black;">Impressions</p>
						<div style="border:5px solid rgb(0,90,160); border-radius:50%; width:100px; height:100px; text-align:center; margin:auto; vertical-align:middle; padding:0 10px; box-shadow:0px 0px 10px rgb(0,90,160);">
							<h4 style="font-size:2em; color:rgb(0,90,160); font-weight:900; margin-top:18px;">{{ impPastWeek }}</h4>
							<p style="font-size:0.7em;">
								{% if impChange > 0 %}
								<span style="color:green; font-weight:900;">
									<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ impChange }}%
								</span>
								{% endif %}
								{% if impChange < 0 %}
								<span style="color:red; font-weight:900;">
									<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ impChange }}%
								</span>
								{% endif %}
								{% if impChange == 0 %}
								<span style="font-weight:900;">
									<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ impChange }}%
								</span>
								{% endif %}
							</p>
						</div>
						<p style="font-size:0.7em; font-weight:900; margin-top:10px;">
							Past 7 days
							<br />
							<span style="font-style:italic; font-weight:100;">{{ pastWeek }}</span>
						</p>
					</div>
				</div>
				<div class="col col-md-4 col-sm-4 col-xs-4" style="margin-bottom:20px;">
					<div id="favoritesCircle" style="border:10px solid rgb(0,160,90); border-radius:50%; width:200px; height:200px; text-align:center; margin:auto; vertical-align:middle; padding:0 20px; box-shadow:0px 0px 10px rgb(0,160,90);">
						<p class="circleP" style="font-weight:900; margin-top:32px; margin-bottom:15px; color:black;">Favorites</p>
						<h4 class="circleH" style="font-size:2em; color:rgb(0,160,90); font-weight:900;">{{ favorites }}</h4>
						<p class="circleChange" style="margin-bottom:15px; font-size:0.5em;">
							{% if favoritesChange > 0 %}
							<span style="color:green; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ favoritesChange }}%
							</span>
							{% endif %}
							{% if favoritesChange < 0 %}
							<span style="color:red; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ favoritesChange }}%
							</span>
							{% endif %}
							{% if favoritesChange == 0 %}
							<span style="font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ favoritesChange }}%
								</span>
							{% endif %}
							from last week
						</p>
						<p class="circleP2" style="font-size:0.5em; font-weight:900;">Customers who have favorited your establishment</p>
					</div>
					<div id="favoritesCircleMobile" style="text-align:center;">
						<p style="font-weight:900; margin-bottom:10px; font-size:0.8em; color:black;">Favorites</p>
						<div style="border:5px solid rgb(0,160,90); border-radius:50%; width:100px; height:100px; text-align:center; margin:auto; vertical-align:middle; padding:0 10px; box-shadow:0px 0px 10px rgb(0,160,90);">
							<h4 style="font-size:2em; color:rgb(0,160,90); font-weight:900; margin-top:18px;">{{ favorites }}</h4>
							<p style="font-size:0.7em;">
								{% if favoritesChange > 0 %}
								<span style="color:green; font-weight:900;">
									<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ favoritesChange }}%
								</span>
								{% endif %}
								{% if favoritesChange < 0 %}
								<span style="color:red; font-weight:900;">
									<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ favoritesChange }}%
								</span>
								{% endif %}
								{% if favoritesChange == 0 %}
								<span style="font-weight:900;">
									<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ favoritesChange }}%
								</span>
								{% endif %}
							</p>
						</div>
						<p style="font-size:0.7em; font-weight:900; margin-top:10px;">Customers who have favorited your establishment</p>
					</div>
				</div>
				<div class="col col-md-4 col-sm-4 col-xs-4" style="margin-bottom:20px;">
					<div id="customersCircle" style="border:10px solid rgb(102,0,160); border-radius:50%; width:200px; height:200px; text-align:center; margin:auto; vertical-align:middle; padding:0 20px; box-shadow:0px 0px 10px rgb(102,0,160);">
						<p class="circleP" style="font-weight:900; margin-top:32px; margin-bottom:15px; color:black;">Active Users</p>
						<h4 class="circleH" style="font-size:2em; color:rgb(102,0,160); font-weight:900;">{{ profs }}</h4>
						<p class="circleChange" style="margin-bottom:20px; font-size:0.5em;">
							{% if profsChange > 0 %}
							<span style="color:green; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ profsChange }}%
							</span>
							{% endif %}
							{% if profsChange < 0 %}
							<span style="color:red; font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ profsChange }}%
							</span>
							{% endif %}
							{% if profsChange == 0 %}
							<span style="font-weight:900; font-size:1.3em;">
								<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ profsChange }}%
							</span>
							{% endif %}
							from last week
						</p>
						<p class="circleP2" style="font-size:0.5em; margin-bottom:10px; font-weight:900;">
							{% if location == 'msp' %}Minneapolis / St. Paul area{% endif %}
							{% if location == 'ic' %}Iowa City area{% endif %}
							{% if location == 'den' %}Denver area{% endif %}
						</p>
					</div>
					<div id="customersCircleMobile" style="text-align:center;">
						<p style="font-weight:900; margin-bottom:10px; font-size:0.8em; color:black;">Active Users</p>
						<div style="border:5px solid rgb(102,0,160); border-radius:50%; width:100px; height:100px; text-align:center; margin:auto; vertical-align:middle; padding:0 10px; box-shadow:0px 0px 10px rgb(102,0,160);">
							<h4 style="font-size:2em; color:rgb(102,0,160); font-weight:900; margin-top:18px;">{{ profs }}</h4>
							<p style="font-size:0.7em;">
								{% if profsChange > 0 %}
								<span style="color:green; font-weight:900;">
									<i class="fa fa-caret-up" style="margin-right:2px;"></i>{{ profsChange }}%
								</span>
								{% endif %}
								{% if profsChange < 0 %}
								<span style="color:red; font-weight:900;">
									<i class="fa fa-caret-down" style="margin-right:2px;"></i>{{ profsChange }}%
								</span>
								{% endif %}
								{% if profsChange == 0 %}
								<span style="font-weight:900;">
									No change 
								</span>
								{% endif %}
							</p>
						</div>
						<p style="font-size:0.7em; font-weight:900; margin-top:10px;">
							{% if location == 'msp' %}Minneapolis / St. Paul area{% endif %}
							{% if location == 'ic' %}Iowa City area{% endif %}
							{% if location == 'den' %}Denver area{% endif %}
						</p>
					</div>
				</div>
			</div>

			<hr style="border-top:1px solid rgb(220,220,220);">


			<h3 style="text-align:center; margin-bottom:15px; color:black; margin-top:30px;">Impressions</h3>
	    	<p style="font-size:.8em; text-align:center; margin-bottom:5px;">The following data displays the amount of times your specials were seen on the AppyHour app.</p>
	    	<p style="font-size:.7em; text-align:center; margin-bottom:25px;"><span style="background-color:rgba(244, 149, 60, 0.5); border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp;= AppyHour Exclusive Special</p>
	    	
	    	<div style="margin-bottom:25px; text-align:center;">
	    		<button id="prevWeek" class="btn btn-default" onclick="prevWeek(event)" style="margin-right:5px;"><i class="fa fa-chevron-left"></i> Previous Week</button>
	    		<button id="prevDay" class="btn btn-default" onclick="prevDay(event)" style="margin-right:5px; display:none;"><i class="fa fa-chevron-left"></i> Previous Day</button>
	    		<button id="week" class="btn btn-primary" onclick="weekPicker(event)" style="display:inline;" data-date-format="yyyy-mm-dd" data-date="{{ weekStart }}" data-date-end-date="{{ weekEnd }}"></button>
	    		<button id="mobile-day" class="btn btn-primary" onclick="dayPicker(event)" style="display:none;" data-date-format="yyyy-mm-dd" data-date="{{ toDate }}" data-date-end-date="0d"></button>
	    		<button id="nextWeek" class="btn btn-default" onclick="nextWeek(event)" style="margin-left:5px;" disabled>Next Week <i class="fa fa-chevron-right"></i></button>
	    		<button id="nextDay" class="btn btn-default" onclick="nextDay(event)" style="margin-left:5px; display:none;" disabled>Next Day <i class="fa fa-chevron-right"></i></button>
	    	</div>

			<table id="calTable" class="table"></table>

			<table id="calTableMobile" class="table" style="display:none;"></table>

			<!--
	    	<h3 style="text-align:center; margin-bottom:15px; color:black; margin-top:30px;">Impressions</h3>
	    	<p style="font-size:.8em; text-align:center; margin-bottom:5px;">The following data displays the amount of times your special was seen on the AppyHour app.</p>
	    	<p style="font-size:.7em; text-align:center; margin-bottom:25px;"><span style="background-color:rgb(244, 149, 60); border:1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp;= AppyHour Exclusive Special</p>
	    	
	    	<div style="margin-bottom:25px; text-align:center;">
	    		<button id="prevWeek" class="btn btn-default" onclick="prevWeek(event)" style="margin-right:5px;"><i class="fa fa-chevron-left"></i> Previous Week</button>
	    		<button id="prevDay" class="btn btn-default" onclick="prevDay(event)" style="margin-right:5px; display:none;"><i class="fa fa-chevron-left"></i> Previous Day</button>
	    		<button id="week" class="btn btn-primary" onclick="weekPicker(event)" style="display:inline;" data-date-format="yyyy-mm-dd" data-date="{{ weekStart }}" data-date-end-date="{{ weekEnd }}"></button>
	    		<button id="mobile-day" class="btn btn-primary" onclick="dayPicker(event)" style="display:none;" data-date-format="yyyy-mm-dd" data-date="{{ toDate }}" data-date-end-date="0d"></button>
	    		<button id="nextWeek" class="btn btn-default" onclick="nextWeek(event)" style="margin-left:5px;" disabled>Next Week <i class="fa fa-chevron-right"></i></button>
	    		<button id="nextDay" class="btn btn-default" onclick="nextDay(event)" style="margin-left:5px; display:none;" disabled>Next Day <i class="fa fa-chevron-right"></i></button>
	    	</div>
	    	
	    	<div class="row impressions-row seven-cols" style="margin-bottom:40px;">
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="mon-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="tue-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="wed-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="thu-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="fri-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="sat-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    		<div class="col col-md-1" style="padding:0;">
	    			<canvas id="sun-impressions" style="height:240px;" height="240"></canvas>
	    		</div>
	    	</div>

	    	<div class="row mobile-impressions-row one-col" style="display:none; margin-bottom:40px;">
	    		<div class="col col-md-12" style="padding:0;">
	    			<canvas id="impressions-mobile" style="height:240px;"></canvas>
	    		</div>
	    	</div>
	    	-->

	    	<div class="row table-row">
	    		<table id="dataTable" class="display" width="100%"></table>
	    	</div>
		</div>
	</div>

</div>
