<div class="row">
	<div class="col-md-12">
		<div class="form-panel">
			<div class="form-header" style="margin-bottom:20px;">
				<h3>{{ day }} <span style="color:rgb(121,121,121);">| {{ todaysDate }}</span></h3>
			</div>
			<div class="form-horizontal style-form">
				<div class="row">
					<div class="col col-md-6 col-sm-12 col-xs-12">
						<h4 style="margin-bottom:15px; padding-bottom:5px; border-bottom:1px solid rgb(192,192,192);">Specials</h4>
						<form id="dashTodaysSpecialsForm" class="form-horizontal" role="form" method="post" action="/editspecialorevent">
							<div style="padding-bottom:0;">
								{% if todaysSpecials.length %}
								<div>
									{% for soe in todaysSpecials %}
									{% if soe.current %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px rgba(0,200,0,0.5);">
									{% endif %}
									{% if soe.upcoming %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd;">
									{% endif %}
									{% if soe.expired %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd; background-color:rgba(192,192,192,0.1);">
									{% endif %}
										<div class="row display-flex" style="margin-left:0px; margin-right:0px;">
											<div class="col col-md-2 col-sm-2 col-xs-2" style="text-align:center; padding:10px 5px; background:rgba(244, 149, 60, 0.1); border-right:1px solid rgb(192,192,192); max-width:45px;">
												<img class="todays-soe-icon" src="assets/img/{{ soe.deal_type_ref_id_TS }}" height="20px" width="20px" style="display:block; margin:auto;">
											</div>
											<div class="col col-md-8 col-sm-8 col-xs-8" style="text-align:left; padding:10px 10px 10px 12px; flex-grow:1;">
												<h3 class="todays-soe-title">
													{% if soe.price_type_ref_id == 300 %}
										  				${{ soe.price.toFixed(2) }} {{ soe.details }}
										  			{% endif %}
										  			{% if soe.price_type_ref_id == 301 %}
										  				{{ soe.price.toFixed(0) }}% Off {{ soe.details }}
										  			{% endif %}
										  			{% if soe.price_type_ref_id == 302 %}
										  				BOGO {{ soe.details }}
										  			{% endif %}
										  			{% if soe.price_type_ref_id == 307 %}
										  				Free {{ soe.details }}
										  			{% endif %}
													{{ soe.title }}
												</h3>
												<h4 class="todays-soe-timeremaining" style="color:red">
													<i class="fa fa-clock-o" style="margin-right:3px;"></i>
													{% if soe.current %}
														{{ soe.timeremaining }} 
													{% endif %}
													{% if soe.upcoming || soe.expired %}
														{{ soe.duration }}
													{% endif %}
												</h4>
												{% if soe.reoccurringStr %}
													<p class="todays-soe-recurring">
														<i class="fa fa-retweet" style="margin-right:1px;"></i>
														Every {{ soe.reoccurringStr }}
													</p>
												{% endif %}
											</div>
											<div class="col col-md-2 col-sm-2 col-xs-2" style="padding:10px 5px; max-width:55px;">
												{% if soe.current || soe.upcoming %}
												<i class="fa fa-pencil" style="display:block; margin:auto;"></i>
												{% endif %}
											</div>
										</div>	
									</div>
									{% endfor %}
								</div>
								{% endif %}
							</div>
						</form>
					</div>
					<div class="col col-md-6 col-sm-12 col-xs-12">
						<h4 style="margin-bottom:15px; padding-bottom:5px; border-bottom:1px solid rgb(192,192,192);">Events</h4>
						<form id="dashTodaysEventsForm" class="form-horizontal" role="form" method="post" action="/editspecialorevent">
							<div style="padding-bottom:0;">
								{% if todaysEvents.length %}
								<div>
									{% for soe in todaysEvents %}
									{% if soe.current %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px rgba(0,200,0,0.5);">
									{% endif %}
									{% if soe.upcoming %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd;">
									{% endif %}
									{% if soe.expired %}
									<div class="todays-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd; background-color:rgba(192,192,192,0.1);">
									{% endif %}
										<div class="row display-flex" style="margin-left:0px; margin-right:0px;">
											<div class="col col-md-2 col-sm-2 col-xs-2" style="text-align:center; padding:10px 5px; background:rgba(20, 20, 200, 0.1); border-right:1px solid rgb(192,192,192); max-width:45px;">
												<img class="todays-soe-icon" src="assets/img/event-star3.png" height="20px" width="20px" style="display:block; margin:auto;">
											</div>
											<div class="col col-md-8 col-sm-8 col-xs-8" style="text-align:left; padding:10px 10px 10px 12px; flex-grow:1;">
												<h3 class="todays-soe-title">{{ soe.title }}</h3>
												<h4 class="todays-soe-timeremaining" style="color:red">
													<i class="fa fa-clock-o" style="margin-right:3px;"></i>
													{% if soe.current %}
														{{ soe.timeremaining }} 
													{% endif %}
													{% if soe.upcoming || soe.expired %}
														{{ soe.duration }}
													{% endif %}
												</h4>
												{% if soe.reoccurringStr %}
													<p class="todays-soe-recurring">
														<i class="fa fa-retweet" style="margin-right:1px;"></i>
														Every {{ soe.reoccurringStr }}
													</p>
												{% endif %}
											</div>
											<div class="col col-md-2 col-sm-2 col-xs-2" style="padding:10px 5px; max-width:55px;">
												{% if soe.current || soe.upcoming %}
												<i class="fa fa-pencil" style="display:block; margin:auto;"></i>
												{% endif %}
											</div>
										</div>

										<!--
										<div class="row mobile-todays-soe-details" style="margin-bottom:20px; padding-top:5px;">
											<div class="col col-md-12">
												<p class="todays-soe-details">{{ soe.event_details }}</p>
											</div>
										</div>
										<div class="row" style="margin-top:15px; margin-bottom:5px;">
											<div class="col col-md-12">
												<h5 class="todays-soe-specials" style="color:black; background-color: rgba(0,0,200,0.1); padding:4px 0 4px 8px;">Specials</h5>
											</div>
										</div>
										{% for special in soe.specials %}
										<div class="row" id="soeSpecialRow{{ special.special_id }}">
											<div class="col col-md-12" style="line-height:1.5;">
												<img class="todays-soe-special-icon" src="assets/img/{{special.deal_type_ref_id_TS}}" height="20px" width="20px" style="margin-left:5px; margin-right:5px; display:inline;">
												<p class="todays-soe-special-details" style="display:inline;">
												{% if special.price_type_ref_id == 300 %}
								  					${{special.price.toFixed(2)}} {{special.special_details}}
									  			{% endif %}
									  			{% if special.price_type_ref_id == 301 %}
									  				{{special.price.toFixed(0)}}% Off {{special.special_details}}
									  			{% endif %}
									  			{% if special.price_type_ref_id == 302 %}
									  				BOGO {{special.special_details}}
									  			{% endif %}
									  			{% if special.price_type_ref_id == 307 %}
									  				Free {{special.special_details}}
									  			{% endif %}
									  			</p>
											</div>
										</div>
										{% endfor %}

										<div id="soeAddedSpecials{{ soe.event_id }}"></div>

										{% if !soe.specials.length %}
										<div class="row" id="todaysSoeNoSpecialsRow{{ soe.event_id }}">
											<div class="col col-md-12" style="line-height:1.5;">
												<p class="todays-soe-special-details" style="font-size:14px; color:#797979; padding-left:7px;">
													No specials for this event. 
												</p>
											</div>
										</div>
										{% endif %}
										-->
									</div>
									{% endfor %}
								</div>
								{% endif %}
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-panel">
			<div class="form-header" style="margin-bottom:20px;">
				<h3 style="font-size:20px;">Upcoming Specials & Events</h3>
			</div>
			<div class="form-horizontal style-form">
				<div class="row" style="margin-bottom:10px;">
					<div class="col col-md-4 col-sm-12 col-xs-12">
						<label style="display:inline; font-size:.8em; color:black; margin-right:5px;">Date Range: </label>
						<input style="display:inline; width:65%;" type="text" id="upcomingSoeDateRange" class="form-control" />
					</div>
					<div class="col col-md-4 col-sm-12 col-xs-12">
						<label style="display:inline; font-size:.8em; color:black; margin-right:5px;">Type: </label>
						<button id="upcomingSoeFilterSpecials" type="button" style="display:inline; margin-bottom:2px;" class="btn btn-default active" onclick="selectTypeFilter('Specials')">Specials</button>
			            <button id="upcomingSoeFilterEvents" type="button" style="display:inline; margin-bottom:2px;" class="btn btn-default active" onclick="selectTypeFilter('Events')">Events</button>
			        </div>
					<div class="col col-md-4 col-sm-12 col-xs-12" style="text-align:right;">	
						<div class="left-inner-addon" style="display:inline;">
					        <i class="fa fa-search" style="padding:9px !important;"></i>
					        <input style="display:inline; width:50%;" type="text" id="upcomingSoeSearch" class="form-control" onkeypress="upcomingSoeSearch(event)" />
					    </div>
						<button type="button" style="display:inline; margin-bottom:2px;" class="btn btn-primary" onclick="upcomingSoeSearch(null)">Search</button>
						<button type="button" style="display:inline; margin-bottom:2px;" class="btn btn-default" onclick="upcomingSoeClear()">Clear</button>
					</div>
				</div>
				<div class="row">
					<div class="col col-md-12 col-sm-12 col-xs-12">
						<table class="table" id="upcomingSoeTable">
							<thead style="background-color:rgba(192, 192, 192, 0.3); color:black;">
								<tr>
									<td>Date</td>
									<td>Type</td>
									<td>Details</td>
									<td>Duration</td>
									<td></td>
								</tr>
							</thead>
							{% if upcomingSoe.length %}
							<tbody>
								{% for usoe in upcomingSoe %}
								{% if usoe.current %}
								<tr class="active-special">
								{% endif %}
								{% if usoe.upcoming %}
								<tr class="upcoming-special">
								{% endif %}
									<td class="ts-date-cell" style="vertical-align:middle;">
										{{usoe.soeDate}}
									</td>
							  		<td class="ts-icon-cell" style="vertical-align:middle; padding-left:13px;">
							  			<div class="deal-type-icon">
							  				{% if usoe.deal_type_ref_id_TS %}
							  				<img src="assets/img/{{usoe.deal_type_ref_id_TS}}">
							  				{% endif %}
							  				{% if !usoe.deal_type_ref_id_TS %}
							  				<img src="assets/img/event-star3.png">
							  				{% endif %}
							  			</div>
							  		</td>
							  		<td class="ts-details-cell" style="vertical-align:middle;">
							  			<div class="details">
							  			{% if usoe.special_id %}
								  			{% if usoe.price_type_ref_id == 300 %}
								  				${{usoe.price.toFixed(2)}} {{usoe.details}}
								  			{% endif %}
								  			{% if usoe.price_type_ref_id == 301 %}
								  				{{usoe.price.toFixed(0)}}% Off {{usoe.details}}
								  			{% endif %}
								  			{% if usoe.price_type_ref_id == 302 %}
								  				BOGO {{usoe.details}}
								  			{% endif %}
								  			{% if usoe.price_type_ref_id == 307 %}
								  				Free {{usoe.details}}
								  			{% endif %}
							  			{% endif %}
							  			{% if usoe.event_id %}
							  				{{usoe.title}}
							  			{% endif %}
							  			</div>
							  		</td>
							  		<td class="ts-time-cell" style="vertical-align:middle;">
							  			<div class="ends-at">
											{% if usoe.current %}
												{{usoe.timeremaining}} 
											{% endif %}
											{% if usoe.upcoming || usoe.expired %}
												{{usoe.duration}}
											{% endif %}
							  			</div>
							  		</td>
							  		<td class="ts-recurring-cell" style="vertical-align:middle;">
							  			<i class="fa fa-retweet" style="margin-right:1px;"></i>
							  			{{usoe.reoccurringStr}}
							  		</td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="col-md-6">
		<div class="form-panel">
			<div class="form-header" style="margin-bottom:20px;">
				<h3 style="font-size:20px;">Upcoming Specials & Events</h3>
			</div>
			<div class="form-horizontal style-form">
				<div class="row">
					<div class="col col-md-12 col-sm-12 col-xs-12">
						<form id="dailySoeForm" class="form-horizontal" role="form" method="post" action="/editspecialorevent">
							<div style="padding-bottom:0;">
								{% if dailySoe.length %}
								{% for days in dailySoe %}
				    			{% for soe in days %}

									{% if loop.first && soe.day == 0 %}
									<h4 class="daily-soe-day">Monday</h4>
									{% endif %}
							  		{% if loop.first && soe.day == 1 %}
							  		<h4 class="daily-soe-day">Tuesday</h4>
							  		{% endif %}
							  		{% if loop.first && soe.day == 2 %}
							  		<h4 class="daily-soe-day">Wednesday</h4>
							  		{% endif %}
							  		{% if loop.first && soe.day == 3 %}
							  		<h4 class="daily-soe-day">Thursday</h4>
							  		{% endif %}
							  		{% if loop.first && soe.day == 4 %}
							  		<h4 class="daily-soe-day">Friday</h4>
							  		{% endif %}
							  		{% if loop.first && soe.day == 5 %}
							  		<h4 class="daily-soe-day">Saturday</h4>
							  		{% endif %}
							  		{% if loop.first && soe.day == 6 %}
							  		<h4 class="daily-soe-day">Sunday</h4>
							  		{% endif %}
							  	

							  	{% if !soe.empty %}
							  	/*
								{% if soe.current %}
								<div class="daily-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px rgba(0,200,0,0.5);">
								{% endif %}
								{% if soe.upcoming %}
								<div class="daily-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd;">
								{% endif %}
								{% if soe.expired %}
								<div class="daily-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd; background-color:rgba(192,192,192,0.1);">
								{% endif %}
								*/

								{% if !loop.last %}
								<div class="daily-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:7px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd;">
								{% endif %}
								{% if loop.last %}
								<div class="daily-soe-div" style="border:1px solid rgb(192,192,192); margin-bottom:20px; border-radius:5px; box-shadow: 0px 1px 3px #aab2bd;">
								{% endif %}
									<div class="row display-flex" style="margin-left:0px; margin-right:0px;">
										<div class="col col-md-2 col-sm-2 col-xs-2" style="text-align:center; padding:10px 5px; background:rgba(192,192,192,0.1); border-right:1px solid rgb(192,192,192); max-width:45px;">
											<img class="daily-soe-icon" src="assets/img/{{ soe.deal_type_ref_id_DS }}" height="20px" width="20px" style="display:block; margin:auto;">
										</div>
										<div class="col col-md-8 col-sm-8 col-xs-8" style="text-align:left; padding:10px 10px 10px 12px; flex-grow:1;">
											<h3 class="daily-soe-title">
												{% if soe.price_type_ref_id == 300 %}
									  				${{ soe.price.toFixed(2) }} {{ soe.details }}
									  			{% endif %}
									  			{% if soe.price_type_ref_id == 301 %}
									  				{{ soe.price.toFixed(0) }}% Off {{ soe.details }}
									  			{% endif %}
									  			{% if soe.price_type_ref_id == 302 %}
									  				BOGO {{ soe.details }}
									  			{% endif %}
									  			{% if soe.price_type_ref_id == 307 %}
									  				Free {{ soe.details }}
									  			{% endif %}
												{{ soe.title }}
											</h3>
											<h4 class="daily-soe-timeremaining" style="color:red">
												/*
												{% if soe.current %}
													{{ soe.timeremaining }} 
												{% endif %}
												{% if soe.upcoming || soe.expired %}
													{{ soe.duration }}
												{% endif %}
												*/
												{{ soe.start_time_DS }} - {{ soe.end_time_DS }}
											</h4>
										</div>
										<div class="col col-md-2 col-sm-2 col-xs-2" style="padding:10px 5px; max-width:55px;">
											<i class="fa fa-pencil" style="display:block; margin:auto;"></i>
										</div>
									</div>	
								</div>
								{% endif %}

								{% if soe.empty %}
								<div style="margin-bottom:20px; font-size:.8em;"><p>No specials or events</p></div>
								{% endif %}

							  	{% endfor %}
							  	{% endfor %}
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
