{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<body>
  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <header class="header black-bg">
    <div class="sidebar-toggle-box fa fa-bars" id="toggle-nav"></div>

    <a href="/dashboard" class="logo"><b>AppyHour<span style="font-size:.7em; vertical-align: top; margin-left:3px; color:white; font-weight:100;">&reg;</span></b></a>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        
      </ul>
    </div>
  </header>

  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
      <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion" style="display:none;">
              {% if ests.length > 1 %}
              <li>
                <form class="sel sel--black-panther form-horizontal" role="form" method="get" action="/changeest">
                  <select name="selectedEst" id="selectedEst" onchange="this.form.submit()" style="width:100%; cursor:pointer; font-size:12px; height:27px; margin-bottom:10px;">
                    {% for e in ests %}
                    <option value="{{ e.establishment_id }}">{{ e.name }}</option>
                    {% endfor %}
                  </select>
                  <input id="selectedEstHidden" name="selectedEstHidden" value="{{ est.establishment_id }}" hidden />
                  <input id="page" name="page" hidden />
                </form>
              </li>
              {% endif %}

              <li class="user-box">
                <div class="profile-header-container">   
                  <div class="profile-header-img">
                    <!--
                    <img src="https://app.appyhourmobile.com/img/est-img/{{ user.profile_pic }}" class="img-circle" width="100" id="user-profile-picture" />
                    -->
                    <img src="{{ est.profile_pic }}" width="100%" class="profile-pic" />
                    <!--<div class="rank-label-container">
                      <span class="rank-label">{{ user.establishment.name }}</span>
                    </div>-->
                    <!--
                    <div class="rank-label-container">
                      <span class="label label-default rank-label" id="user-header">{{ user.establishment.name }}</span>
                    </div>
                    -->
                  </div>
                </div>
          	      <!--<h5 class="centered" id="user-header"></h5>-->
              </li>
          	  	<!--
              <li class="mt" style="cursor: pointer;">
                  <a id="menu-dashboard">
                      <i class="fa fa-dashboard fa-fw"></i>
                      <span>&nbsp; Dashboard</span>
                  </a>
              </li>
-->
              <li class="mt" style="cursor: pointer;">
                  <a id="menu-home">
                      <i class="fa fa-beer fa-fw"></i>
                      <span>&nbsp; Specials</span>
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-events">
                      <i class="fa fa-calendar fa-fw"></i>
                      <span>&nbsp; Events</span>
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-analytics">
                      <i class="fa fa-line-chart fa-fw"></i>
                      <span>&nbsp; Analytics</span>
                      {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                      <span style="font-size:10px; color:rgb(244, 149, 60);">
                        <i class="fa fa-lock" style="font-size:10px; color:rgb(244, 149, 60); margin-left:10px; padding-right:1px;"></i> Premium
                      </span>
                      {% endif %}
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-info">
                      <i class="fa fa-info fa-fw"></i>
                      <span>&nbsp; Business Info</span>
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-settings">
                      <i class="fa fa-cog fa-fw"></i>
                      <span>&nbsp; Account Settings</span>
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-partners">
                      <i class="fa fa-handshake-o fa-fw"></i>
                      <span>&nbsp; Preferred Partners</span>
                  </a>
              </li>

              <li class="sub-menu" style="cursor: pointer;">
                  <a id="logout">
                      <i class="fa fa-sign-out fa-fw"></i>
                      <span>&nbsp; Logout</span>
                  </a>
              </li>

              {% if needsToPay && (!cardOnFile || !hasSubscription || hasLite) %}
              <li class="sub-menu" style="cursor: pointer;">
                  <a id="menu-upgrade" style="color:rgb(244, 149, 60);">
                      <i class="fa fa-unlock fa-fw"></i>
                      <span>&nbsp; Upgrade to Premium</span>
                  </a>
              </li>
              {% endif %}
          </ul>
          <!-- sidebar menu end-->
      </div>
  </aside>
  <!--sidebar end-->
  
  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <section id="main-content">
    <section class="wrapper">
      <div class="row row-wrapper">
        <div class="col-lg-12 main">

          <!--
          {% if needsToPay && !hasSubscription %}
            <div class="form-panel" style="margin-bottom:20px; padding-bottom:20px; border: 1px solid red;">
              <div class="form-header" style="margin-bottom:30px;">
                  <h3 style="display:inline;">Payment Info</h3>
              </div>
              <p style="color:red;">Looks like you don't have a current subscription.
              Please update your payment info in order to access AppyHour.</p> 
              <br/>

              {% for plan in plans %}
              {% if plan.nickname.includes('#SupportLocal') %}
              <div class="form-horizontal style-form" style="background-color:rgba(192,192,192,0.3); padding:15px 15px 15px 20px; margin-bottom:20px; color:rgb(20,20,20);">
                <span class="plan-header-desktop" style="display:none;">
                  <div style="margin-bottom:15px; height:30px;">
                    <h4 style="display:inline; color:black; vertical-align:middle;">AppyHour</h4>
                    <h4 style="display:inline; color:#fca605; vertical-align:middle; font-size:22px; font-weight:900;">#SupportLocal</h4>
                    <h4 style="display:inline; color:black; vertical-align:middle;">Plan</h4>
                    <div class="pull-right">
                      <button class="btn btn-success btn-sm" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</button>
                    </div>
                  </div>
                </span>
                <span class="plan-header-mobile" style="display:none;">
                  <div style="margin-bottom:10px; text-align:center;">
                    <h4 style="display:inline; color:black; vertical-align:middle;">AppyHour</h4>
                    <h4 style="display:inline; color:#fca605; vertical-align:middle; font-weight:900;">#SupportLocal</h4>
                    <h4 style="display:inline; color:black; vertical-align:middle;">Plan</h4>
                    <br/>
                    <button class="btn btn-success btn-xs" style="margin-top:10px;" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><span style="font-size:.8em"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</span>
                    </button>
                  </div>
                </span>
                <p id="planId-hidden" style="display:none;"></p>
                <p id="trial-hidden" style="display:none;"></p>
                <hr style="border-color:rgb(192,192,192); margin: 10px 0 0 0;" />

                <div class="support-local-desktop" style="display:table; width:100%; margin-top:20px; margin-bottom:20px;">
                  <div style="display:table-cell; width:120px;">
                    <img src="assets/img/90dayfreetrial.png" height="120px" style="margin-bottom:10px;"/>
                    <img src="assets/img/99permonth.png" height="120px"/>
                  </div>
                  <div style="display:table-cell; vertical-align:top; padding-left:20px;">
                    <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-bottom:8px;">
                      <h4>Plan Overview</h3>
                    </span>
                    <p>+ Full access to all current features of the AppyHour dashboard</p>
                      <p style="margin-left:20px;">- Push-notified specials (1 per week)</p>
                      <p style="margin-left:20px;">- Daily specials and events schedule</p>
                      <p style="margin-left:20px;">- Detailed analytics dashboard</p>
                      <p style="margin-left:20px;">- Customizable in-app business profile</p>
                    <p style="margin-top:8px;">+ Prioritized customer service and support</p>
                    <p style="margin-top:8px;">+ Feedback-based improvements and updates</p>
                    <p style="margin-top:8px;">+ Eligible for launch events and co-sponsored promotions/marketing opportunities</p>
                  </div>
                </div>

                <div class="support-local-mobile" style="display:none; width:100%; margin-top:20px; margin-bottom:20px;">
                  <div style="text-align:center; margin-bottom:10px;">
                    <img src="assets/img/90dayfreetrial.png" height="120px"/>
                  </div>
                  <div style="text-align:center; margin-bottom:10px;">
                    <img src="assets/img/99permonth.png" height="120px"/>
                  </div>
                  <div>
                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Plan Overview</h3>
                      </span>
                    </span>

                    <p style="font-size:0.8em;">+ Full access to all current features of the AppyHour dashboard</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Push-notified specials (1 per week)</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Daily specials and events schedule</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Detailed analytics dashboard</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Customizable in-app business profile</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Prioritized customer service and support</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Feedback-based improvements and updates</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Eligible for launch events and co-sponsored promotions/marketing opportunities</p>
                  </div>
                </div>

              </div>
              {% endif %}
              {% endfor %}



              /*
              {% for plan in plans %}
              {% if plan.nickname.includes('#SupportLocal') %}
              <div class="form-horizontal style-form" style="background-color:rgba(192,192,192,0.3); padding:15px 15px 15px 20px; margin-bottom:20px; color:rgb(20,20,20);">
                  <span class="plan-header-desktop" style="display:none;">
                    <div style="margin-bottom:20px;">
                      <h4 style="display:inline; color:rgb(17,30,108);">{{ plan.nickname }}</h4>
                      <div class="pull-right">
                        <button class="btn btn-success btn-sm" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</button>
                      </div>
                    </div>
                  </span>
                  <span class="plan-header-mobile" style="display:none;">
                    <div style="margin-bottom:10px; text-align:center;">
                      <h4 style="color:rgb(17,30,108); margin-bottom:10px;">{{ plan.nickname }}</h4>
                      <button class="btn btn-success btn-xs" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><span style="font-size:.8em"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</span>
                      </button>
                    </div>
                  </span>
                  <p id="planId-hidden" style="display:none;"></p>
                  <p id="trial-hidden" style="display:none;"></p>
                  <hr style="border-color:rgb(192,192,192); margin: 10px 0 0 0;" />
                  <span class="plan-metadata">

                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Plan Overview</h3>
                      </span>
                    </span>
                    
                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('asterix') %}
                        <p style="font-size:.4em; margin-top:20px; color:rgb(100,100,100);">
                          * {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}

                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Subscription Details</h3>
                      </span>
                    </span>

                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}
                  </span>
              </div>
              {% endif %}
              {% endfor %}
              */
            </div>
          {% endif %}
          -->

          <div id="loader" class="loader"></div>
          <div id="loaderText" class="loaderText">Loading</div>
          <!--<div w3-include-html="/dash" id="dashboard-div"></div>-->
          <div w3-include-html="/home" id="home-div" style="display:none;"></div>
          <div w3-include-html="/events" id="events-div" style="display:none;"></div>
          <div w3-include-html="/info" id="info-div" style="display:none;"></div>
          <div w3-include-html="/settings" id="settings-div" style="display:none;"></div>
          <div w3-include-html="/partners" id="partners-div" style="display:none;"></div>
          <div w3-include-html="/upgrade" id="upgrade-div" style="display:none;"></div>
          <div w3-include-html="/analytics" id="analytics-div" style="display:none;"></div>
        </div>
              
  <!-- **********************************************************************************************************************************************************
  RIGHT SIDEBAR CONTENT
  *********************************************************************************************************************************************************** -->                  
        <!--<div class="col-lg-3 ds" style="min-height:1000px">
				  <h3>ACTIVITY FEED</h3>
        </div>-->
      </div>
    </section>
  </section>

  <div id="terms-and-conditions" class="modal fade" role="dialog" style="padding-top:50px;">
    <div class="modal-dialog" style="width:60%; margin-top:0;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <iframe id="terms-iframe" class="terms-and-conditions-iframe" src="https://docs.google.com/gview?url=https://app.appyhourmobile.com/terms/SupportLocalTermsofService.docx&embedded=true" style="height:400px; width:100%;"></iframe>
        <div class="modal-footer" style="text-align:center;">
          <div class="terms-and-conditions-footer-text" style="margin-bottom:10px;">
            <p>By clicking 'I Agree' you are consenting to the terms and conditions listed in the document above.</p>
            <p>After agreeing to the terms, you will be prompted to enter your credit card information to subscribe.</p>
          </div>
          <div>
            <button class="btn btn-success" data-dismiss="modal" onclick="addPayment(event)">I Agree</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock %}