<!DOCTYPE html>
<html style="height:130%">
    <head>
    	{% include "../partials/head.html" %}
      	<title>Establishment Login</title>
    </head>
    <body style="height:130%; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif !important;" onload="determineLogin(event, {{supplierLogin}})">
    	
    	<div id="est-login-bg-div" style="background-image:url('assets/img/est-login-bg.jpg'); background-position:center; background-size:cover; background-blend-mode:luminosity; background-color:white; height:130%;">

	    	<div style="height:100%; background-color:rgba(255,255,255,0.9);">

	    		<!--
				<div id="est-login-div" style="width:500px; padding:80px 0; margin:0 auto; position:relative; opacity:0; transform:scale(0); transition:.6s ease opacity, .6s ease transform;">
					<div id="est-login-shadow" style="box-shadow:0px 0px 10px 8px rgb(192,192,192); border-radius:5px;">
						<div class="login-header" style="text-align:center; background: #0d4188; padding:15px; border-top-right-radius:5px; border-top-left-radius:5px;">
						  <a href="/">
						  	<img src="assets/img/icon_rounded_corners.png" height="50px" style="margin-bottom:5px;" />
						  </a>
				          <h4 class="modal-title">Establishment Login</h4>
				        </div>
				        <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
				          <div id="loginDiv" class="login-wrapper" style="box-shadow:none; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
				            <div class="new-user-messages" id="login-warning-message" style="display: none; font-size: 10pt;"></div>
				            <div class="error-messages" id="login-error-messages" style="display: none"></div>
				            <div class="forgot-password-messages" id="forgot-password-messages" style="display: none;"></div>

				            <h3 style="font-size:20px;">Sign in to your account</h3>

				            {% if !ceKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="username" name="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="secretPasswordDiv" style="display:none;">
					                <label for="secretpw" style="font-size:14px;">Secret Password</label>
					                <input type="text" class="form-control" id="secretpw" name="secretpw" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="passwordDiv" style="display:none;">
					              <label for="password" style="font-size:14px;">Password</label>
					              <input type="password" class="form-control" id="password" name="password" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px; margin-bottom:5px;" />
					              <a id="forgot-password" href="" onclick="getEmailForUserForgotPassword(event)" style="font-size:.8em;">Forgot password?</a>
					            </div>
					            <div id="newPasswordDiv" style="display:none;">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-estlogin-enter" style="width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-estlogin-continue" style="display: none; width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-estlogin-save-and-login" style="display: none; width:100%; font-size:16px; height:44px;">Save & Login</button>
					              <button class="btn btn-success" id="btn-estlogin-login" style="display: none; width:100%; font-size:16px; height:44px;">Login</button>
					            </div>
					            <div style="margin-top:20px; text-align:center;">
					            	<p style="font-size:14px;">Are you logging into a <span style="font-weight:900; color:rgb(50,50,50);">supplier</span> account? <a href="" onclick="showSupplierLogin(event, true)">Login Here</a></p>
					            </div>
				            {% endif %}

				            {% if ceKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="username" name="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ username }}" disabled />
					            </div>
					            <div id="newPasswordDiv">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ email }}" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-estlogin-save-and-login" style="width:100%; font-size:16px; height:44px;">Save & Login</button>
					            </div>
				            {% endif %}
				          </div>

				          <div id="userForgotPasswordDiv" style="display:none; text-align:center; padding:20px; background-color:white;">
				            <p style="margin-bottom:10px;">
				              Clicking the Send Email button below will send a message to 
				              <span id="userForgotPasswordEmail" style="font-weight:bold; font-size:1.2em;"></span>
				              with instructions to reset your password.
				            </p>
				            <div id="userResetPasswordEmail" style="display:none;"></div>
				            <button class="btn btn-success" id="btn-estlogin-forgot-password" onclick="userForgotPassword(event)" style="width:75%; font-size:16px; height:44px;">Send Email</button>
				            <button class="btn btn-danger" id="btn-estlogin-forgot-password-cancel" style="width:23%; font-size:16px; height:44px;">Cancel</button>
				          </div>
				    	</form>
					</div>
				</div>

				<div id="supplier-login-div" style="width:500px; padding:80px 0; margin:0 auto; position:relative; opacity:0; transform:scale(0); transition:.6s ease opacity, .6s ease transform;">
					<div id="supplier-login-shadow" style="box-shadow:0px 0px 10px 8px rgb(192,192,192); border-radius:5px;">
						<div class="login-header" style="text-align:center; background: #38295d; padding:15px; border-top-right-radius:5px; border-top-left-radius:5px;">
						  <a href="/">
						  	<img src="assets/img/icon_rounded_corners.png" height="50px" style="margin-bottom:5px;" />
						  </a>
				          <h4 class="modal-title">Supplier Login</h4>
				        </div>
				        <form id="supplierloginform" class="form-horizontal" role="form" method="post" action="/supplierlogin">
				          <div id="supplierLoginDiv" class="login-wrapper" style="box-shadow:none; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
				            <div class="new-user-messages" id="supplier-login-warning-message" style="display: none; font-size: 10pt;"></div>
				            <div class="error-messages" id="supplier-login-error-messages" style="display: none"></div>
				            <div class="forgot-password-messages" id="supplier-forgot-password-messages" style="display: none;"></div>

				            <h3 style="font-size:20px;">Sign in to your account</h3>

				            {% if !supplierCEKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="supplier_username" name="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="supplierSecretPasswordDiv" style="display:none;">
					                <label for="secretpw" style="font-size:14px;">Secret Password</label>
					                <input type="text" class="form-control" id="supplier_secretpw" name="secretpw" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="supplierPasswordDiv" style="display:none;">
					              <label for="password" style="font-size:14px;">Password</label>
					              <input type="password" class="form-control" id="supplier_password" name="password" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px; margin-bottom:5px;" />
					              <a id="forgot-password" href="" onclick="getEmailForUserForgotPassword(event)" style="font-size:.8em;">Forgot password?</a>
					            </div>
					            <div id="supplierNewPasswordDiv" style="display:none;">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="supplier_email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="supplier_newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="supplier_newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-supplierlogin-enter" style="width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-supplierlogin-continue" style="display: none; width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-supplierlogin-save-and-login" style="display: none; width:100%; font-size:16px; height:44px;">Save & Login</button>
					              <button class="btn btn-success" id="btn-supplierlogin-login" style="display: none; width:100%; font-size:16px; height:44px;">Login</button>
					            </div>
					            <div style="margin-top:20px; text-align:center;">
					            	<p style="font-size:14px;">Are you logging into an <span style="font-weight:900; color:rgb(50,50,50);">establishment</span> account? <a href="" onclick="showSupplierLogin(event, false)">Login Here</a></p>
					            </div>
				            {% endif %}

				            {% if supplierCEKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="supplier_username" style="font-size:16px; height:44px;" value="{{ username }}" disabled />
					              <input name="username" value="{{ username }}" hidden />
					            </div>
					            <div id="newPasswordDiv">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="supplier_email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ email }}" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="supplier_newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="supplier_newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-supplierlogin-save-and-login" style="width:100%; font-size:16px; height:44px;">Save & Login</button>
					            </div>
				            {% endif %}
				          </div>

				          <div id="supplierForgotPasswordDiv" style="display:none; text-align:center; padding:20px; background-color:white;">
				            <p style="margin-bottom:10px;">
				              Clicking the Send Email button below will send a message to 
				              <span id="supplierForgotPasswordEmail" style="font-weight:bold; font-size:1.2em;"></span>
				              with instructions to reset your password.
				            </p>
				            <div id="supplierResetPasswordEmail" style="display:none;"></div>
				            <button class="btn btn-success" id="btn-supplierlogin-forgot-password" onclick="supplierForgotPassword(event)" style="width:75%; font-size:16px; height:44px;">Send Email</button>
				            <button class="btn btn-danger" id="btn-supplierlogin-forgot-password-cancel" style="width:23%; font-size:16px; height:44px;">Cancel</button>
				          </div>
				    	</form>
					</div>
				</div>=
				-->


				<div class="login-header">
					<a href="https://www.appyhourmobile.com">
						<img width="368" src="https://www.appyhourmobile.com/wp-content/uploads/2020/11/cropped-Add-a-heading.png" class="custom-logo" alt="AppyHour" srcset="https://www.appyhourmobile.com/wp-content/uploads/2020/11/cropped-Add-a-heading.png 368w, https://www.appyhourmobile.com/wp-content/uploads/2020/11/cropped-Add-a-heading-300x80.png 300w" sizes="(max-width: 368px) 100vw, 368px">
						<!--
						<img src="assets/img/icon_rounded_corners.png" height="80px" style="margin-bottom:10px;" />
						<h2 style="font-size:40px;">AppyHour</h2>
						-->
					</a>
				</div>


				<div class="est-login-div">
					<div style="border-radius:5px;">
						<div class="row" style="margin:0; text-align:center; border-radius:5px;">
							<div class="col-md-6 col-sm-6 col-xs-6" style="padding:0; border-top-right-radius:5px; border-top-left-radius:5px;">
								<button id="btn-establishment-login" class="btn login-link-active" onclick="showSupplierLogin(event, false)">Establishment Login</button>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6" style="padding:0; border-top-right-radius:5px; border-top-left-radius:5px;">
								<button id="btn-supplier-login" class="btn login-link" onclick="showSupplierLogin(event, true)">Supplier Login</button>
							</div>
				        </div>

				        <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
				          <div id="loginDiv" class="login-wrapper" style="box-shadow:none; border:2px solid #0d4188; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
				            <div class="new-user-messages" id="login-warning-message" style="display: none; font-size: 10pt;"></div>
				            <div class="error-messages" id="login-error-messages" style="display: none"></div>
				            <div class="forgot-password-messages" id="forgot-password-messages" style="display: none;"></div>

				            <h3 class="login-h3">Sign in to your establishment account</h3>

				            {% if !ceKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="username" name="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="secretPasswordDiv" style="display:none;">
					                <label for="secretpw" style="font-size:14px;">Secret Password</label>
					                <input type="text" class="form-control" id="secretpw" name="secretpw" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="passwordDiv" style="display:none;">
					              <label for="password" style="font-size:14px;">Password</label>
					              <input type="password" class="form-control" id="password" name="password" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px; margin-bottom:5px;" />
					              <a id="forgot-password" href="" onclick="getEmailForUserForgotPassword(event)" style="font-size:.8em;">Forgot password?</a>
					            </div>
					            <div id="newPasswordDiv" style="display:none;">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-estlogin-enter" style="width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-estlogin-continue" style="display: none; width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-estlogin-save-and-login" style="display: none; width:100%; font-size:16px; height:44px;">Save & Login</button>
					              <button class="btn btn-success" id="btn-estlogin-login" style="display: none; width:100%; font-size:16px; height:44px;">Login</button>
					            </div>
				            {% endif %}

				            {% if ceKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ username }}" disabled />
					              <input id="usernameHidden" name="username" value="{{ username }}" hidden />
					            </div>
					            <div id="newPasswordDiv">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ email }}" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-estlogin-save-and-login" style="width:100%; font-size:16px; height:44px;">Save & Login</button>
					            </div>
				            {% endif %}
				          </div>

				          <div id="userForgotPasswordDiv" style="display:none; text-align:center; padding:20px; background-color:white;">
				            <p style="margin-bottom:10px;">
				              Clicking the Send Email button below will send a message to 
				              <span id="userForgotPasswordEmail" style="font-weight:bold; font-size:1.2em;"></span>
				              with instructions to reset your password.
				            </p>
				            <div id="userResetPasswordEmail" style="display:none;"></div>
				            <button class="btn btn-success" id="btn-estlogin-forgot-password" onclick="userForgotPassword(event)" style="width:75%; font-size:16px; height:44px;">Send Email</button>
				            <button class="btn btn-danger" id="btn-estlogin-forgot-password-cancel" style="width:23%; font-size:16px; height:44px;">Cancel</button>
				          </div>
				    	</form>

				    	<form id="supplierloginform" class="form-horizontal" role="form" method="post" action="/supplierlogin" style="display:none;">
				          <div id="supplierLoginDiv" class="login-wrapper" style="box-shadow:none; border:2px solid #0d4188; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
				            <div class="new-user-messages" id="supplier-login-warning-message" style="display: none; font-size: 10pt;"></div>
				            <div class="error-messages" id="supplier-login-error-messages" style="display: none"></div>
				            <div class="forgot-password-messages" id="supplier-forgot-password-messages" style="display: none;"></div>

				            {% if supplierCEKeyMatch %}
				            <h2 style="font-weight:900; margin-bottom:20px;">Welcome to AppyHour!</h2>
				            
				            <div class="form-group">
					            <p style="font-weight:400; margin-bottom:10px;">
					            	<b>Step 1:</b> Please note your username listed below (or located in email with the subject 'Claim Your Account' sent by AppyHour).
					            </p>
					            <p style="font-weight:400;">
					            	<b>Step 2:</b> Create a unique password of at least 6 characters and containing at least one number or special character.
					            </p>
				        	</div>
				            {% endif %}

				            {% if !supplierCEKeyMatch %}
				            <h3 class="login-h3">Sign in to your supplier account</h3>
				            {% endif %}

				            {% if !supplierCEKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="supplier_username" name="username" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="supplierSecretPasswordDiv" style="display:none;">
					                <label for="secretpw" style="font-size:14px;">Secret Password</label>
					                <input type="text" class="form-control" id="supplier_secretpw" name="secretpw" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					            </div>
					            <div class="form-group" id="supplierPasswordDiv" style="display:none;">
					              <label for="password" style="font-size:14px;">Password</label>
					              <input type="password" class="form-control" id="supplier_password" name="password" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px; margin-bottom:5px;" />
					              <a id="forgot-password" href="" onclick="getEmailForUserForgotPassword(event)" style="font-size:.8em;">Forgot password?</a>
					            </div>
					            <div id="supplierNewPasswordDiv" style="display:none;">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="supplier_email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="supplier_newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="supplier_newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-supplierlogin-enter" style="width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-supplierlogin-continue" style="display: none; width:100%; font-size:16px; height:44px;">Continue</button>
					              <button class="btn btn-success" id="btn-supplierlogin-save-and-login" style="display: none; width:100%; font-size:16px; height:44px;">Save & Login</button>
					              <button class="btn btn-success" id="btn-supplierlogin-login" style="display: none; width:100%; font-size:16px; height:44px;">Login</button>
					            </div>
				            {% endif %}

				            {% if supplierCEKeyMatch %}
					            <div class="form-group">
					              <label for="username" style="font-size:14px;">Username</label>
					              <input type="text" class="form-control" id="supplier_username" style="font-size:16px; height:44px;" value="{{ username }}" disabled />
					              <input name="username" value="{{ username }}" hidden />
					            </div>
					            <div id="newPasswordDiv">
					              <div class="form-group">
					                <label for="email" style="font-size:14px;">Email</label>
					                <input type="text" class="form-control" id="supplier_email" name="email" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" value="{{ email }}" />
					              </div>
					              <div class="form-group">
					                <label for="newPassword" style="font-size:14px;">Password</label>
					                <input type="text" class="form-control" id="supplier_newPassword" name="newPassword" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					              <div class="form-group">
					                <label for="newPasswordConfirm" style="font-size:14px;">Confirm Password</label>
					                <input type="text" class="form-control" id="supplier_newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterSubmit(event)" style="font-size:16px; height:44px;" />
					              </div>
					            </div>
					            <div class="buttons">
					              <button class="btn btn-success" id="btn-supplierlogin-save-and-login" style="width:100%; font-size:16px; height:44px;">Save & Login</button>
					            </div>
				            {% endif %}
				          </div>

				          <div id="supplierForgotPasswordDiv" style="display:none; text-align:center; padding:20px; background-color:white;">
				            <p style="margin-bottom:10px;">
				              Clicking the Send Email button below will send a message to 
				              <span id="supplierForgotPasswordEmail" style="font-weight:bold; font-size:1.2em;"></span>
				              with instructions to reset your password.
				            </p>
				            <div id="supplierResetPasswordEmail" style="display:none;"></div>
				            <button class="btn btn-success" id="btn-supplierlogin-forgot-password" onclick="supplierForgotPassword(event)" style="width:75%; font-size:16px; height:44px;">Send Email</button>
				            <button class="btn btn-danger" id="btn-supplierlogin-forgot-password-cancel" style="width:23%; font-size:16px; height:44px;">Cancel</button>
				          </div>
				    	</form>
					</div>
				</div>


			</div>

		</div>

		<div class="footer" style="background:transparent; text-align:center;">
			<a href="/" style="margin:0 10px; font-size:0.9em;">© AppyHour</a>
			|
			<!--<a href="/contact" style="margin:0 10px; font-size:0.9em;">Contact</a>
			|-->
			<a href="/privacypolicy" style="margin:0 10px; font-size:0.9em;">Privacy</a>
		</div>

		{% include "../partials/footer.html" %}
	</body>
</html>