<!--
{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}
-->
<div>

{% if !needsToPay || (cardOnFile && hasSubscription) %}
<input id="weeklySpecialsLimit" value="5" hidden />
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<input id="weeklySpecialsLimit" value="1" hidden />
{% endif %}

<div class="row">
	<div class="col-md-12">
		
		{% if cancelDate %}
			<div class="form-panel" style="margin-bottom:20px; padding-bottom:20px; border: 1px solid red;">
        		<p style="color:red;">Your subscription was cancelled on {{ dateCanceled }}. You will have access to AppyHour features until {{ cancelDate }}, at which time your specials and events will be removed from the AppyHour app.</p>
        	</div>
        {% endif %}

		<div class="form-panel">
			<div class="form-header todays-specials-header">
				<h3 style="margin-top:5px;">Today's Specials</h3>
				<p id="todaysDate" style="color:rgb(100,100,100);">
					{{day}} &middot; 
					{{todaysDate}}
				</p>
			</div>
			<div class="form-horizontal style-form">
				<form id="todaysSpecialsForm" class="form-horizontal" role="form" method="post" action="/deletespecial"> 
					<div style="padding-bottom:0; margin-left:-20px; margin-right:-20px;">
						<table id="todaysSpecials" class="table" style="margin-bottom:0;">
							{% if todaysSpecials.length %}
							<tbody>
								{% for special in todaysSpecials %}
								{% if special.current %}
								<tr class="active-special">
								{% endif %}
								{% if special.upcoming %}
								<tr class="upcoming-special">
								{% endif %}
								{% if special.expired %}
								<tr class="expired-special">
								{% endif %}
							  		<td class="ts-icon-cell" style="vertical-align:middle; width:3%;">
							  			<div class="deal-type-icon">
							  				<img src="assets/img/{{special.deal_type_ref_id_TS}}">
							  			</div>
							  		</td>
							  		<td class="ts-details-cell" style="vertical-align:middle; line-height:1.1; width:40%;">
							  			<div class="details">
							  			{% if special.price_type_ref_id == 300 %}
							  				${{special.price.toFixed(2)}} {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 301 %}
							  				{{special.price.toFixed(0)}}% Off {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 302 %}
							  				BOGO {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 307 %}
							  				Free {{special.details}}
							  			{% endif %}
							  			<!--{% if special.day == -1 %}
							  				<span style="font-family:AvenirNext-Medium !important; font-size:6pt !important; color: black; background-color: white; border: 1px solid orange; border-radius: 25px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 2px;">
							                	AppyHour Exclusive
							              	</span>
							  			{% endif %}-->
							  			</div>

							  			{% if !special.title %}
							  				<div style="line-height:1;">
								  			{% if special.dinein %}
								  				<p class="dinein">Dine-in</p>
								  			{% endif %}
								  			{% if special.carryout %}
								  				<p class="takeout">Takeout</p>
								  			{% endif %}
								  			</div>
							  			{% endif %}

							  			{% if special.title %}
								  			<p style="font-size:12px; line-height:1.5;"><i class="fa fa-calendar fa-fw"></i> {{special.title}}</p>
								  		{% endif %}
							  		</td>
							  		<td class="ts-time-cell" style="vertical-align:middle; width:40%">
							  			<div class="ends-at">
											{% if special.current %}
												{{special.timeremaining}} 
											{% endif %}
											{% if special.upcoming || special.expired %}
												{{special.duration}}
											{% endif %}
											<!--{% if special.expired %}
							  					Expired
							  					<span style='font-size:.7em; color:rgb(150,150,150);'>
													{{special.duration}}
												</span>
											{% endif %}-->
							  			</div>
							  		</td>
							  		<td style="vertical-align:middle; text-align:right; padding-right:20px; width:20%;">
							  			{% if special.current || special.upcoming %}
							  			{% if !special.title %}
							  			<div class="delete-deal">
							  				<span style="cursor:pointer;">
							  					<a id="edit{{special.special_id}}" onclick="editDeal({{special.special_id}})">
							  						<i class="fa fa-pencil fa-sm" style="color:rgb(51,122,183)"> </i>
							  					</a>
							  				</span>
							  			</div>
							  			{% endif %}
							  			{% endif %}
							  		</td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
							{% if !todaysSpecials.length %}
							<tbody>
								<h5 class="ts-no-specials" style="margin:20px;">No specials for today. Schedule a special below!</h5>
							</tbody>
							{% endif %}
						</table>
						<input id="hiddenSpecialId" type = "hidden" name = "delSpecialId" value = "specialId" />
					</div>
				</form>		
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5 exclusive-specials-col" style="margin-bottom:20px; padding-right:0;">
		<div class="form-panel" style="padding:20px;">

		    <div class="form-head">
              	<h3 style="margin-bottom:10px;">Exclusive Specials</h3>
              	<!--<span style="font-family:AvenirNext-Medium !important; font-size:6pt !important; color: black; background-color: white; border: 1px solid orange; border-radius: 25px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 2px;">
                AppyHour Exclusive
              	</span>-->
		    	<p style="font-size:14px; line-height:1.2;">These specials occur only once and will be highlighted and pinned to the top of the deal feed on the AppyHour mobile app. A push notification will be sent to users when this special begins.</p>

		    	{% if !needsToPay || (cardOnFile && hasSubscription) %}
		    	<p style="font-size:12px; line-height:1.2; margin-top:10px; font-weight:900; color:rgb(100,100,100);">Limit 1 exclusive special per week.</p>
		    	{% endif %}
		    </div>


		    

		    {% if !needsToPay || (cardOnFile && hasSubscription && !hasLite) %}
			<div id="btnCreateSpecialDiv" style="text-align:center;">
		    	<button id="btnCreateSpecial" class="btn btn-primary btn-lg" onclick="showCreateInstantSpecialFields(event)" style="width:100%; font-size:16px;">Create Exclusive Special</button>
		    </div>
		    {% endif %}
		    {% if needsToPay && (!cardOnFile || !hasSubscription || hasLite) %}
		    <div id="btnCreateSpecialDiv" style="text-align:center;">
		    	<button id="btnCreateSpecial" class="btn btn-secondary btn-lg" onclick="premium(event)" style="width:100%; font-size:16px; border:1px solid #ccc;">
		    		Create Exclusive Special
		    		<span style="display:block; font-size:12px; color:rgb(244, 149, 60);">
		    			<i class="fa fa-lock"></i> Premium
		    		</span>
		    	</button>
		    </div>
		    {% endif %}
		    
		    
		    <div id="showCreateSpecialFields" class="form-horizontal style-form" style="display:none; margin-top:20px;">
		    	<div class="row form-row" style="margin:0 -20px; padding:20px 0; background-color:rgba(175,230,186,0.05); border-top:1px solid green; border-bottom:1px solid green;">
		    		<div id="createSpecialDiv" class="col-md-12 col-sm-12 col-xs-12">
		    			<div class="row form-row" style="margin-bottom:20px;">
		    				<div class="col-md-12">
		    					<h4 style="color:rgb(30,100,40); font-weight:900;">Add Exclusive Special</h4>
		    				</div>
		    			</div>
		    			<div class="row form-row">
		    				<div class="col-md-12">
			    				<label for="startsToday">When do you want this special to start?</label>

			    				<div id="startsTodayToggle" class="btn-group btn-group-justified" role="group" style="padding-bottom:10px;">
						            <div class="btn-group">
					                	<button id="btnStartsToday" type="button" style="text-decoration:none;" class="btn btn-default" onclick="toggleStartsToday('now', {{ specialsRemaining }}, {{ specialsRemainingNextWeek }}, {{ specialsRemainingTwoWeeksOut }})">Now</button>
					                </div>
					                <div class="btn-group">
					                	<button id="btnSchedule" type="button" class="btn btn-default" onclick="toggleStartsToday('schedule', {{ specialsRemaining }}, {{ specialsRemainingNextWeek }}, {{ specialsRemainingTwoWeeksOut }})">Schedule</button>
					                </div>
					            </div>
			    			</div>
			    		</div>
			    		

			            <div id="noSpecialsRemaining" style="text-align:center; font-size:.8em; margin-bottom:20px; display:none;">
		    				<p style="color:red">No exclusive specials remaining this week</p>
		    			</div>
		    			<div id="noSpecialsRemainingSchedule" style="text-align:center; font-size:.8em; margin-bottom:20px; display:none;">
		    				<p style="color:red">No exclusive specials remaining to schedule</p>
		    			</div>

			            <div class="row add-deal-footer" style="text-align:center;">
			            	<div class="col-md-12">
			            		<button id="btnCancelCreateSpecial" type="button" class="btn btn-danger" onclick="createSpecialCancel(event)" style="width:100%; margin-top:20px;">Cancel</button>
			            	</div>
			        	</div>
	
					    <div id="showScheduleFields" style="display:none;">
					    	<div class="row form-row" style="margin-bottom:10px;">
					            <div class="col-md-6">
					                <label for="special-start-date">Start Date</label>
					                <select class="form-control" id="special-start-date" onblur="validateCreateNewDealStartDate()"></select>
					            </div>
					            <div class="col-md-6">
					                <label for="special-start-time">Start Time</label>
					                <input id="special-start-time" type="time" class="form-control" onblur="validateCreateNewDealStartTime()"/>
					            </div>
					        </div>
					    </div>

					    <div id="showSharedFields" style="display:none;">
					    	<div class="row form-row" style="margin-bottom:10px;">
					            <div class="col-md-6">
					                <label for="duration-hr">Duration</label>
					                <select class="form-control" id="duration-hr" onchange="chooseHours(this); validateCreateNewDealHour();" onblur="validateCreateNewDealHour()">
					                	<option disabled selected>Hours</option>
					                	<option value='0'>0 hours</option>
					                	<option value='1'>1 hours</option>
					                	<option value='2'>2 hours</option>
					                	<option value='3'>3 hours</option>
					                	<option value='4'>4 hours</option>
					                	<option value='5'>5 hours</option>
					                </select>
					            </div>
					            <div class="col-md-6">
					                <label id="duration-min-label" for="duration-min">&nbsp;</label>
					                <select class="form-control" id="duration-min" onblur="validateCreateNewDealMinute()">
										<option disabled selected>Minutes</option>
										<option value='0'>0 min</option>
										<option value='15'>15 min</option>
										<option value='30'>30 min</option>
										<option value='45'>45 min</option>
					                </select>
					            </div>
					        </div>

		        			<div class="row form-row" style="margin-bottom:10px;">
					    		<div class="col-md-12 col-sm-12 col-xs-12">
					                <label for="priceType">Price Type</label><br />
					                <div id="priceTypeToggle" class="btn-group btn-group-justified" role="group">
						                <div class="btn-group">
						                	<button id="moneyToggleButton" type="button" style="text-decoration: none;" class="btn btn-primary" onclick="togglePriceType('money')"><i id="moneySign" class="fa fa-dollar fa-lg"></i></button>
						                </div>
						                <div class="btn-group">
						                	<button id="percentToggleButton" type="button" class="btn btn-default" onclick="togglePriceType('percent')"><i id="percentSign" class="fa fa-percent fa-lg"></i></button>
						                </div>
						                <div class="btn-group">
						                	<button id="bogoToggleButton" type="button" class="btn btn-default" onclick="togglePriceType('bogo')"><b>BOGO</b></button>
						                </div>
						                <div class="btn-group">
						                	<button id="freeToggleButton" type="button" class="btn btn-default" onclick="togglePriceType('free')"><b>Free</b></button>
						                </div>
						            </div>
					            </div>
					        </div>

					        <div class="row form-row" style="margin-bottom:10px;">
					            <div class="col-md-12 col-sm-12 col-xs-12" id="createNewSpecialPrice">
					                <label for="price" id="priceLabel">Price</label>
					                <div class="left-inner-addon">
					                    <i id="moneySignInPriceTextbox" class="fa fa-dollar fa-lg"></i>
					                    <i id="percentSignInPriceTextbox" class="fa fa-percent fa-lg" style="display:none; font-size:1em;"></i>
					                    <i id="bogoInPriceTextbox" style="display:none; font-size:.8em; padding-top:9px; color:rgb(170, 170, 170);">Buy One, Get One</i>
					                    <i id="freeInPriceTextbox" style="display:none; font-size:.8em; padding-top:9px; color:rgb(170, 170, 170);">Free</i>
					                    <input type="text" maxlength="5" class="form-control" id="price" onblur="validateCreateNewDealPrice(); validateField(this);" onkeypress="return isNumberKey(event)" />
					                </div>
					            </div>
					        </div>

					        <div class="row form-row" style="margin-bottom:10px;">
					            <div class="col-md-12 col-sm-12 col-xs-12">
					                <label for="details">Details of Special</label>&nbsp;<span class="note">(limit 40 characters)</span>
					                <input type="text" class="form-control" id="details" maxlength="40" onblur="validateCreateNewDealDetails()" />
					            </div>
					        </div>

					        <div class="row form-row" style="margin-bottom:10px;">
					            <div class="col-md-12 col-sm-12 col-xs-12">
					                <label for="special-takeout">Is this special for dine-in and/or takeout?</label>
					                <div id="takeout-toggle" class="btn-group btn-group-justified" role="group">
					                	<div class="btn-group">
						                	<button id="dineinToggleButton" type="button" style="text-decoration: none" class="btn btn-primary" onclick="selectDineinTakeout('dinein')">Dine-in</button>
						            	</div>
						            	<div class="btn-group">
						                	<button id="takeoutToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDineinTakeout('takeout')">Takeout</button>
						            	</div>
						            </div>
						            <input id="dinein" type="hidden" name="dinein" value="true" />
						            <input id="takeout" type="hidden" name="takeout" value="false" />
					            </div>
					        </div>

					        <div class="row form-row" style="margin-bottom:10px;">
					    		<!--<div class="col-md-12">
						            <label for="typeOfDeal">Type of Special</label> <br>
						            <div id="drinkFoodToggle" class="btn-group btn-group-justified" role="group" style="padding-bottom:10px;">
						            	<div class="btn-group">
						                	<button id="drinkToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="toggleType('drink')">Drink</button>
						            	</div>
						            	<div class="btn-group">
						                	<button id="foodToggleButton" type="button" class="btn btn-default" onclick="toggleType('food')">Food</button>
						            	</div>
						            </div>
					        	</div>-->
					        	<div class="col-md-12">
					            	<label>Select an icon to display with your special:</label>

					                <div id="allDealTypes">
					                    <button id="deal-type-0" onclick="chooseDealType(0, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Draft">
					                        <img src="assets/img/beer-icon.png" />
					                    </button>
					                    <button id="deal-type-14" onclick="chooseDealType(14, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Bottle">
					                        <img src="assets/img/beerbottle.png" />
					                    </button>
					                    <button id="deal-type-15" onclick="chooseDealType(15, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Can">
					                        <img src="assets/img/beercan.png" />
					                    </button>
					                    <button id="deal-type-1" onclick="chooseDealType(1, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Shot">
					                        <img src="assets/img/shot-icon.png" />
					                    </button>
					                    <button id="deal-type-2" onclick="chooseDealType(2, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Mixed Drink">
					                        <img src="assets/img/mixed-drink-icon.png" />
					                    </button>
					                    <button id="deal-type-3" onclick="chooseDealType(3, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Margarita">
					                        <img src="assets/img/margarita-icon.png" />
					                    </button>
					                    <button id="deal-type-4" onclick="chooseDealType(4, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Martini">
					                        <img src="assets/img/martini-icon.png" />
					                    </button>
					                    <button id="deal-type-5" onclick="chooseDealType(5, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Liquor">
					                        <img src="assets/img/tumbler-icon.png" />
					                    </button>
					                    <button id="deal-type-6" onclick="chooseDealType(6, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Wine">
					                        <img src="assets/img/wine-icon.png" />
					                    </button>
					                <!--</div>
					                <div id="foodIcons">-->
					                    <button id="deal-type-7" onclick="chooseDealType(7, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Burger">
					                        <img src="assets/img/burger-icon.png" />
					                    </button>
					                    <button id="deal-type-8" onclick="chooseDealType(8, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Appetizer">
					                        <img src="assets/img/appetizer-icon.png" />
					                    </button>
					                    <button id="deal-type-9" onclick="chooseDealType(9, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Pizza">
					                        <img src="assets/img/pizza-icon.png" />
					                    </button>
					                    <button id="deal-type-10" onclick="chooseDealType(10, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Taco">
					                        <img src="assets/img/taco-icon.png" style="width:44px !important" />
					                    </button>
					                    <button id="deal-type-11" onclick="chooseDealType(11, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Sushi">
					                        <img src="assets/img/sushi.png" />
					                    </button>
					                    <button id="deal-type-12" onclick="chooseDealType(12, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Bowl">
					                        <img src="assets/img/bowl.png" />
					                    </button>
					                    <button id="deal-type-13" onclick="chooseDealType(13, 'Add')" class="deal-type-button" data-toggle="tooltip" title="Chicken Wing">
					                        <img src="assets/img/chickenwing.png" />
					                    </button>
					                </div>
						        </div>
					        </div>

					        <div id="validateCreateLabelDiv" style="display:none;">
					            <label id="validateCreateLabel" class="error-alerts"></label>
					        </div>

					        <div class="row add-deal-footer" style="margin-top:20px; text-align:center;">
					        	<div class="col-md-12">
						            <button type="submit" class="btn btn-success btn-lg add-deal" onclick="goToConfirmation()" style="width:99%; margin-bottom:5px; font-size:16px;">Continue</button>
						            <button type="button" class="btn btn-default" onclick="clearSpecial(event)" style="width:49%;">Clear Fields</button>
						            <button type="button" class="btn btn-danger clear-deal" onclick="createSpecialCancel(event)" style="width:49%;">Cancel</button>
					        	</div>
					        </div>
		        		</div>
					</div>
		    	</div>
		    </div>


		    <div class="form-horizontal style-form" style="font-size:.7em; margin:30px 0;">
				<form id="instantSpecialsForm" class="form-horizontal" role="form" method="post" action="/deleteexclusivespecial">
					<div style="padding-bottom:0; margin-left:-20px; margin-right:-20px;">

						<!-- THIS WEEK -->
						<div class="row" style="margin-left:0; margin-right:0; padding:5px 10px; background-color:rgba(43,73,145,0.1);">
							<div class="col col-xs-6" style="text-align:left; padding-left:0; font-size:12px; color:rgb(50,50,50);">
								{{ currentWeek }}
							</div>
							{% if !needsToPay || (cardOnFile && hasSubscription) %}
							<div class="col col-xs-6" style="text-align:right; padding-right:0; font-size:12px; color:rgb(50,50,50);">
								<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
									{{ specialsRemaining }}
								</span>
								{% if specialsRemaining == 1 %}
								special
								{% endif %}
								{% if specialsRemaining != 1 %}
								specials
								{% endif %}
								remaining
							</div>
							{% endif %}
						</div>
						<table id="instantSpecials" class="table" style="margin-bottom:0;">
							{% if instantSpecials.length %}
							<tbody>
								{% for special in instantSpecials %}
								{% if special.current %}
								<tr class="active-special">
								{% endif %}
								{% if special.upcoming %}
								<tr class="upcoming-special">
								{% endif %}
								{% if special.expired %}
								<tr class="expired-special">
								{% endif %}
							  		<td class="ts-icon-cell" style="vertical-align:middle; padding:8px 8px 8px 15px; width:3%;">
							  			<div class="deal-type-icon">
							  				<img src="assets/img/{{special.deal_type_ref_id_TS}}">
							  			</div>
							  		</td>
							  		<td class="ts-details-cell" style="vertical-align:middle; padding:8px 8px 8px 0px; line-height:1.5;">
							  			<div class="details">
							  			{% if special.price_type_ref_id == 300 %}
							  				${{special.price.toFixed(2)}} {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 301 %}
							  				{{special.price.toFixed(0)}}% Off {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 302 %}
							  				BOGO {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 307 %}
							  				Free {{special.details}}
							  			{% endif %}
							  			</div>

							  			{% if !special.title %}
							  				<div style="line-height:1.2;">
								  			{% if special.dinein %}
								  				<p class="dinein">Dine-in</p>
								  			{% endif %}
								  			{% if special.carryout %}
								  				<p class="takeout">Takeout</p>
								  			{% endif %}
								  			</div>
							  			{% endif %}

							  			{% if special.title %}
								  			<p style="font-size:12px; line-height:1.5;"><i class="fa fa-calendar fa-fw"></i> {{special.title}}</p>
								  		{% endif %}
							  		</td>
							  		<td class="ts-time-cell" style="vertical-align:middle; padding:8px 0px 8px 0px;">
							  			<div class="ends-at">
							  				<span style="font-size:12px; color:#797979; font-weight:500;">{{ special.startDate }}</span>
							  				<br />
							  				{{ special.duration }}
							  			</div>
							  		</td>
							  		<td style="width:10%; vertical-align:middle;">
							  			{% if special.current || special.upcoming %}
							  			{% if !special.title %}
							  			<div class="delete-deal">
							  				<span style="cursor:pointer">
							  					<a id="delete{{special.special_id}}Deal" onclick="deleteDailySpecial({{special.special_id}}, {{special.day}})" data-toggle="tooltip" title="Delete">
							  						<i class="fa fa-trash fa-sm" style="color:rgb(236,80,80); font-size:16px;"> </i>
							  					</a>
							  				</span>
							  			</div>
							  			{% endif %}
							  			{% endif %}
							  		</td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
							{% if !instantSpecials.length %}
							<tbody>
								<h5 style="padding:15px 10px; margin:0 10px; font-size:12px;">No exclusive specials this week</h5>
							</tbody>
							{% endif %}
						</table>
						<!-- THIS WEEK -->


						<!-- NEXT WEEK -->
						<div class="row" style="margin-left:0; margin-right:0; padding:5px 10px; background-color:rgba(43,73,145,0.1);">
							<div class="col col-xs-6" style="text-align:left; padding-left:0; font-size:12px; color:rgb(50,50,50);">
								{{ nextWeek }}
							</div>
							{% if !needsToPay || (cardOnFile && hasSubscription) %}
							<div class="col col-xs-6" style="text-align:right; padding-right:0; font-size:12px; color:rgb(50,50,50);">
								<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
									{{ specialsRemainingNextWeek }}
								</span>
								{% if specialsRemainingNextWeek == 1 %}
								special
								{% endif %}
								{% if specialsRemainingNextWeek != 1 %}
								specials
								{% endif %}
								remaining
							</div>
							{% endif %}
						</div>
						<table id="nextWeekSpecials" class="table" style="margin-bottom:0; padding-right:5px">
							{% if nextWeekSpecials.length %}
							<tbody>
								{% for special in nextWeekSpecials %}
								<tr class="upcoming-special">
							  		<td class="ts-icon-cell" style="vertical-align:middle; padding:8px 8px 8px 15px; width:3%;">
							  			<div class="deal-type-icon">
							  				<img src="assets/img/{{special.deal_type_ref_id_TS}}">
							  			</div>
							  		</td>
							  		<td class="ts-details-cell" style="vertical-align:middle; padding:8px 8px 8px 0px; line-height:1.5;">
							  			<div class="details">
							  			{% if special.price_type_ref_id == 300 %}
							  				${{special.price.toFixed(2)}} {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 301 %}
							  				{{special.price.toFixed(0)}}% Off {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 302 %}
							  				BOGO {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 307 %}
							  				Free {{special.details}}
							  			{% endif %}
							  			</div>

							  			{% if !special.title %}
								  			<div style="line-height:1.2;">
								  			{% if special.dinein %}
								  				<p class="dinein">Dine-in</p>
								  			{% endif %}
								  			{% if special.carryout %}
								  				<p class="takeout">Takeout</p>
								  			{% endif %}
								  			</div>
							  			{% endif %}

							  			{% if special.title %}
								  			<p style="font-size:12px; line-height:1.5;"><i class="fa fa-calendar fa-fw"></i> {{special.title}}</p>
								  		{% endif %}
							  		</td>
							  		<td class="ts-time-cell" style="vertical-align:middle; padding:8px 0px 8px 0px;">
							  			<div class="ends-at">
							  				<span style="font-size:12px; color:#797979; font-weight:500;">{{ special.startDate }}</span>
							  				<br />
							  				{{ special.duration }}
							  			</div>
							  		</td>
							  		<td style="width:10%; vertical-align:middle;">
							  			{% if !special.title %}
							  			<div class="delete-deal">
							  				<span style="cursor:pointer">
							  					<a id="delete{{special.special_id}}Deal" onclick="deleteDailySpecial({{special.special_id}}, {{special.day}})" data-toggle="tooltip" title="Delete">
							  						<i class="fa fa-trash fa-sm" style="color:rgb(236,80,80); font-size:16px;"> </i>
							  					</a>
							  				</span>
							  			</div>
							  			{% endif %}
							  		</td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
							{% if !nextWeekSpecials.length %}
							<tbody>
								<h5 style="padding:15px 10px; margin:0 10px; font-size:12px;">No exclusive specials this week</h5>
							</tbody>
							{% endif %}
						</table>
						<!-- NEXT WEEK -->


						<!-- TWO WEEKS OUT -->
						<div class="row" style="margin-left:0; margin-right:0; padding:5px 10px; background-color:rgba(43,73,145,0.1);">
							<div class="col col-xs-6" style="text-align:left; padding-left:0; font-size:12px; color:rgb(50,50,50);">
								{{ twoWeeksOut }}
							</div>
							{% if !needsToPay || (cardOnFile && hasSubscription) %}
							<div class="col col-xs-6" style="text-align:right; padding-right:0; font-size:12px; color:rgb(50,50,50);">
								<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
									{{ specialsRemainingTwoWeeksOut }}
								</span>
								{% if specialsRemainingTwoWeeksOut == 1 %}
								special
								{% endif %}
								{% if specialsRemainingTwoWeeksOut != 1 %}
								specials
								{% endif %}
								remaining
							</div>
							{% endif %}
						</div>
						<table id="twoWeeksOutSpecials" class="table" style="margin-bottom:0; padding-right:5px">
							{% if twoWeeksOutSpecials.length %}
							<tbody>
								{% for special in twoWeeksOutSpecials %}
								<tr class="upcoming-special">
							  		<td class="ts-icon-cell" style="vertical-align:middle; padding:8px 8px 8px 15px; width:3%;">
							  			<div class="deal-type-icon">
							  				<img src="assets/img/{{special.deal_type_ref_id_TS}}">
							  			</div>
							  		</td>
							  		<td class="ts-details-cell" style="vertical-align:middle; padding:8px 8px 8px 0px; line-height:1.5;">
							  			<div class="details">
							  			{% if special.price_type_ref_id == 300 %}
							  				${{special.price.toFixed(2)}} {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 301 %}
							  				{{special.price.toFixed(0)}}% Off {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 302 %}
							  				BOGO {{special.details}}
							  			{% endif %}
							  			{% if special.price_type_ref_id == 307 %}
							  				Free {{special.details}}
							  			{% endif %}
							  			</div>

							  			{% if !special.title %}
								  			<div style="line-height:1.2;">
								  			{% if special.dinein %}
								  				<p class="dinein">Dine-in</p>
								  			{% endif %}
								  			{% if special.carryout %}
								  				<p class="takeout">Takeout</p>
								  			{% endif %}
								  			</div>
							  			{% endif %}

							  			{% if special.title %}
								  			<p style="font-size:12px; line-height:1.5;"><i class="fa fa-calendar fa-fw"></i> {{special.title}}</p>
								  		{% endif %}
							  		</td>
							  		<td class="ts-time-cell" style="vertical-align:middle; padding:8px 0px 8px 0px;">
							  			<div class="ends-at">
							  				<span style="font-size:12px; color:#797979; font-weight:500;">{{ special.startDate }}</span>
							  				<br />
							  				{{ special.duration }}
							  			</div>
							  		</td>
							  		<td style="width:10%; vertical-align:middle;">
							  			{% if !special.title %}
							  			<div class="delete-deal">
							  				<span style="cursor:pointer">
							  					<a id="delete{{special.special_id}}Deal" onclick="deleteDailySpecial({{special.special_id}}, {{special.day}})" data-toggle="tooltip" title="Delete">
							  						<i class="fa fa-trash fa-sm" style="color:rgb(236,80,80); font-size:16px;"> </i>
							  					</a>
							  				</span>
							  			</div>
							  			{% endif %}
							  		</td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
							{% if !twoWeeksOutSpecials.length %}
							<tbody>
								<h5 style="padding:15px 10px; margin:0 10px; font-size:12px;">No exclusive specials this week</h5>
							</tbody>
							{% endif %}
						</table>
						<!-- TWO WEEKS OUT -->

						<input id="hiddenInstantSpecialId" type = "hidden" name = "delInstantSpecialId" value = "instantSpecialId" />
					</div>
				</form>		
			</div>
		</div>
	</div>

	<div class="col-md-7 weekly-specials-col" style="padding-left:0;">
		<div class="form-panel" style="padding:20px;">

			<div class="row" style="margin:5px 0 0;">
				<div class="col col-xs-12" style="padding:0;">
		    		<h3 style="margin-bottom:10px;">Weekly Specials</h3>
		    		<p style="font-size:14px; line-height:1.2;">These specials will occur once per week on the day(s) and time specified. No push notification will be sent to users when this special begins.</p>
		    		
		    		{% if !needsToPay || (cardOnFile && hasSubscription) %}
	    			<p style="font-size:12px; line-height:1.2; margin-top:10px; font-weight:900; color:rgb(100,100,100);">
	    				Limit 5 recurring specials per day <span style="color:rgb(150,150,150); font-style:italic;">(Event specials do not count against this limit).</span>
	    			</p>
		    		{% endif %}
		    		{% if needsToPay && (!cardOnFile || !hasSubscription) %}
		    		<p style="font-size:12px; line-height:1.2; margin-top:10px; font-weight:900; color:rgb(100,100,100);">
		    			Limit 1 recurring special per day <span style="color:rgb(150,150,150); font-style:italic;">(Event specials do not count against this limit).</span>
		    		</p>
		    		<p style="font-size:12px; line-height:1.2; margin-top:2px; color:rgb(100,100,100);">
		    			<a href="" onclick="premium(event)" style="color:rgb(244,149,60); font-weight:900;">Upgrade to Premium</a> to increase daily limit to 5.
		    		</p>
		    		{% endif %}
		    	</div>
		    	<!--
		      	<div class="col col-xs-3" style="padding:0; text-align:right;">
			        <button class="btn btn-primary " onclick="toggleAddDailyDealDiv()" id="ds-edit">Create Weekly Special</button>
			        <button class="btn btn-danger " onclick="toggleAddDailyDealDiv()" id="ds-cancel" style="display:none;">Cancel</button>
			    </div>
				-->
		    </div>

		    <div class="row" style="margin:20px 0 0;">
				<div class="col col-xs-12" style="padding:0;">
		   		 	<button class="btn btn-primary btn-lg" onclick="toggleAddDailyDealDiv()" id="ds-edit" style="width:100%; margin-bottom:30px; font-size:16px;">Create Weekly Special</button>
			    </div>
			</div>

		    <span id="establishment-name" style="display:none">{{name}}</span>

		    <div class="form-horizontal style-form" style="margin-left:-20px; margin-right:-20px;">
		    	<form id="addDealForm" class="form-horizontal" role="form" method="post" action="/addDailyDeal">
			    	<div id="addDailyDealDiv">
			    		<div class="row" style="margin-bottom:20px;">
			    			<div class="col-md-12">
		    					<h4 style="color:rgb(30,100,40); font-weight:900;">Add Weekly Special</h4>
		    				</div>
		    			</div>
		        		<div class="row form-row" style="margin-bottom:10px;">
				            <div class="col-md-12">
				                <label style="display:block;">Select the day(s) you would like this special to occur on:</label>

				                <div id="daily-dayToggle" class="btn-group btn-group-justified" role="group">
				                	<div class="btn-group">
					                	<button id="daily-monToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('mon')">Mon</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-tueToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('tue')">Tue</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-wedToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('wed')">Wed</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-thuToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('thu')">Thu</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-friToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('fri')">Fri</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-satToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('sat')">Sat</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-sunToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDay('sun')">Sun</button>
					            	</div>
					            </div>

					            <input id="daily-day-mon" type="hidden" name="dailyDayMon" value="false" />
					            <input id="daily-day-tue" type="hidden" name="dailyDayTue" value="false" />
					            <input id="daily-day-wed" type="hidden" name="dailyDayWed" value="false" />
					            <input id="daily-day-thu" type="hidden" name="dailyDayThu" value="false" />
					            <input id="daily-day-fri" type="hidden" name="dailyDayFri" value="false" />
					            <input id="daily-day-sat" type="hidden" name="dailyDaySat" value="false" />
					            <input id="daily-day-sun" type="hidden" name="dailyDaySun" value="false" />



				                <!--
				                <input type="checkbox" id="daily-day-mon" name="dailyDayMon" value="false"> Mon &nbsp;
		                        <input type="checkbox" id="daily-day-tue" name="dailyDayTue" value="false"> Tue &nbsp;
		                        <input type="checkbox" id="daily-day-wed" name="dailyDayWed" value="false"> Wed &nbsp;
		                        <input type="checkbox" id="daily-day-thu" name="dailyDayThu" value="false"> Thu &nbsp;
		                        <input type="checkbox" id="daily-day-fri" name="dailyDayFri" value="false"> Fri &nbsp;
		                        <input type="checkbox" id="daily-day-sat" name="dailyDaySat" value="false"> Sat &nbsp;
		                        <input type="checkbox" id="daily-day-sun" name="dailyDaySun" value="false"> Sun &nbsp;
		                    	-->
				            </div>
				        </div>
				        <div class="row form-row" style="margin-bottom:10px;">
				            <div class="col-md-6 col-sm-6 col-xs-6">
				                <label for="duration-hr">Start Time</label>
				                <input type="time" class="form-control" id="daily-start" name="dailyStartTime" required />
				            </div>
				            <div class="col-md-6 col-sm-6 col-xs-6">
				                <label for="duration-min">End Time</label>
				                <input type="time" class="form-control" id="daily-end" name="dailyEndTime" required />
				            </div>
	                    </div>
				        <div class="row form-row" style="margin-bottom:10px;">
				        	<div class="col-md-6 col-sm-12 col-xs-12">
				                <label for="daily-priceType">Price Type</label><br />
				                <div id="daily-priceTypeToggle" class="btn-group btn-group-justified" role="group">
				                	<div class="btn-group">
					                	<button id="daily-moneyToggleButton" type="button" style="text-decoration: none" class="btn btn-primary" onclick="toggleDailyPriceType('money')"><i id="moneySign" class="fa fa-dollar fa-lg"></i></button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-percentToggleButton" type="button" class="btn btn-default" onclick="toggleDailyPriceType('percent')"><i id="percentSign" class="fa fa-percent fa-lg"></i></button>
					                </div>
					                <div class="btn-group">
					                	<button id="daily-bogoToggleButton" type="button" class="btn btn-default" onclick="toggleDailyPriceType('bogo')"><b>BOGO</b></button>
					                </div>
					                <div class="btn-group">
					                	<button id="daily-freeToggleButton" type="button" class="btn btn-default" onclick="toggleDailyPriceType('free')"><b>Free</b></button>
					            	</div>
					            </div>
					            <input id="hiddenDailyPriceType" type="hidden" name="dailyPriceType" value="300" />
				            </div>
				            <div class="col-md-6 col-sm-12 col-xs-12" id="createDailySpecialPrice">
				                <label for="daily-price" id="daily-priceLabel">Price</label>
				                <div class="left-inner-addon">
				                    <i id="daily-moneySignInPriceTextbox" class="fa fa-dollar fa-lg"></i>
				                    <i id="daily-percentSignInPriceTextbox" class="fa fa-percent fa-lg" style="display:none; font-size:1em;"></i>
				                    <i id="daily-bogoInPriceTextbox" style="display:none; font-size:.8em; padding-top:9px; color:rgb(170, 170, 170);">BOGO</i>
				                    <i id="daily-freeInPriceTextbox" style="display:none; font-size:.8em; padding-top:9px; color:rgb(170, 170, 170);">Free</i>
				                    <input type="text" maxlength="5" class="form-control" id="daily-price" name="dailyPrice" onblur="validateField(this);" onkeypress="return isNumberKey(event)" required />
				                </div>
				            </div>
				        </div>
				        <div class="row form-row" style="margin-bottom:10px;">
				            <div class="col-md-12 col-sm-12 col-xs-12">
				                <label for="daily-details">Details</label>
				                <input type="text" class="form-control" id="daily-details" maxlength="40" name="dailyDetails" required />
				            </div>
				        </div>
				        <div class="row form-row" style="margin-bottom:10px;">
				            <div class="col-md-12 col-sm-12 col-xs-12">
				                <label for="daily-special-takeout">Is this special for dine-in and/or takeout?</label>
				                <div id="daily-takeout-toggle" class="btn-group btn-group-justified" role="group">
				                	<div class="btn-group">
					                	<button id="daily-dineinToggleButton" type="button" style="text-decoration: none" class="btn btn-primary" onclick="selectDailyDineinTakeout('dinein')">Dine-in</button>
					            	</div>
					            	<div class="btn-group">
					                	<button id="daily-takeoutToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectDailyDineinTakeout('takeout')">Takeout</button>
					            	</div>
					            </div>
					            <input id="daily-dinein" type="hidden" name="dailyDinein" value="true" />
					            <input id="daily-takeout" type="hidden" name="dailyTakeout" value="false" />
				            </div>
				        </div>
	                    <div class="row form-row">
	                    	<div class="col-md-12">
		                    	<label>Select an icon to display with your special:</label>
		                    </div>
		                </div>
		                <div class="row form-row">
		                	<div class="col-md-12">
			                    <button id="daily-deal-type-0" onclick="chooseDailyDealType(0)" class="daily-deal-type-button" data-toggle="tooltip" title="Draft" type="button" name="dailyDealType0" value="0">
			                        <img src="assets/img/beer-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-14" onclick="chooseDailyDealType(14)" class="daily-deal-type-button" data-toggle="tooltip" title="Bottle" type="button" name="dailyDealType14" value="0">
			                        <img src="assets/img/beerbottle.png" />
			                    </button>
			                    <button id="daily-deal-type-15" onclick="chooseDailyDealType(15)" class="daily-deal-type-button" data-toggle="tooltip" title="Can" type="button" name="dailyDealType15" value="0">
			                        <img src="assets/img/beercan.png" />
			                    </button>
			                    <button id="daily-deal-type-1" onclick="chooseDailyDealType(1)" class="daily-deal-type-button" data-toggle="tooltip" title="Shot" type="button" name="dailyDealType1" value="0">
			                        <img src="assets/img/shot-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-2" onclick="chooseDailyDealType(2)" class="daily-deal-type-button" data-toggle="tooltip" title="Mixed Drink" type="button" name="dailyDealType2" value="0">
			                        <img src="assets/img/mixed-drink-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-3" onclick="chooseDailyDealType(3)" class="daily-deal-type-button" data-toggle="tooltip" title="Margarita" type="button" name="dailyDealType3" value="0">
			                        <img src="assets/img/margarita-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-4" onclick="chooseDailyDealType(4)" class="daily-deal-type-button" data-toggle="tooltip" title="Martini" type="button" name="dailyDealType4" value="0">
			                        <img src="assets/img/martini-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-5" onclick="chooseDailyDealType(5)" class="daily-deal-type-button" data-toggle="tooltip" title="Liquor" type="button" name="dailyDealType5" value="0">
			                        <img src="assets/img/tumbler-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-6" onclick="chooseDailyDealType(6)" class="daily-deal-type-button" data-toggle="tooltip" title="Wine" type="button" name="dailyDealType6" value="0">
			                        <img src="assets/img/wine-icon.png" />
			                    </button>
		                	<!--</div>
		                </div>
		                <div class="row form-row">
		                	<div class="col-md-12">-->
			                    <button id="daily-deal-type-7" onclick="chooseDailyDealType(7)" class="daily-deal-type-button" data-toggle="tooltip" title="Burger" type="button" name="dailyDealType7" value="0">
			                        <img src="assets/img/burger-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-8" onclick="chooseDailyDealType(8)" class="daily-deal-type-button" data-toggle="tooltip" title="Appetizer" type="button" name="dailyDealType8" value="0">
			                        <img src="assets/img/appetizer-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-9" onclick="chooseDailyDealType(9)" class="daily-deal-type-button" data-toggle="tooltip" title="Pizza" type="button" name="dailyDealType9" value="0">
			                        <img src="assets/img/pizza-icon.png" />
			                    </button>
			                    <button id="daily-deal-type-10" onclick="chooseDailyDealType(10)" class="daily-deal-type-button" data-toggle="tooltip" title="Taco" type="button" name="dailyDealType10" value="0">
			                        <img src="assets/img/taco-icon.png" style="width:44px !important" />
			                    </button>
			                    <button id="daily-deal-type-11" onclick="chooseDailyDealType(11)" class="daily-deal-type-button" data-toggle="tooltip" title="Sushi" type="button" name="dailyDealType11" value="0">
			                        <img src="assets/img/sushi.png" />
			                    </button>
			                    <button id="daily-deal-type-12" onclick="chooseDailyDealType(12)" class="daily-deal-type-button" data-toggle="tooltip" title="Bowl" type="button" name="dailyDealType12" value="0">
			                        <img src="assets/img/bowl.png" />
			                    </button>
			                    <button id="daily-deal-type-13" onclick="chooseDailyDealType(13)" class="daily-deal-type-button" data-toggle="tooltip" title="Chicken Wing" type="button" name="dailyDealType13" value="0">
			                        <img src="assets/img/chickenwing.png" />
			                    </button>
		                	</div>

		                    <input id="hiddenType" type="hidden" name="type" value="{{typeVal}}" />
	                    </div>

	                   	<label id="validateDailyDealsAdd" class="error-alerts"></label>

	 					<div class="row add-daily-deal-footer">
	 						<div class="col-md-12">
					            <button type="button" class="btn btn-success btn-lg" onclick="validateAddDailyDealsBeforeSubmit()" style="width:99%; margin-bottom:5px; font-size:16px;">Add Special</button>
					            <button type="button" class="btn btn-default" onclick="clearWeeklySpecial(event)" style="width:49%;">Clear Fields</button>
					            <button type="button" class="btn btn-danger" onclick="toggleAddDailyDealDiv()" style="width:49%;">Cancel</button>
				        	</div>
				        </div>
	                </div>
	            </form>

	            <form id="removeDailyDeal" class="form-horizontal" role="form" method="post" action="/removeDailyDeal">
			    	<table id="dailyDeals" class="table">
			    		<tbody>
			    			{% for days in dailySpecials %}
			    				{% for special in days %}
									<tr style="background-color:rgba(43,73,145,0.1);">
										{% if loop.first && special.day == 0 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Monday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ monSpecialsRemaining }} 
												</span>
												{% if monSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if monSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 1 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Tuesday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ tueSpecialsRemaining }} 
												</span>
												{% if tueSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if tueSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 2 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Wednesday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ wedSpecialsRemaining }} 
												</span>
												{% if wedSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if wedSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 3 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Thursday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ thuSpecialsRemaining }} 
												</span>
												{% if thuSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if thuSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 4 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Friday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ friSpecialsRemaining }} 
												</span>
												{% if friSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if friSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 5 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Saturday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ satSpecialsRemaining }} 
												</span>
												{% if satSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if satSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  		{% if loop.first && special.day == 6 %}
								  		<td style="padding:3px 10px; border-top:0;" colspan="4">
								  			<div class="col col-xs-6 daily-day" style="text-align:left; padding:0; color:rgb(50,50,50);">
												Sunday
											</div>
											<div class="col col-xs-6 daily-day" style="text-align:right; padding-right:0; color:rgb(50,50,50);">
												<span style="font-weight:900; font-size:13px; vertical-align:bottom;">
													{{ sunSpecialsRemaining }} 
												</span>
												{% if sunSpecialsRemaining != 1 %}
													specials 
												{% endif %}
												{% if sunSpecialsRemaining == 1 %}
													special
												{% endif %}
												remaining
											</div>
								  		</td>
								  		{% endif %}
								  	</tr>

								  	{% if !special.empty %}
								  	<tr>
								  		<td style="width:3%; padding-right:5px; vertical-align:middle;">
								  			<div class="deal-type-icon">
								  				<img src="assets/img/{{special.deal_type_ref_id_DS}}">
								  			</div>
								  		</td>
								  		<td style="width:40%; padding-left:0; vertical-align:middle; line-height:1.1;">
								  			<div class="details">
								  			{% if special.price_type_ref_id == 300 %}
								  				${{special.price.toFixed(2)}} {{special.details}}
								  			{% endif %}
								  			{% if special.price_type_ref_id == 301 %}
								  				{{special.price.toFixed(0)}}% Off {{special.details}}
								  			{% endif %}
								  			{% if special.price_type_ref_id == 302 %}
								  				BOGO {{special.details}}
								  			{% endif %}
								  			{% if special.price_type_ref_id == 307 %}
								  				Free {{special.details}}
								  			{% endif %}
								  			</div>

								  			{% if !special.title %}
									  			<div style="line-height:1.2;">
									  			{% if special.dinein %}
									  				<p class="dinein">Dine-in</p>
									  			{% endif %}
									  			{% if special.carryout %}
									  				<p class="takeout">Takeout</p>
									  			{% endif %}
									  			</div>
								  			{% endif %}

								  			{% if special.title %}
								  				<p style="font-size:12px; line-height:1.5;"><i class="fa fa-calendar fa-fw"></i> {{special.title}}</p>
								  			{% endif %}
								  		</td>
								  		<td style="width:40%; vertical-align:middle;">
								  			<div class="daily-duration-desktop">
								  				{{special.start_time_DS}} - {{special.end_time_DS}}
								  			</div>
								  		</td>
								  		<td style="width:20%; vertical-align:middle; text-align:right; padding-right:15px;">
								  			{% if !special.title %}
								  			<div class="delete-deal">
								  				<span style="cursor:pointer;">
								  					<a id="editDeal{{special.special_id}}" onclick="editDeal({{special.special_id}})">
								  						<i class="fa fa-pencil fa-sm" style="color:rgb(51,122,183)"> </i>
								  					</a>
								  				</span>
								  			</div>
								  			{% endif %}
								  		</td>
								  	</tr>
								  	{% endif %}

								  	{% if special.empty %}
							  		<td style="padding:15px 20px;" colspan="4">
							  			<h5 style="font-size:12px;">
							  				No specials
							  			</h5>
							  		</td>
							  		{% endif %}
							  	{% endfor %}
							{% endfor %}
						</tbody>
			    	</table>
			    	<input id="hiddenDailyDealId" type = "hidden" name = "delSpecialId" value = "specialId" />
		    	</form>
		    </div>
		</div>
	</div>
</div>


<div id="add-deal-confirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="add-edit-deal-confirm" class="modal-title">Create Exclusive Special</h4>
            </div>
            <form id="addSpecialForm" class="form-horizontal" role="form" method="post" action="/addDeal"> 
                <div class="modal-body" style="padding-bottom:0px;">
                    <div class="form-group" style="padding: 0px 20px;">
                        Here's a preview of how your special will look to your customers. If you're satisfied with your special, click the Confirm & Add Special button below! Need to make some changes? No problem! Just click Cancel to adjust your special info.
                    </div>

                    <div class="form-group" id="scheduled-div" style="display:none; padding: 0px 20px 0px 20px; font-weight:bold;">
                        This special is scheduled to start on <span id="start-date-confirm" style="color:red;"></span> at <span id="start-time-confirm" style="color:red;"></span>. At that time, AppyHour customers in the area will receive a push notification informing them of your special.
                    </div>

                    <div class="form-group adjusted-duration" id="adjusted-duration" style="display: none">
                        <span style="font-weight: bold">Notice:</span> 
                        The duration you entered exceeded your closing time. The new duration below reflects your closing time.
                    </div>

                    <div class="preview-container">
                        <table class="table" style="padding-bottom:0px; background-color:rgba(247, 134, 54, 0.1);">
                            <tbody>
                                <tr>
                                    <td class="cell1-confirm" style="width:15%; text-align:center;">
                                        <div id="type-confirm" name="deal_type"></div>
                                        <div id="price-type-confirm" name="price_type_ref_id"></div>
                                        <div id="price-confirm" name="price" style="padding-top:3px;"></div>
                                    </td>
                                    <td class="cell2-confirm" style="width:50%">
                                        <div id="details-confirm" name="details"></div>
                                        <div id="establishment-confirm"></div>
                                        <div id="distance-confirm">0.5 mi</div>
                                    </td>
                                    <td class="cell3-confirm" style="width:35%; text-align:right;">
                                        <div id="time-remaining-confirm" name="time" style="margin-bottom:5px;"></div>
                                        <span style="font-family:AvenirNext-Medium !important; font-size:6pt !important; color: black; background-color: white; border: 1px solid orange; border-radius: 25px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 2px;">
                						AppyHour Exclusive
              							</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <input id="hiddenPriceType" type = "hidden" name = "priceType" value = "priceTypeVal" />
                <input id="hiddenPrice" type = "hidden" name = "price" value = "{{priceVal}}" />
                <input id="hiddenDetails" type = "hidden" name = "details" value = "{{detailsVal}}" />
                <input id="hiddenHours" type = "hidden" name = "hours" value = "{{hoursVal}}" />
                <input id="hiddenMinutes" type = "hidden" name = "minutes" value = "{{minutesVal}}" />
                <input id="hiddenTypeConfirm" type = "hidden" name = "type" value = "{{typeVal}}" />
                <input id="hiddenSpecialStartDate" type = "hidden" name = "specialStartDate" />
                <input id="hiddenSpecialStartTime" type = "hidden" name = "specialStartTime" />
                <input id="hiddenIsScheduledSpecial" type = "hidden" name = "isScheduledSpecial" />
                <input id="hiddenDinein" type = "hidden" name = "dinein" value = "{{dinein}}" />
                <input id="hiddenTakeout" type = "hidden" name = "carryout" value = "{{takeout}}" />

                <div class="modal-footer add-deal-confirm-footer">
                    <button id="add-edit-deal-submit" class="btn btn-success " type="submit">Confirm & Add Special</button>
                    <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="edit-deal-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Special</h4>
            </div>
            <form id="editSpecialForm" class="form-horizontal" role="form" method="post" action="/editspecial"> 
                <div class="modal-body">
                	<div class="row modal-row" style="margin-bottom:10px;">
                		<div class="col-md-12">
                			<p style="font-size:0.6em; margin-bottom:10px;">
                				<span style="font-weight:900;color:rgb(50,50,50);">NOTE:</span>
                				The <span style="font-weight:900;color:rgb(200,50,50);">Price</span> and 
                				<span style="font-weight:900;color:rgb(200,50,50);">Details</span> cannot be edited in order to maintain the integrity of the special for performance tracking purposes. To change these fields, you'll need to delete the special entirely and recreate it.
                			</p>
                		</div>
                	</div>
 					<div class="row modal-row" style="margin-bottom:10px;">
			            <div class="col-md-12">
			                <label style="display:block;">Select the day(s) you would like this special to occur on:</label>
			                <div id="edit-dayToggle" class="btn-group btn-group-justified" role="group">
			                	<div class="btn-group">
				                	<button id="edit-monToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('mon'); validateEditSpecialDay();">Mon</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-tueToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('tue'); validateEditSpecialDay();">Tue</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-wedToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('wed'); validateEditSpecialDay();">Wed</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-thuToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('thu'); validateEditSpecialDay();">Thu</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-friToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('fri'); validateEditSpecialDay();">Fri</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-satToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('sat'); validateEditSpecialDay();">Sat</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-sunToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDay('sun'); validateEditSpecialDay();">Sun</button>
				            	</div>
				            </div>

				            <input id="edit-day-mon" type="hidden" name="editDayMon" value="false" />
				            <input id="edit-day-tue" type="hidden" name="editDayTue" value="false" />
				            <input id="edit-day-wed" type="hidden" name="editDayWed" value="false" />
				            <input id="edit-day-thu" type="hidden" name="editDayThu" value="false" />
				            <input id="edit-day-fri" type="hidden" name="editDayFri" value="false" />
				            <input id="edit-day-sat" type="hidden" name="editDaySat" value="false" />
				            <input id="edit-day-sun" type="hidden" name="editDaySun" value="false" />

				            <input id="edit-day-mon-orig" type="hidden" name="editDayMonOrig" value="false" />
				            <input id="edit-day-tue-orig" type="hidden" name="editDayTueOrig" value="false" />
				            <input id="edit-day-wed-orig" type="hidden" name="editDayWedOrig" value="false" />
				            <input id="edit-day-thu-orig" type="hidden" name="editDayThuOrig" value="false" />
				            <input id="edit-day-fri-orig" type="hidden" name="editDayFriOrig" value="false" />
				            <input id="edit-day-sat-orig" type="hidden" name="editDaySatOrig" value="false" />
				            <input id="edit-day-sun-orig" type="hidden" name="editDaySunOrig" value="false" />
			            </div>
			        </div>
			        <div class="row modal-row" style="margin-bottom:10px;">
			            <div class="col-md-6 col-sm-6 col-xs-6">
			                <label for="duration-hr">Start Time</label>
			                <input type="time" class="form-control" id="edit-start" name="editStartTime" onblur="validateEditSpecialStartTime()" required />
			            </div>
			            <div class="col-md-6 col-sm-6 col-xs-6">
			                <label for="duration-min">End Time</label>
			                <input type="time" class="form-control" id="edit-end" name="editEndTime" onblur="validateEditSpecialEndTime()" required />
			            </div>
                    </div>
			        <div class="row modal-row" style="margin-bottom:10px;">
			            <div class="col-md-12 col-sm-12 col-xs-12">
			                <label for="edit-special-takeout">Is this special for dine-in and/or takeout?</label>
			                <div id="edit-takeout-toggle" class="btn-group btn-group-justified" role="group">
			                	<div class="btn-group">
				                	<button id="edit-dineinToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDineinTakeout('dinein', false); validateEditSpecialDineinTakeout();">Dine-in</button>
				            	</div>
				            	<div class="btn-group">
				                	<button id="edit-takeoutToggleButton" type="button" style="text-decoration: none" class="btn btn-default" onclick="selectEditDineinTakeout('takeout', false); validateEditSpecialDineinTakeout();">Takeout</button>
				            	</div>
				            </div>
				            <input id="edit-dinein" type="hidden" name="editDinein" value="false" />
				            <input id="edit-takeout" type="hidden" name="editTakeout" value="false" />
			            </div>
			        </div>
                    <div class="row modal-row">
                    	<div class="col-md-12">
	                    	<label>Select an icon to display with your special:</label>
	                    </div>
	                </div>
	                <div class="row modal-row">
	                	<div class="col-md-12">
		                    <button id="edit-deal-type-0" onclick="chooseEditDealType(0)" class="daily-deal-type-button" data-toggle="tooltip" title="Draft" type="button" name="editDealType0" value="0">
		                        <img src="assets/img/beer-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-14" onclick="chooseEditDealType(14)" class="daily-deal-type-button" data-toggle="tooltip" title="Bottle" type="button" name="editDealType14" value="0">
		                        <img src="assets/img/beerbottle.png" />
		                    </button>
		                    <button id="edit-deal-type-15" onclick="chooseEditDealType(15)" class="daily-deal-type-button" data-toggle="tooltip" title="Can" type="button" name="editDealType15" value="0">
		                        <img src="assets/img/beercan.png" />
		                    </button>
		                    <button id="edit-deal-type-1" onclick="chooseEditDealType(1)" class="daily-deal-type-button" data-toggle="tooltip" title="Shot" type="button" name="editDealType1" value="0">
		                        <img src="assets/img/shot-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-2" onclick="chooseEditDealType(2)" class="daily-deal-type-button" data-toggle="tooltip" title="Mixed Drink" type="button" name="editDealType2" value="0">
		                        <img src="assets/img/mixed-drink-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-3" onclick="chooseEditDealType(3)" class="daily-deal-type-button" data-toggle="tooltip" title="Margarita" type="button" name="editDealType3" value="0">
		                        <img src="assets/img/margarita-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-4" onclick="chooseEditDealType(4)" class="daily-deal-type-button" data-toggle="tooltip" title="Martini" type="button" name="editDealType4" value="0">
		                        <img src="assets/img/martini-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-5" onclick="chooseEditDealType(5)" class="daily-deal-type-button" data-toggle="tooltip" title="Liquor" type="button" name="editDealType5" value="0">
		                        <img src="assets/img/tumbler-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-6" onclick="chooseEditDealType(6)" class="daily-deal-type-button" data-toggle="tooltip" title="Wine" type="button" name="editDealType6" value="0">
		                        <img src="assets/img/wine-icon.png" />
		                    </button>

		                    <button id="edit-deal-type-7" onclick="chooseEditDealType(7)" class="daily-deal-type-button" data-toggle="tooltip" title="Burger" type="button" name="editDealType7" value="0">
		                        <img src="assets/img/burger-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-8" onclick="chooseEditDealType(8)" class="daily-deal-type-button" data-toggle="tooltip" title="Appetizer" type="button" name="editDealType8" value="0">
		                        <img src="assets/img/appetizer-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-9" onclick="chooseEditDealType(9)" class="daily-deal-type-button" data-toggle="tooltip" title="Pizza" type="button" name="editDealType9" value="0">
		                        <img src="assets/img/pizza-icon.png" />
		                    </button>
		                    <button id="edit-deal-type-10" onclick="chooseEditDealType(10)" class="daily-deal-type-button" data-toggle="tooltip" title="Taco" type="button" name="editDealType10" value="0">
		                        <img src="assets/img/taco-icon.png" style="width:44px !important" />
		                    </button>
		                    <button id="edit-deal-type-11" onclick="chooseEditDealType(11)" class="daily-deal-type-button" data-toggle="tooltip" title="Sushi" type="button" name="editDealType11" value="0">
		                        <img src="assets/img/sushi.png" />
		                    </button>
		                    <button id="edit-deal-type-12" onclick="chooseEditDealType(12)" class="daily-deal-type-button" data-toggle="tooltip" title="Bowl" type="button" name="editDealType12" value="0">
		                        <img src="assets/img/bowl.png" />
		                    </button>
		                    <button id="edit-deal-type-13" onclick="chooseEditDealType(13)" class="daily-deal-type-button" data-toggle="tooltip" title="Chicken Wing" type="button" name="editDealType13" value="0">
		                        <img src="assets/img/chickenwing.png" />
		                    </button>
	                	</div>

	                    <input id="hiddenTypeEdit" type="hidden" name="editType" value="{{typeVal}}" />
                    </div>

                    <div id="edit-special-errors" class="row modal-row" style="display:none;">

                    </div>
 				</div>

 				<input id="edit-special-ids" type="hidden" name="editSpecialIds" value="" />
 				<input id="edit-special-id" type="hidden" name="editSpecialId" value="" />
 				<input id="edit-price-type-id" type="hidden" name="editPriceTypeId" value="" />
 				<input id="edit-price" type="hidden" name="editPrice" value="" />
 				<input id="edit-details" type="hidden" name="editDetails" value="" />

                <div style="text-align:center; padding:15px; border-top:1px solid #e5e5e5;">
                    <button type="submit" class="btn btn-success btn-lg" style="width:99%; margin-bottom:5px; font-size:16px; display:inline-block;" onclick="validateEditSpecial(event)">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:49%; margin-left:0;">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="deleteEditSpecial()" style="width:49%; margin-left:0;">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>