{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<!-- Newsletter code -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"138a8def1d6b8b8661016f4fb","lid":"cd7c4901f7","uniqueMethods":true}) })</script>

<body>
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--<header class="header black-bg">
          <a href="home.html" class="logo"><b>AppyHour</b></a>       
          <a href="#" class="auth" data-toggle="modal" data-target="#login-modal">Establishment Login</a>
        </header>-->

        <!--header start-->
        <div class="banner">
          <div class="header">
            <div class="container header-container">
              <div class="header-main">
                <div class="logo">
                  <h1><a href="/"><img src="assets/img/ah.ico" align="left" /> AppyHour<span style="font-size:.3em; vertical-align: top; margin-left:5px;">&reg;</span></a></h1>
                </div>
                <div class="top-nav">
                  <!--<button class="btn btn-primary" id="btnLogin" data-toggle="modal" data-target="#login-modal" data-hover="Establishment Login" style="background:#2B4991;">Establishment Login</button>-->
                  <form method="get" action="/estlogin" role="form">
                    <button class="btn btn-primary" id="btnLogin" data-hover="Establishment Login" style="background:#2B4991;">Establishment Login</button>
                  </form>
                </div>
                <!--
                <div class="top-nav">
                  <span class="menu"> <img src="assets/img/menubtn.png" alt=""/></span>
                  <nav class="cl-effect-16">
                    <ul class="res">
                      <span class="scroll-links">
                        <li><a class="scroll" href="#about" data-hover="About">About</a></li> 
                        <li><a class="scroll" href="#establishments" data-hover="Establishments">Establishments</a></li> 
                        <li><a class="scroll" href="#users" data-hover="Users">Users</a></li> 
                        <li><a class="scroll" href="#footer" data-hover="Contact">Contact</a></li>
                        <li><a class="btn-login" id="btn-login" href="#" data-toggle="modal" data-target="#login-modal" data-hover="Establishment Login">Establishment Login</a></li>
                      </span>
                    </ul>
                  </nav>
                  <script>
                    $( "span.menu" ).click(function() {
                      $( "ul.res" ).slideToggle( 300, function() {});
                    });
                  </script>
                </div>  
                -->            
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!--
          <div class="download-btns">
            <a href="https://itunes.apple.com/us/app/appyhour/id1061853308" target="_blank"><img class="app-store-md" src="../img/app-store.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.appyhourmobile.appyhour" target="_blank"><img class="play-store-md" src="../img/play-store-md.png"></a>
          </div>-->
        </div>
        <!--header end-->


        <!--about start-->
        <div class="about" id="about">
          <div class="container">
            <div class="about-main">
              <div class="about-top">
                <h2>What is AppyHour?</h2>
                <h4 style="margin-bottom:20px;">Smart marketing and business management at your fingertips.</h4>
                <p>The AppyHour business platform empowers clients to better manage, understand, and grow their business from a single dashboard. We provide tools that engage customers, drive traffic, gather insight, and intelligently optimize offers and promotions to maximize performance and grow your business.</p>
                <h4 style="color: #2B4991; font-size:1.4em;"><i>Every hour is AppyHour!</i></h4>
              </div>
            </div>
          </div>
        </div>
        <!--about end-->


        <!--features start-->
        <div class="features">
          <div class="features-main">
            <section class="slider">
              <div class="flexslider">
                <div class="features-title">
                  <h3>Mobile App - Features</h3>
                </div>
                <ul class="slides">
                  <li>
                    <div class="col-md-6 col-sm-12 features-left">
                      <h4>The Deal Feed</h4>
                      <p>AppyHour's live deal feed gives you access to the best specials and events happening at your favorite local establishments. Check back throughout the day as the feed changes to never miss a great deal again!</p>
                    </div>
                    <div class="col-md-6 col-sm-12 features-right">
                      <div class="screenshot">
                        <img src="assets/img/iphone_specials.png" alt="">
                      </div>
                    </div>
                  </li> 
                  <li>
                    <div class="col-md-6 col-sm-12 features-left">
                      <h4>Explore Bars & Restaurants Near You</h4>
                      <p>Search and filter the map of all your favorite nearby bars and restaurants to quickly compare deals and find a place that suits your budget and satisfies your appetite.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 features-right">
                      <div class="screenshot">
                        <img src="assets/img/iphone_establishments.png" alt="">
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col-md-6 col-sm-12 features-left">
                      <h4>Detailed Establishment Profiles</h4>
                      <p>Click a deal or event to see the establishment's profile detailing offers and info about the bar or restaurant. Better yet - spread the love by sharing a special with your friends!</p>
                    </div>
                    <div class="col-md-6 col-sm-12 features-right">
                      <div class="screenshot">
                        <img src="assets/img/iphone_establishment.png" alt="">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="clearfix"> </div>
            </section>
            <div class="clearfix"> </div>
          </div>  
        </div>
        <!--features end-->


        <!--features mobile start-->
        <div class="features-mobile">
          <div class="container">
            <div class="features-mobile-main">
              <h2>Mobile App - Features</h2>
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <div class="col-md-12">
                      <h4>The Deal Feed</h4>
                      <div class="screenshot-mobile">
                        <img src="assets/img/iphone_specials.png" alt="">
                      </div>
                    </div>
                  </li> 
                  <li>
                    <div class="col-md-12">
                      <h4>The Best Events Near You</h4>
                      <div class="screenshot-mobile">
                        <img src="assets/img/iphone_events.png" alt="">
                      </div>
                    </div>
                  </li> 
                  <li>
                    <div class="col-md-12">
                      <h4>Save Your Favorite Establishments</h4>
                      <div class="screenshot-mobile">
                        <img src="assets/img/iphone_favorites.png" alt="">
                      </div>
                    </div>
                  </li> 
                  <li>
                    <div class="col-md-12">
                      <h4>Explore Bars & Restaurants Near You</h4>
                      <div class="screenshot-mobile">
                        <img src="assets/img/iphone_establishments.png" alt="">
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="col-md-12">
                      <h4>Detailed Establishment Profiles</h4>
                      <div class="screenshot-mobile">
                        <img src="assets/img/iphone_establishment.png" alt="">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--features mobile end-->


        <!--FlexSlider start-->
        <script defer src="assets/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
          $(window).on('load', function() {
            $('.flexslider').flexslider({
              animation: "slide",
              start: function(slider){
                $('body').removeClass('loading');
              }
            });
          });
        </script>
        <!--FlexSlider end-->


        <!--establishments start-->
        <div class="establishments" id="establishments">
            <div class="container">
                <div class="value-main">
                    <div class="value-top">
                        <h3>Value for Clients</h3>
                    </div>
                    <div class="value-bottom">
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span>
                            </div>
                            <h4>Agile Marketing, Direct to Consumer</h4>
                            <p>Easily schedule and create engaging specials, promotions, and events that reach consumers and drive traffic at the time of decision making.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span>
                            </div>
                            <h4>Targeted Audience, Immediate Reach</h4>
                            <p>Instantly notify nearby consumers of your new offers and promotions via push notifications and a real-time deal feed.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span>
                            </div>
                            <h4>Business Intelligence, Consumer Insight</h4>
                            <p>Capture real-time analytics to better understand what delights your customers, what offers and brands they care about, and how your promotions are affecting your business.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-scale" aria-hidden="true"> </span>
                            </div>
                            <h4>Smart Management, Optimized for Growth</h4>
                            <p>Leverage artificial intelligence and machine learning to make hyper-informed, data-backed business decisions and marketing campaigns that drive traffic, please customers, and grow your bottom line.</p>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--establishments end-->


        <!--users start-->
        <div class="users" id="users">
            <div class="container">
                <div class="value-main">
                    <div class="value-top">
                        <h3>Value for Users</h3>
                    </div>
                    <div class="value-bottom">
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span>
                            </div>
                            <h4>Instant Access</h4>
                            <p>Stay informed about current and upcoming food, drink, and event specials at nearby establishments.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span>
                            </div>
                            <h4>Tailored Promotions</h4>
                            <p>Receive in-app notifications about specials and promotions that you care about.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-usd" aria-hidden="true"> </span>
                            </div>
                            <h4>Extend Your Dollar</h4>
                            <p>Seamlessly access budget-friendly offers and promotions to enjoy more and spend less.</p>
                        </div>
                        <div class="col-md-3 val-grid">
                            <div class="val-icon">
                              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
                            </div>
                            <h4>Discover Local</h4>
                            <p>Find the latest offers, discover new places, and support local businesses in your community.</p>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--users end-->


        <div class="contact">
          <div class="container">
            <div class="contact-main">
              <div class="contact-top">
                <h2>Contact Us</h2>
                <form id="contact-form" method="get" action="/contactus" role="form">
                  <div id="contact-us-messages" style="margin-bottom:20px;"></div>
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="form_name">First Name</label>
                          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your first name" required="required" data-error="Firstname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="form_lastname">Last Name</label>
                          <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your last name" required="required" data-error="Lastname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="form_email">Email Address (required)</label>
                          <input id="form_email" type="email" name="email" class="form-control" placeholder="email@xyz.com" required="required" data-error="Valid email required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="form_phone">Phone Number</label>
                          <input id="form_phone" type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="xxx-xxx-xxxx" required="required" data-error="Valid phone number required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_bizName">Business Name (if applicable)</label>
                          <input id="form_bizName" type="text" name="bizName" class="form-control" placeholder="Business name" data-error="Please enter your business name.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_message">What can we do for you? (required)</label>
                          <textarea id="form_message" name="message" class="form-control" placeholder="Message..." rows="4" required="required" data-error="Please leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12" style="text-align:center; margin-top:10px;">
                        <input type="button" class="btn btn-primary btn-send" value="Send Message" onclick="contactUs(event)">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



        <!--footer start-->
        <div class="footer" id="footer">
          <div class="container">
            <div class="footer-main">
              <div class="col-md-4 ftr-grd">
                <h3>Get in Touch</h3>
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;(651) 253-3425</p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<a href="mailto:appy-support@appyhourmobile.com" target="_blank">appy-support@appyhourmobile.com</a></p>
              </div>
              <div class="col-md-4 ftr-grd">
                <h3>Follow Us</h3>
                <ul>
                  <li><a href="https://www.facebook.com/appyhrmobile/" target="_blank"><span class="fa"> </span></a></li>
                  <li><a href="https://twitter.com/appyhourmobile" target="_blank"><span class="tw"> </span></a></li>
                </ul>
              </div>
              <div class="col-md-4 ftr-grd">
                <h3>Download</h3>
                <a href="https://itunes.apple.com/us/app/appyhour/id1061853308" target="_blank"><img class="app-store-md" src="assets/img/app-store.png"></a>
                <a href="https://play.google.com/store/apps/details?id=com.appyhourmobile.appyhour" target="_blank"><img class="play-store-md" src="assets/img/play-store-md.png"></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--
            <script type="text/javascript">
              $(document).ready(function() {
                /*
                var defaults = {
                  containerID: 'toTop', // fading element id
                  containerHoverID: 'toTopHover', // fading element hover id
                  scrollSpeed: 1200,
                  easingType: 'linear' 
                };
                */
                  
                $().UItoTop({ easingType: 'easeOutQuart' });  
              });
            </script>

            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->
          </div>

          <div style="text-align:center; margin-top:50px;">
            <a href="/privacypolicy" target="_blank">Privacy Policy</a>
          </div>
        </div>
        <!--footer end--> 

      </div>

  </section>

  <!--
  <div id="resetPasswordEmail" style="display:none;"></div>

  login modal start
  <div id="login-modal" class="modal fade" role="dialog" style="position:absolute;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Establishment Login</h4>
        </div>
        <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
          <div id="loginDiv" class="login-wrapper">
            <div class="new-user-messages" id="login-warning-message" style="display: none; font-size: 10pt;"></div>
            <div class="error-messages" id="login-error-messages" style="display: none"></div>
            <div class="forgot-password-messages" id="forgot-password-messages" style="display: none;"></div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" onkeypress="enterToSubmit(event)" />
            </div>
            <div class="form-group" id="secretPasswordDiv" style="display:none;">
                <label for="secretpw">Secret Password</label>
                <input type="text" class="form-control" id="secretpw" name="secretpw" onkeypress="enterToSubmit(event)" />
            </div>
            <div class="form-group" id="passwordDiv" style="display:none;">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" onkeypress="enterToSubmit(event)" />
              <a id="forgot-password" href="" onclick="getEmailForForgotPassword(event)" style="margin-top:3px; font-size:.8em;">Forgot password?</a>
            </div>
            <div id="newPasswordDiv" style="display:none;">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" onkeypress="enterToSubmit(event)" />
              </div>
              <div class="form-group">
                <label for="email">New Password</label>
                <input type="text" class="form-control" id="newPassword" name="newPassword" onkeypress="enterToSubmit(event)" />
              </div>
              <div class="form-group">
                <label for="email">Confirm Password</label>
                <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" onkeypress="enterToSubmit(event)" />
              </div>
            </div>
            <div class="buttons">
              <button class="btn btn-success" id="btn-modal-enter">Enter</button>
              <button class="btn btn-success" id="btn-modal-continue" style="display: none">Continue</button>
              <button class="btn btn-success" id="btn-modal-save-and-login" style="display: none">Save & Login</button>
              <button class="btn btn-success" id="btn-modal-login" style="display: none">Login</button>
              <button class="btn btn-danger" id="btn-modal-cancel" data-dismiss="modal">Cancel</button>
            </div>
          </div>

          <div id="forgotPasswordDiv" class="login-wrapper" style="display:none; text-align:center;">
            <p style="margin-bottom:10px;">
              Clicking the Send Email button below will send a message to 
              <span id="forgotPasswordEmail" style="font-weight:bold; font-size:1.2em;"></span>
              with instructions to reset your password.
            </p>
            <button class="btn btn-success" id="btn-modal-forgot-password" onclick="forgotPassword(event)">Send Email</button>
            <button class="btn btn-danger" id="btn-modal-forgot-password-cancel">Cancel</button>
          </div>
      </form>
      </div>
    </div>
  </div>
  login modal end-->

  <div class="storeLinks" id="storeLinks">
    <div class="storeLinksContent">
      <a href="https://itunes.apple.com/us/app/appyhour/id1061853308" target="_blank"><img class="app-store-md" src="assets/img/app-store.png" style="height:43px; width:115px; margin-bottom:2px;"></a>
      <a href="https://play.google.com/store/apps/details?id=com.appyhourmobile.appyhour" target="_blank"><img class="play-store-md" src="assets/img/play-store-md.png" style="height:38px; width:120px; margin-bottom:4px;"></a>
    </div>
  </div>

</body>

<script type="text/javascript">
  function enterToSubmit(evt) {
    if(evt.keyCode == 13 && !isHidden("btn-modal-enter")) {
      modalEnterClick(evt);
    } else if(evt.keyCode == 13 && !isHidden("btn-modal-continue")) {
      modalContinueClick(evt);
    } else if(evt.keyCode == 13 && !isHidden("btn-modal-save-and-login")) {
      modalSaveAndLoginClick(evt);
    } else if(evt.keyCode == 13 && !isHidden("btn-modal-login")) {
      modalLoginClick(evt);
    }
  }

  function isHidden(elementId) {
    var style = window.getComputedStyle(document.getElementById(elementId));
    return (style.display === 'none')
  }
</script>

<script>
  jQuery(document).ready(callScroll);

  $(window).scroll(function() {
    callScroll();
  });
  $(window).blur(function() {
    callScroll();
  });

  function callScroll() {
    var footer = document.getElementById("footer");
    if(isInView(footer)) 
      document.getElementById("storeLinks").style.display = "none";
    else 
      document.getElementById("storeLinks").style.display = "block";
  }

  function isInView(el) {
    var rect = el.getBoundingClientRect();
    var elemTop = rect.top;
    var elemBottom = rect.bottom;

    var isVisible = elemTop <= window.innerHeight;

    return isVisible;
  }
</script>

<!--
<script>
function loginEnter() {
  var User = require('../models/user.js');

  User.getAllByUsername(req.body.username, function(err, user) {
    console.log(user);
    });
}
</script>
-->



<!-- LOGIN
<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Login</div>
              </div> 
              <div class="panel-body" >
          <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
            <div id="signupalert" class="alert alert-danger">{{ message }}</div>
                        <div class="form-group">
                          <label for="username" class="col-md-3 control-label">Username</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" name="username">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="col-md-3 control-label">Password</label>
                          <div class="col-md-9">
                              <input type="password" class="form-control" name="password">
                          </div>
                      </div>
                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                              <button id="btn-login" type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div> 
                    </form>
        </div>
          </div>                
      </div>
  </div>
</body>
-->

<!-- REGISTER
<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Register</div>
              </div> 
              <div class="panel-body" >
                  <form class="form-horizontal" role="form" method="post" action="/register">
                      <div id="signupalert" class="alert alert-danger">{{ message }}</div>
                      <div class="form-group">
                          <label for="userType" class="col-md-3 control-label">User Type</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" name="userType">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="email" class="col-md-3 control-label">Email</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" name="email">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="phoneNum" class="col-md-3 control-label">Phone Number</label>
                          <div class="col-md-9">
                              <input type="number" class="form-control" name="phoneNum">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="username" class="col-md-3 control-label">Username</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" name="username">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="col-md-3 control-label">Password</label>
                          <div class="col-md-9">
                              <input type="password" class="form-control" name="password">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="passwordConfirm" class="col-md-3 control-label">Confirm Password</label>
                          <div class="col-md-9">
                              <input type="password" class="form-control" name="passwordConfirm">
                          </div>
                      </div>
                      <div class="form-group">                                     
                          <div class="col-md-offset-3 col-md-9">
                              <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>                
      </div>
  </div>
</body>
-->

{% endblock %}