<!--
{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}
-->
<div>

<div class="row">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="form-header">
                <h3 style="display:inline;">Business Info</h3>
                <div class="pull-right">
                    <button class="btn btn-primary " onclick="editInfo()" id="btnEditEstInfo">
                        <i class="fa fa-pencil" style="padding-right:2px;"></i> Edit
                    </button>
                    <button class="btn btn-success " onclick="saveInfo()" id="btnSaveEstInfoTop" style="display:none;">Save Info</button>
                    <button class="btn btn-danger " onclick="cancelEditInfo(event)" id="btnCancelEditInfo" style="display:none;">Cancel</button>
                </div>
            </div>

            <div class="form-horizontal style-form" id="displayEstablishmentInfo">
                <div class="row">
                    <div class="col col-lg-6 col-md-12 col-sm-12">
                        <h4 class="info-header" style="padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 15px; color: black;">Basic</h4>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Profile Picture</label>
                            <div class="col-sm-8">
                                <img src="{{ profile_pic }}" class="img-circle" width="100" id="info-profile-picture" />
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Business Name</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-establishment">{{ name }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Address</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-address">{{ address_1 }} {{ address_2 }}<br/>{{ city }}, {{ state }} {{ zip }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Phone</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-phone">{{ phone_num_formatted }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Website</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-website" style="word-wrap:break-word;">{{ website }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Reservation Link</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-resWebsite" style="word-wrap:break-word;">{{ resWebsite }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Menu Link</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" id="info-menu-link" style="word-wrap:break-word;">{{ menu_link }}</p>
                            </div>
                        </div>

                        <!--
                        <div class="form-group">
                            <label class="col-sm-2 control-label control-label-bold">Social Media</label>
                            {% if instagram %}
                            <div class="col-sm-2">
                                <img src="assets/img/instagram.png" height="20px;" width="20px;" style="display:inline-block;" />
                                <p class="form-control-static" id="info-instagram" style="display:inline-block;"><a href="https://www.instagram.com/{{ instagram }}" target="_blank">{{ instagram }}</a></p>
                            </div>
                            {% endif %}
                            {% if facebook %}
                            <div class="col-sm-2">
                                <img src="assets/img/facebook.png" height="20px;" width="20px;" style="display:inline-block;" />
                                <p class="form-control-static" id="info-facebook" style="display:inline-block;"><a href="https://www.facebook.com/{{ facebook }}" target="_blank">{{ facebook }}</a></p>
                            </div>
                            {% endif %}
                            {% if twitter %}
                            <div class="col-sm-2">
                                <img src="assets/img/twitter.png" height="20px;" width="20px;" style="display:inline-block;" />
                                <p class="form-control-static" id="info-twitter" style="display:inline-block;"><a href="https://twitter.com/{{ twitter }}" target="_blank">{{ twitter }}</a></p>             
                            </div>
                            {% endif %}
                            {% if snapchat %}
                            <div class="col-sm-2">
                                <img src="assets/img/snapchat.png" height="20px;" width="20px;" style="display:inline-block;" />
                                <p class="form-control-static" id="info-snapchat" style="display:inline-block;"><a href="https://www.snapchat.com/add/{{ snapchat }}" target="_blank">{{ snapchat }}</a></p>     
                            </div>
                            {% endif %}
                        </div>
                        -->

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Hours</label>
                            <div class="col-sm-8 hours">
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Monday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="mon-hours">{{ mon_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Tuesday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="tue-hours">{{ tue_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Wednesday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="wed-hours">{{ wed_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Thursday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="thu-hours">{{ thu_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Friday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="fri-hours">{{ fri_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Saturday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="sat-hours">{{ sat_hours }}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><label class="control-label">Sunday</label></div>
                                    <div class="col-sm-8"><p class="form-control-static" id="sun-hours">{{ sun_hours }}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6 col-md-12 col-sm-12">
                        <h4 class="establishment-features-header info-header" style="padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 15px; color: black;">
                            Establishment Features
                            {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <span style="font-size:12px; color:rgb(244, 149, 60);">
                                    <i class="fa fa-lock" style="margin-left:10px;"></i> Premium
                                </span>
                            {% endif %}
                        </h4>

                        <div class="form-group">
                            <label class="col-sm-12 col-xs-12 control-label control-label-bold">Description</label>
                            <div class="col-sm-12 col-xs-12" style="text-align:center;">
                                <p class="form-control-static" id="info-description" style="text-align:left;">{{ description }}</p>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">food delivery</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-delivery">{{ delivery }}</p>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">food takeout</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-takeout">{{ takeout }}</p>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment have a <span style="font-weight:bolder; color:rgb(50,50,50);">patio</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-patio">{{ patio }}</p>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment have a <span style="font-weight:bolder; color:rgb(50,50,50);">rooftop</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-rooftop">{{ rooftop }}</p>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">brunch</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-brunch">{{ brunch }}</p>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 15px 0;">
                            <label class="col-sm-10 col-xs-10 control-label control-label-bold" style="padding-left:0;">Does your establishment <span style="font-weight:bolder; color:rgb(50,50,50);">allow dogs</span>?</label>
                            <div class="col-sm-2 col-xs-2" style="text-align:center;">
                                <p class="form-control-static" id="info-dog">{{ dog }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-horizontal style-form" id="editEstablishmentInfo" style="display:none;">
                <form id="infoform" class="form-horizontal" role="form" method="post" action="/saveinfo" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <h4 class="info-header" style="padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 15px; color: black;">Basic</h4>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Profile Picture</label>
                                <div class="col-sm-2">
                                    <img src="{{ profile_pic }}" class="img-circle" width="100" id="info-edit-profile-picture" />
                                </div>
                                <div class="col-sm-8">
                                    <input type="file" accept="image/*" onchange="previewImage(event)" name="profilePic" class="custom-file-input" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Business Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="info-edit-establishment" value="{{ name }}" name="name" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Address</label>
                                <div class="col-sm-10 edit-address">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="info-edit-address" placeholder="Street Address" value="{{ address_1 }}" name="address_1" required />
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="info-edit-address2" placeholder="Address 2 (optional)" value="{{ address_2 }}" name="address_2" />
                                        </div>
                                    </div>
                                    
                                    <div class="row remove-margin-top" style="margin-top:10px;">
                                      <div class="col-sm-5">
                                        <input type="text" class="form-control" id="info-edit-city" placeholder="City" value="{{ city }}" name="city" required />
                                      </div>
                                      <div class="col-sm-3">
                                        <!--
                                        <input type="text" class="form-control" id="info-edit-state" placeholder="State" value="{{ state }}" name="state" maxlength="2" onkeypress="charOnly(event)" required />
                                        -->
                                        <select class="form-control" id="info-edit-state" name="state" required>
                                            {% for s in allStates %}
                                                {% if s == state %}
                                                    <option value="{{ s }}" selected>{{ s }}</option>
                                                {% endif %}
                                                {% if s != state %}
                                                    <option value="{{ s }}">{{ s }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" id="info-edit-zip" placeholder="ZIP" value="{{ zip }}" name="zip" maxlength="5" onkeypress="numOnly(event)" required />
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="info-edit-phone" value="{{ phone_num }}" name="phone_num" required />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Website</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="info-edit-website" value="{{ website }}" name="website" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Reservation Link</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="info-edit-resWebsite" value="{{ resWebsite }}" name="resWebsite" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Menu Link</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="info-edit-menu-link" value="{{ menu_link }}" name="menu_link" />
                                </div>
                            </div>
                            
                            <!--
                            <div class="form-group">
                                <label class="col-sm-2 control-label control-label-bold">Social Media</label>
                                <div class="col-sm-10 edit-social">
                                    <div class="row" style="padding-bottom:8px;">
                                        <div class="col-sm-12">
                                            <label style="margin-bottom:3px;"><img src="assets/img/instagram.png" height="20px;" width="20px;" style="display:inline-block; margin-right:3px;" />Instagram:</label>
                                            <div style="position:relative;">
                                              <p style="position:absolute; pointer-events:none; padding:9px 12px; color:rgb(210,210,210); font-size:.8em;">https://www.instagram.com/</p>
                                              <input type="text" class="form-control" id="info-edit-instagram" value="{{ instagram }}" name="instagram" style="padding-left:170px;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-bottom:8px;">
                                        <div class="col-sm-12">
                                            <label style="margin-bottom:3px;"><img src="assets/img/facebook.png" height="20px;" width="20px;" style="display:inline-block; margin-right:3px;" />Facebook:</label>
                                            <div style="position:relative;">
                                              <p style="position:absolute; pointer-events:none; padding:9px 12px; color:rgb(210,210,210); font-size:.8em;">https://www.facebook.com/</p>
                                              <input type="text" class="form-control" id="info-edit-facebook" value="{{ facebook }}" name="facebook" style="padding-left:165px;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-bottom:8px;">
                                        <div class="col-sm-12">
                                            <label style="margin-bottom:3px;"><img src="assets/img/twitter.png" height="20px;" width="20px;" style="display:inline-block; margin-right:3px;" />Twitter:</label>
                                            <div style="position:relative;">
                                              <p style="position:absolute; pointer-events:none; padding:5px 11px; color:rgb(210,210,210);">@</p>
                                              <input type="text" class="form-control" id="info-edit-twitter" value="{{ twitter }}" name="twitter" style="padding-left:30px;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-bottom:8px;">
                                        <div class="col-sm-12">
                                            <label style="margin-bottom:3px;"><img src="assets/img/snapchat.png" height="20px;" width="20px;" style="display:inline-block; margin-right:3px;" />Snapchat:</label>
                                            <div>
                                              <input type="text" class="form-control" id="info-edit-snapchat" value="{{ snapchat }}" name="snapchat" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            
                            <div class="form-group">
                              <label class="col-sm-2 control-label control-label-bold">Hours</label>
                              <div class="col-sm-10">
                                <table class="hours-table" align="left">
                                    <thead>
                                        <tr>
                                            <td class="col-md-2" style="padding-bottom:10px;"></td>
                                            <td class="col-md-4" style="padding-bottom:10px;">Open</td>
                                            <td class="col-md-4" style="padding-bottom:10px;">Close</td>
                                            <td class="col-md-2" style="padding-bottom:10px;"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>M</td>
                                            <td><input id="mon-open" value="{{ mon_open }}" name="mon_open" type="time" class="form-control" /></td> 
                                            <td><input id="mon-close" value="{{ mon_close }}" name="mon_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="mon" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tu</td>
                                            <td><input id="tue-open" value="{{ tue_open }}" name="tue_open" type="time" class="form-control" /></td>
                                            <td><input id="tue-close" value="{{ tue_close }}" name="tue_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="tue" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>W</td>
                                            <td><input id="wed-open" value="{{ wed_open }}" name="wed_open" type="time" class="form-control" /></td>
                                            <td><input id="wed-close" value="{{ wed_close }}" name="wed_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="wed" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Th</td>
                                            <td><input id="thu-open" value="{{ thu_open }}" name="thu_open" type="time" class="form-control" /></td>
                                            <td><input id="thu-close" value="{{ thu_close }}" name="thu_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="thu" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>F</td>
                                            <td><input id="fri-open" value="{{ fri_open }}" name="fri_open" type="time" class="form-control" /></td>
                                            <td><input id="fri-close" value="{{ fri_close }}" name="fri_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="fri" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sa</td>
                                            <td><input id="sat-open" value="{{ sat_open }}" name="sat_open" type="time" class="form-control" /></td>
                                            <td><input id="sat-close" value="{{ sat_close }}" name="sat_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="sat" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Su</td>
                                            <td><input id="sun-open" value="{{ sun_open }}" name="sun_open" type="time" class="form-control" /></td>
                                            <td><input id="sun-close" value="{{ sun_close }}" name="sun_close" type="time" class="form-control" /></td>
                                            <td class="closed-td">
                                                <button class="btn btn-light" id="sun" style="width:100%;" onclick="setClosed(event, this.id)">Closed</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>  
                              </div>                          
                            </div>
                        </div>

                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <h4 class="establishment-features-header info-header" style="padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 15px; color: black;">
                                Establishment Features
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                    <span style="font-size:12px; color:rgb(244, 149, 60);">
                                        <i class="fa fa-lock" style="margin-left:10px;"></i> Premium
                                    </span>
                                {% endif %}
                            </h4>

                            <div class="form-group">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-12 col-xs-12 control-label control-label-bold" style="margin-bottom:10px;">Description</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-12 col-xs-12 control-label control-label-bold" style="margin-bottom:10px; color:rgb(192,192,192);">Description</label>
                                {% endif %}
                                <div class="col-sm-12 col-xs-12">
                                    {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                    <textarea name="description" rows="3" class="form-control">{{ description }}</textarea>
                                    {% endif %}
                                    {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                    <textarea name="description" rows="3" class="form-control" disabled>{{ description }}</textarea>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">food delivery</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment provide <span style="font-weight:bolder;">food delivery</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="deliveryYes" onclick="featureClick(this)">
                                            <input type="radio" name="deliveryYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="deliveryNo" onclick="featureClick(this)">
                                            <input type="radio" name="deliveryNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="deliveryYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="deliveryYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="deliveryNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="deliveryNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="deliveryHidden" name="delivery" value="{{ delivery }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">food takeout</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment provide <span style="font-weight:bolder;">food takeout</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="takeoutYes" onclick="featureClick(this)">
                                            <input type="radio" name="takeoutYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="takeoutNo" onclick="featureClick(this)">
                                            <input type="radio" name="takeoutNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="takeoutYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="takeoutYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="takeoutNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="takeoutNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="takeoutHidden" name="takeout" value="{{ takeout }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment have a <span style="font-weight:bolder; color:rgb(50,50,50);">patio</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment have a <span style="font-weight:bolder;">patio</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="patioYes" onclick="featureClick(this)">
                                            <input type="radio" name="patioYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="patioNo" onclick="featureClick(this)">
                                            <input type="radio" name="patioNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="patioYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="patioYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="patioNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="patioNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="patioHidden" name="patio" value="{{ patio }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment have a <span style="font-weight:bolder; color:rgb(50,50,50);">rooftop</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment have a <span style="font-weight:bolder;">rooftop</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="rooftopYes" onclick="featureClick(this)">
                                            <input type="radio" name="rooftopYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="rooftopNo" onclick="featureClick(this)">
                                            <input type="radio" name="rooftopNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="rooftopYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="rooftopYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="rooftopNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="rooftopNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="rooftopHidden" name="rooftop" value="{{ rooftop }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment provide <span style="font-weight:bolder; color:rgb(50,50,50);">brunch</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment provide <span style="font-weight:bolder;">brunch</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="brunchYes" onclick="featureClick(this)">
                                            <input type="radio" name="brunchYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="brunchNo" onclick="featureClick(this)">
                                            <input type="radio" name="brunchNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="brunchYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="brunchYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="brunchNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="brunchNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="brunchHidden" name="brunch" value="{{ brunch }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-for-mobile">
                                {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px;">Does your establishment <span style="font-weight:bolder; color:rgb(50,50,50);">allow dogs</span>?</label>
                                {% endif %}
                                {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                <label class="col-sm-8 control-label control-label-bold" style="line-height:1.2; margin-bottom:10px; color:rgb(192,192,192);">Does your establishment <span style="font-weight:bolder;">allow dogs</span>?</label>
                                {% endif %}

                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% if !needsToPay || (cardOnFile && hasSubscription) %}
                                        <label id="dogYes" onclick="featureClick(this)">
                                            <input type="radio" name="dogYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="dogNo" onclick="featureClick(this)">
                                            <input type="radio" name="dogNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        {% if needsToPay && (!cardOnFile || !hasSubscription) %}
                                        <label id="dogYes" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="dogYes" autocomplete="off"> Yes
                                        </label>
                                        <label id="dogNo" onclick="featureClick(this)" disabled="disabled" style="pointer-events:none;">
                                            <input type="radio" name="dogNo" autocomplete="off"> No
                                        </label>
                                        {% endif %}
                                        <input id="dogHidden" name="dog" value="{{ dog }}" style="display:none;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
              
                    <div class="form-footer">
                      <button class="btn btn-success " id="btnSaveEstInfo">Save Info</button>
                      <button class="btn btn-danger " onclick="cancelEditInfo(event)" id="btnCancelEstInfo">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>