<!DOCTYPE html>
<html>

<head>
	{% include "../partials/head.html" %}
</head>

<body style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif !important;">
   {% block content %}{% endblock %}
   {% include "../partials/footer.html" %}
</body>

</html>
