{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}


{% for e in allEsts %}
    <span id="allestspan-{{ e.establishment_id }}">
        <input id="allEstCreated" value="{{ e.created }}" hidden />
        <input id="allEstUserId" value="{{ e.user_id }}" hidden />
        <input id="allEstPaying" value="{{ e.paying }}" hidden />
    </span>
{% endfor %}

{% for i in allIosInstalls %}
    <span id="alliosinstalls-{{ i.start }}">
        <input id="allIosInstallsCount" value="{{ i.value }}" hidden />
        <input id="allIosInstallsStart" value="{{ i.start }}" hidden />
        <input id="allIosInstallsEnd" value="{{ i.end }}" hidden />
    </span>
{% endfor %}

{% for a in allAndroidInstalls %}
    <span id="allandroidinstalls-{{ a.start }}">
        <input id="allIosInstallsCount" value="{{ a.value }}" hidden />
        <input id="allIosInstallsStart" value="{{ a.start }}" hidden />
        <input id="allIosInstallsEnd" value="{{ a.end }}" hidden />
    </span>
{% endfor %}


 
<body onload="loadMetricsCharts()" style="padding:0;">
	{% if status %}
	<div class="row" style="text-align:center;">
		{% if statusSuccess %}
	  	<p style="background-color:rgba(0,255,0,0.1); color:green; padding:10px;">{{ status }}</p>
	  	{% endif %}
	  	{% if !statusSuccess %}
	  	<p style="background-color:rgba(255,0,0,0.1); color:red; padding:10px;">{{ status }}</p>
	  	{% endif %}
	</div>
	{% endif %}

    {% if showLogin %}
    <form style="width:100%; text-align:center; padding:30px 0px;" class="form-horizontal" role="form" method="post" action="/metricsauth">
    	<div class="row">
        	<img src="assets/img/ah.ico" height="50px" width="50px"/>
        	<br />
        	<label>AppyHour Metrics</label>
      	</div>
      	<div class="row">
        	<input type="text" placeholder="Password" name="pw" style="margin: 20px 0 20px;" />
      	</div>
      	<div class="row">
        	<button class="btn btn-primary" type="submit">Submit</button>
      	</div>
    </form>
    {% endif %}

    {% if !showLogin %}
    <div class="row" style="width:100%; background-color:rgb(223,245,255); margin:0;">
      	<div class="col-md-12">
        	<h3 style="display:inline-block; padding:14px 20px;">AppyHour Metrics</h3>
        	<form class="form-horizontal pull-right" style="display:inline-block;" role="form" method="post" action="/metricslogout">
        		<button class="btn btn-default" style="margin:10px 20px;" type="submit">Logout</button>
    		</form>
      	</div>
    </div>

    <!-- ESTABLISHMENT DATA -->
    <div style="background-color:rgb(50,50,50)">
        <div class="row metrics-row" style="width:100%; margin:0;">
        	<div class="col col-md-4 col-sm-6 col-xs-12" style="padding:20px; border:2px solid gainsboro; border-radius:10px; margin:10px 5px; background-color:white;">
        		<p style="margin-bottom:20px; font-weight:600; font-size:20px; color:black;">TOTAL ESTABLISHMENTS</p>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Twin Cities, MN</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ mnCount }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Louisville, KY</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ kyCount }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Iowa City, IA</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ iaCount }}</p>
                    </div>
        		</div>
                <div class="row mobilerow">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <p>Denver, CO</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ denCount }}</p>
                    </div>
                </div>
                <div class="row mobilerow">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <p>Tampa Bay, FL</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ tampaCount }}</p>
                    </div>
                </div>
        		<hr style="margin:10px 0;">
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; font-size:1.5em; text-align:right;">{{ allEstCount }}</p>
                    </div>
        		</div>

                <div class="row mobilerow" style="margin-top:30px;">
                    <p style="text-align:center; color:rgb(50,50,50); font-size:0.8em;">LAST 30 DAYS</p>
                    <canvas id="totalEstChart"></canvas>
                </div>
        	</div>

        	<div class="col col-md-4 col-sm-6 col-xs-12" style="padding:20px; border:2px solid gainsboro; border-radius:10px; margin:10px 5px; background-color:white;">
        		<p style="margin-bottom:20px; font-weight:600; font-size:20px; color:black;">PAYING ESTABLISHMENTS</p>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Twin Cities, MN</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ mnPayingCount }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Louisville, KY</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ kyPayingCount }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8">
        				<p>Iowa City, IA</p>
        			</div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ iaPayingCount }}</p>
                    </div>
        		</div>
                <div class="row mobilerow">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <p>Denver, CO</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ denPayingCount }}</p>
                    </div>
                </div>
                <div class="row mobilerow">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <p>Tampa Bay, FL</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; text-align:right;">{{ tampaPayingCount }}</p>
                    </div>
                </div>
        		<hr style="margin:10px 0;">
        		<div class="row mobilerow">
        			<div class="col-md-8 col-sm-8 col-xs-8"></div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p style="color:black; font-weight:900; font-size:1.5em; text-align:right;">{{ payingEstCount }}</p>
                    </div>
        		</div>

                <div class="row mobilerow" style="margin-top:30px;">
                    <p style="text-align:center; color:rgb(50,50,50); font-size:0.8em;">LAST 30 DAYS</p>
                    <canvas id="payingEstChart"></canvas>
                </div>
        	</div>

        	<div class="col col-md-4 col-sm-6 col-xs-12" style="padding:20px; border:2px solid gainsboro; border-radius:10px; margin:10px 5px; background-color:white;">
        		<p style="margin-bottom:20px; font-weight:600; font-size:20px; color:black;">MONTHLY REVENUE</p>
        		<div class="row mobilerow">
        			<div class="col-md-6 col-sm-6 col-xs-6">
        				<p><span style="color:black; font-weight:900;">{{ price99count }}</span> x $99.99</p>
        			</div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
                        <p style="color:black; font-weight:900; text-align:right;">${{ price99total }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-6 col-sm-6 col-xs-6">
        				<p><span style="color:black; font-weight:900;">{{ price89count }}</span> x $89.99</p>
        			</div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
                        <p style="color:black; font-weight:900; text-align:right;">${{ price89total }}</p>
                    </div>
        		</div>
        		<hr style="margin:10px 0;">
        		<div class="row mobilerow">
                    <div class="col-md-12" style="text-align:right;">
                        <p style="color:black; font-weight:900; font-size:1.5em; display:inline;">${{ monthlyRevenue }}</p>
                        <span style="color:black; font-size:12px;">/month</span>
                    </div>
        		</div>

                <div class="row mobilerow" style="margin-top:30px;">
                    <p style="text-align:center; color:rgb(50,50,50); font-size:0.8em;">LAST 30 DAYS</p>
                    <canvas id="revenueChart"></canvas>
                </div>
        	</div>
        </div>
        <div class="row metrics-row" style="width:100%; margin:0;">
        	<div class="col col-md-4 col-sm-6 col-xs-12" style="padding:20px; border:2px solid gainsboro; border-radius:10px; margin:10px 5px; background-color:white;">
        		<p style="margin-bottom:20px; font-weight:600; font-size:20px; color:black;">INSTALLATIONS</p>

        		<p style="margin-bottom:10px; font-size:0.8em;">{{ installDateRange }}</p>

        		<div class="row mobilerow">
        			<div class="col-md-6 col-sm-6 col-xs-6">
        				<p>iOS</p>
        			</div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
                        <p style="color:black; font-weight:900; text-align:right;">{{ iosInstalls }}</p>
                    </div>
        		</div>
        		<div class="row mobilerow">
        			<div class="col-md-6 col-sm-6 col-xs-6">
        				<p>Android</p>
        			</div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
                        <p style="color:black; font-weight:900; text-align:right;">{{ androidInstalls }}</p>
                    </div>
        		</div>
        		<hr style="margin:10px 0;">
        		<div class="row mobilerow">
        			<div class="col-md-12">
                        <p style="color:black; font-weight:900; font-size:1.5em; text-align:right;">{{ allInstalls }}</p>
                    </div>
        		</div>

                <div class="row mobilerow" style="margin-top:30px;">
                    <p style="text-align:center; color:rgb(50,50,50); font-size:0.8em;">LAST {{ allIosInstalls.length }} WEEKS</p>
                    <canvas id="installsChart"></canvas>
                </div>
        	</div>

            <div class="col col-md-4 col-sm-6 col-xs-12" style="padding:20px; border:2px solid gainsboro; border-radius:10px; margin:10px 5px; background-color:white;">
                <p style="margin-bottom:20px; font-weight:600; font-size:20px; color:black;">ACTIVE USERS</p>

                <p style="margin-bottom:10px; font-size:0.8em;">Coming soon</p>

            </div>
        </div>
    </div>

    <!-- USER DATA 
    <div class="row" style="width:100%; margin:0;">
    	<div class="col-md-3 col-sm-12 col-xs-12" style="height:300px; padding:20px; border:1px solid gainsboro;">
    		
    	</div>

    	<div class="col-md-3 col-sm-12 col-xs-12" style="height:300px; padding:20px; border:1px solid gainsboro;">
    		
    	</div>

    	<div class="col-md-3 col-sm-12 col-xs-12" style="height:300px; padding:20px; border:1px solid gainsboro;">
    		
    	</div>

    	<div class="col-md-3 col-sm-12 col-xs-12" style="height:300px; padding:20px; border:1px solid gainsboro;">

    	</div>
    </div>
	-->
    {% endif %}

</body>