<!--
{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}
-->
<div>

<div class="row">
    <div class="col-md-12">
        <div class="form-panel" style="margin-bottom:20px;">
            <div class="form-header" style="margin-bottom:50px;">
                <h3 id="partnersHeader" style="display:inline;">Preferred Partners</h3>
            </div>

            <div class="form-body">

				<div class="partner-container">
					<div class="partner-div-left">
				    	<img src="assets/img/PureTap.jpg" class="partner-img">
				    	<a href="tel:651-604-7873" class="btn btn-primary partner-phone">
                        	(651) 604-7873
                    	</a>
                    	<a href="http://pure-tap.com" target="_blank" class="btn btn-primary partner-web">
                        	pure-tap.com
                    	</a>
				    </div>
				    <div class="partner-div-right">
				        <h4 class="partner-name">PureTap</h4>
						<p class="partner-text">Straight from the tap the way the brewer intended!</p>
						<p class="partner-text">We are passionate about good beer and have perfected the process of cleaning beer lines and systems. We use the preferred cleaning method of the Brewers Association.</p>
						<p class="partner-text">Pure Tap ensures that your beer system is thoroughly cleaned and inspected. We love a good pint and know that your customers will appreciate the purity of your beer. Cheers to beer served the way the brewer intended!</p>
						<p class="partner-text">Now providing service throughout the Twin Cities, Duluth and Rochester.</p>
				    </div>
				</div>

			</div>

        </div>
    </div>
</div>

</div>