<!DOCTYPE html>
<html>
    <head>
    	{% include "../partials/head.html" %}
      	<title>Reset Password</title>
    </head>
    <body>
    
		<div class="row" style="padding:20px;">
			<div class="col-md-12">
				<form id="resetPasswordForm" class="form-horizontal" role="form" method="post" action="/resetpasswordsubmit" enctype="multipart/form-data">
					<div style="text-align:center;">
					    <div class="form-panel" style="width:50%; min-width:300px; display:inline-block;">
					    	<div style="text-align:center; margin-bottom:10px;">
					    		<img src="/assets/img/icon_rounded_corners.png" height="64px" width="64px" />
					    	</div>

					    	<h1 style="text-align:center; color:black;">Reset Password</h1>

					    	<p id="reset-pw-email" style="text-align:center;"></p>

					    	<p id="pw-updated-successfully" style="display:none; text-align:center; margin-top:20px; font-size:1.5em; color:green;">
					    		Password updated successfully!
					    		<br />
					    		<a class="btn btn-primary" onclick="event.preventDefault(); window.location.href='https://app.appyhourmobile.com/estlogin'" style="margin-top:20px;">
					    			Return to Login
					    		</a>
					    	</p>

					    	<div id="pw-not-updated">
						    	<div style="padding:15px; margin:15px; border:1px solid rgb(243, 250, 172); background-color:rgb(255, 252, 235); text-align:center;">
							    	<p style="margin-bottom:5px;"><strong>Password Requirements</strong></p>
			                        <p style="font-size:0.8em;">Must be at least 6 characters</p>
			                        <p style="font-size:0.8em;">Can't be your old password</p>
		                    	</div>

						    	<div class="form-group" style="margin: 15px 0;">
			                        <div class="col-sm-12">
			                        	<label class="control-label control-label-bold" style="padding-left:0;">New Password</label>
			                            <input type="text" class="form-control" id="reset-pw" name="reset-pw" />
			                        </div>
			                    </div>
			                    <div class="form-group" style="margin: 15px 0;">
			                        <div class="col-sm-12">
			                        	<label class="control-label control-label-bold" style="padding-left:0;">New Password Confirm</label>
			                            <input type="text" class="form-control" id="reset-pw-confirm" name="reset-pw-confirm" />
			                        </div>
			                    </div>

			                    <p id="resetPasswordError" style="display:none; margin:0 15px; color:red;"></p>

			                    <div class="form-group" style="margin: 25px 0 15px; text-align:center;">
			                    	<div class="col-sm-12">
			                    		<button onclick="resetPassword(event)" class="btn btn-success" style="width:100%;">Reset Password</button>
			                    	</div>
			                    </div>
		                    </div>
		                    <div id="invalidFPKey" style="text-align:center;">
		                    	<p style="margin-top:20px; font-size:1em; color:black;">
		                    		You don't have access to this page. If you'd like to change your password, please choose the Forgot Password option on the login page.
		                    	</p>
		                    	<a class="btn btn-primary" onclick="event.preventDefault(); window.location.href='https://www.appyhourmobile.com'" style="margin-top:20px;">
					    			Return to Home
					    		</a>
		                    </div>
					    </div>
					</div>
		        </form>
	        </div>
		</div>
		
		{% include "../partials/footer.html" %}
	</body>
</html>