<!--
{% if !needsToPay || (cardOnFile && hasSubscription) %}
<div>
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}
-->
<div>

<div class="row">
    <div class="col-md-12">
        <div class="form-panel" style="margin-bottom:20px;">
            <div class="form-header" style="margin-bottom:30px;">
                <h3 id="settingsHeader" style="display:inline;">Account Settings</h3>
                <div class="pull-right">
                    <button class="btn btn-primary " onclick="editSettings()" id="btnEditAccountSettings">
                        <i class="fa fa-pencil" style="padding-right:2px;"></i> Edit
                    </button>
                </div>
            </div>
            <div class="form-horizontal style-form" id="displayAccountSettings">
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Email</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="settings-email">{{ user.email }}</p>
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Phone</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="settings-phone">{{ user.phone_num }}</p>
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Username</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="settings-username">{{ user.username }}</p>
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Password</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="settings-password">******</p>
                    </div>
                </div>
            </div>
            <form class="form-horizontal style-form" id="editAccountSettings" role="form" method="post" action="/saveSettings" style="display:none;">
                <p id="saveSettingsErr" style="display:none; color:red; line-height:0.5;"></p>

                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="settings-edit-email" value="{{ user.email }}" name="email" maxlength="70" required />
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Phone <span style="color:grey; font-size:0.8em;">(optional)</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="settings-edit-phone" value="{{ user.phone_num }}" name="phone" />
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Username</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="settings-edit-username" value="{{ user.username }}" name="username" maxlength="30" required />
                    </div>
                </div>
                <div class="form-group" style="margin: 15px 0;">
                    <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Password</label>
                    <div class="col-sm-8">
                        <button class="btn btn-primary " onclick="openUpdatePasswordModal(event)">Change Password</button>
                    </div>
                </div>

                <div class="form-footer">
                    <button class="btn btn-success " onclick="saveSettings(event)" id="btnSaveAccountSettingsTop" style="display:none;">Save</button>
                    <button class="btn btn-danger " onclick="cancelSettings(event)" id="btnCancelEditAccountSettings" style="display:none;">Cancel</button>
                </div>
            </form>
        </div>


        {% if cardOnFile && hasSubscription %}
        <div class="form-panel" style="margin-bottom:20px; padding-bottom:20px;">
            <div class="form-header" style="margin-bottom:30px;">
                <h3 style="display:inline;">Payment Info</h3>
                <div class="pull-right">
                    {% if !cancelDate %} 
                    <button class="btn btn-primary " onclick="updatePayment(event)" id="btnPayment">
                        <i class="fa fa-credit-card-alt" style="margin-right:2px;"></i> Update Payment Info
                    </button>
                    {% endif %}
                    {% if cancelDate %}
                    <button class="btn btn-primary " onclick="reactivateSubscription(event)" id="btnReactivate">
                        <i class="fa fa-refresh"></i> Reactivate Subscription
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="form-horizontal style-form payment-info" style="background-color:rgba(192,192,192,0.1); padding:20px;">
                <div style="line-height:1.7;">
                    {% if !cancelDate %}
                    <p>
                        {% if custCardBrand == 'Visa' %}
                            <i class="fa fa-cc-visa"></i>&nbsp;
                        {% endif %}
                        {% if custCardBrand == 'MasterCard' %}
                            <i class="fa fa-cc-mastercard"></i>&nbsp;
                        {% endif %}
                        {% if custCardBrand == 'Discover' %}
                            <i class="fa fa-cc-discover"></i>&nbsp;
                        {% endif %}
                        {% if custCardBrand == 'American Express' %}
                            <i class="fa fa-cc-amex"></i>&nbsp;
                        {% endif %}
                        {{ custCardBrand }}</span> ending in <span style="font-weight:bold;">{{ custCardLastFour }}</span>
                    </p>

                    {% if !pauseCollection %}
                    <p>
                        {{ custBillAmount }} will be charged on 
                        <span style="font-weight:bold;">{{ custNextBillDate }}</span>
                    </p>
                    {% endif %}

                    {% if pauseCollection %}
                    <p>
                        <span style="font-weight:900;">$0.00</span> 
                        will be charged on 
                        <span style="font-weight:900;">{{ custNextBillDate }}</span>
                    </p>
                    <p style="line-height:1.2; color:#da4141; margin-top:20px;">
                    <span style="font-weight:900;">Notice:</span> Payment collection is currently paused indefinitely due to concerns over COVID-19. We want to do our part to #SupportLocal during these difficult times. When we feel we are ready to resume payment collection, you will be notified well in advance.
                    </p>
                    <p style="color:#da4141;">Thank you for supporting AppyHour!</p>
                    {% endif %}

                    {% endif %}
                    {% if cancelDate %}
                    <p style="color:red;">Your subscription was cancelled on {{ dateCanceled }}. You will have access to AppyHour features until {{ cancelDate }}, at which time your specials will be removed from the AppyHour app.</p>
                    {% endif %}
                </div>
            </div>

            <div class="form-header subscription-header" style="margin:20px 0 10px 0;">
                <h3 style="font-size:.8em;">Subscription Plan</h3>
            </div>
            <div class="form-horizontal style-form" style="background-color:rgba(192,192,192,0.1); padding: 20px;" onclick="viewPlanDetails(event)">
                <div>
                    <h4 class="plan-name" style="display:inline;">{{ plan.nickname }}</h4>
                    <div class="pull-right">
                        <span class="show-details-desktop" style="display:none;">
                            <a id="view-details-show" href="">View Details&nbsp;<i class="fa fa-angle-down"></i></a>
                            <a id="view-details-hide" style="display:none;" href="">Hide Details&nbsp;<i class="fa fa-angle-up"></i></a>
                        </span>
                        <span class="show-details-mobile" style="display:none;">
                            <a id="view-details-show-mobile" href=""><i class="fa fa-angle-down"></i></a>
                            <a id="view-details-hide-mobile" style="display:none;" href=""><i class="fa fa-angle-up"></i></a>
                        </span>
                    </div>
                </div>

                <span id="plan-metadata" class="plan-metadata" style="display:none;">
                  <hr style="border-color:rgb(192,192,192); margin: 10px 0 0 0;" />
                  <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Plan Overview</h3>
                      </span>
                  </span>
                    
                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}

                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Subscription Details</h3>
                      </span>
                    </span>

                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('asterix') %}
                        <p style="font-size:.4em; margin-top:20px; color:rgb(100,100,100);">
                          * {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}

                  {% if !cancelDate %}
                  <div class="form-footer" style="margin-top:20px; font-size:.6em;">
                    <a href="" onclick="cancelSubscription(event)" style="color:red;">Cancel Subscription</a>
                  </div>
                  {% endif %}
                </span>
            </div>
        </div>
        {% endif %}


        {% if isOwner %}
        <div class="form-panel">
            <div class="form-header" style="margin-bottom:30px;">
                <h3 style="display:inline;">Account Managers</h3>
                <div class="pull-right">
                    <button class="btn btn-primary " onclick="openAddManagerModal()">
                        <i class="fa fa-user" style="margin-right:2px;"></i>
                        Add Manager
                    </button>
                </div>
            </div>

            <p style="margin-bottom:20px;">Add or delete users that have access to the AppyHour account for one of your establishments.</p>

            {% if managers.length > 0 %}
            <div class="form-horizontal style-form">
                <table class="table" id="managersTable">
                    <thead>
                        <tr style="background-color:rgba(192,192,192,0.2);">
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Establishment</td>
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Email</td>
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Phone</td>
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Username</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for manager in managers %}
                        <tr>
                            <!--<td style="padding:20px 5px;">Super Long Test Bar Name Blah Blah Blah</td>-->
                            <td style="padding:20px 5px;">{{ manager.establishment }}</td>
                            <td style="padding:20px 5px;">{{ manager.email }}</td>
                            <td style="padding:20px 5px;">{{ manager.phone_num }}</td>
                            <td style="padding:20px 5px;">{{ manager.username }}</td>
                            <td style="padding:20px 5px;">
                                <a href="" onclick="deleteManager(event, '{{ manager.user_id }}')" style="color:red;"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table class="table" id="managersTableMobile" style="display:none;">
                    <thead>
                        <tr style="background-color:rgba(192,192,192,0.2);">
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Establishment</td>
                            <td style="color:rgb(50,50,50); padding:20px 5px;">Username</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for manager in managers %}
                        <tr>
                            <!--<td style="padding:20px 5px;">Super Long Test Bar Name Blah Blah Blah</td>-->
                            <td style="padding:20px 5px;">{{ manager.establishment }}</td>
                            <td style="padding:20px 5px;">{{ manager.username }}</td>
                            <td style="padding:20px 5px;">
                                <a href="" onclick="deleteManager(event, '{{ manager.user_id }}')" style="color:red;"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>


<div id="updatePasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <form id="updatePasswordForm" class="form-horizontal" role="form" method="post" action="/updatePassword"> 
                <div class="modal-body" style="padding-bottom:0px;">
                    <div class="form-group" style="margin:5px 0 20px;">
                        <strong>Password Requirements:</strong>
                        <ul>
                            <li>- Must be at least 6 characters</li>
                            <li>- Can't be your old password</li>
                        </ul>
                    </div>

                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Current Password</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-current-pw" name="currentPw" />
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">New Password</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-new-pw" name="newPw" />
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">New Password Confirm</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-new-pw-confirm" name="newPwConfirm" />
                        </div>
                    </div>
                </div>

                <p id="updatePasswordErr" style="display:none; color:red; margin:15px;"></p>

                <div class="modal-footer add-deal-confirm-footer">
                    <button type="submit" class="btn btn-success" onclick="updatePassword(event)">Change Password</button>
                    <button type="button" class="btn btn-danger" onclick="cancelUpdatePassword()" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="addManagerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Manager</h4>
            </div>
            <form id="addManagerForm" class="form-horizontal" role="form" method="post" action="/addManager"> 
                <div class="modal-body" style="padding-bottom:0px;">
                    <div class="form-group" style="margin:5px 0 20px;">
                        <p>An email with the subject <strong>AppyHour Login Instructions</strong> will be sent to the manager with details for first-time login.</p>
                        <p style="font-size:0.7em; margin-top:10px;">If you have any issues with the onboarding process, please <a href="mailto:appy-support@appyhourmobile.com" target="_top">email us</a> for support.</p>
                    </div>

                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Establishment</label>
                        <div class="col-sm-8">
                           <select name="managerEst" id="managerEst" class="form-control" required >
                            <option value=""></option>
                            {% for e in ests %}
                            <option value="{{ e.establishment_id }}">{{ e.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-manager-email" name="managerEmail" maxlength="70" required />
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Phone <span style="color:grey; font-size:0.8em;">(optional)</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-manager-phone" name="managerPhone" />
                        </div>
                    </div>
                    <div class="form-group" style="margin: 15px 0;">
                        <label class="col-sm-4 control-label control-label-bold" style="padding-left:0;">Username</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="settings-manager-username" name="managerUsername" maxlength="30" required />
                        </div>
                    </div>
                </div>

                <p id="addManagerErr" style="display:none; color:red; margin:15px;"></p>

                <div class="modal-footer add-deal-confirm-footer">
                    <button id="btnAddManager" type="submit" class="btn btn-success" onclick="addManager(event)">Add Manager</button>
                    <button type="button" class="btn btn-danger" onclick="cancelAddManager()" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>