{% if !needsToPay || (cardOnFile && hasSubscription && !hasLite) %}
<div style="filter:blur(6px); -webkit-filter:blur(6px); pointer-events:none;">
{% endif %}
{% if needsToPay && (!cardOnFile || !hasSubscription || hasLite) %}
<div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="form-header" style="margin-bottom:30px;">
                <h3 id="upgradeHeader" style="margin-bottom:20px;">Upgrade to Premium</h3>
                {% if !hasLite %}
                <p style="line-height:1.2; font-size:14px; color:rgb(100,100,100);">
                  For a limited time, we're offering up the AppyHour Premium plan for a discounted <span style="color:black; font-weight:900;">$99.99/month</span>. We know times are tough right now, so as part of our <span style="font-weight:900;">#SupportLocal</span> plan we're providing an extended <span style="color:black; font-weight:900;">90-day free trial</span>. Take advantage of the full AppyHour platform today.
                </p>
                {% endif %}
                {% if hasLite %}
                <p style="line-height:1.2; font-size:14px; color:rgb(100,100,100);">
                  For a limited time, we're offering up the AppyHour Premium plan for a discounted <span style="color:black; font-weight:900;">$99.99/month</span>. Take advantage of the full AppyHour platform today!
                </p>
                {% endif %}
            </div>

            {% for plan in plans %}
            {% if plan.nickname.includes('#SupportLocal') %}


            {% if !hasLite %}
            <table class="table upgradeTable">

              <thead>
                <tr>
                  <th></th>
                  <th id="freeHeader">Free Plan</th>
                  <th>AppyHour Lite</th>
                  <th>AppyHour Premium <span style="display:block; font-size:0.8em;">#SupportLocal Plan</span></th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <th>Free Trial</th>
                  <td>-</td>
                  <td>
                    30-day Free Trial
                  </td>
                  <td class="black-bold">
                    90-day Free Trial
                  </td>
                </tr>

                <tr>
                  <th>Price</th>
                  <td>Free</td>
                  <td>$49.99/month</td>
                  <td>
                    <span class="black-bold-block">
                      $99.99/month<sup>*</sup>
                    </span>
                    <p style="line-height:1.1; margin-top:2px;">
                      *$99.99 for one establishment, $89.99 per establishment thereafter
                    </p>
                  </td>
                </tr>

                <tr>
                  <th>Exclusive (push-notified) specials</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td>
                    <span class="black-bold-block">1</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Weekly specials</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">1</span> per day
                  </td>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">5</span> per day
                  </td>
                  <td>
                    <span class="black-bold-block">5</span> per day
                  </td>
                </tr>

                <tr>
                  <th>One-time events</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">1</span> per week
                  </td>
                  <td>
                    <span class="black-bold-block">1</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Weekly events</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">1</span> per week
                  </td>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">3</span> per week
                  </td>
                  <td>
                    <span class="black-bold-block">3</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Event specials</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">1</span> per event
                  </td>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">5</span> per event
                  </td>
                  <td>
                    <span class="black-bold-block">5</span> per event
                  </td>
                </tr>

                <tr>
                  <th>Analytics dashboard</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Ability to set establishment features (delivery, patio, etc)</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Prioritized customer service & support</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Eligible for launch events & co-sponsored promotions/marketing opportunities</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Early access to new premium features</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th style="border-left:none;"></th>
                  <td style="border-bottom:2px solid #ddd;">Current Plan</td>

                  <td style="border-bottom:2px solid #ddd;">
                    <button id="btnChoosePlanLite" class="btn btn-success btn-lg" style="width:100%; font-size:16px;" onclick="showTerms(event, 'price_1IYYDNJjoHPs2g2pYdsw6kXB', 30)"><i class="fa fa-credit-card-alt"></i> Start Free Trial</button>
                  </td>

                  <td style="border-bottom:3px solid orange;">
                    <button id="btnChoosePlan" class="btn btn-success btn-lg" style="width:100%; font-size:16px;" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Start Free Trial</button>
                  </td>
                </tr>

              </tbody>
            </table>
            {% endif %}

            {% if hasLite %}
            <table class="table upgradeTableLite">

              <thead>
                <tr>
                  <th></th>
                  <th>AppyHour Lite</th>
                  <th>AppyHour Premium <span style="display:block; font-size:0.8em;">#SupportLocal Plan</span></th>
                </tr>
              </thead>

              <tbody>

                <!--
                <tr>
                  <th>Free Trial</th>
                  <td>
                    30-day Free Trial
                  </td>
                  <td class="black-bold">
                    90-day Free Trial
                  </td>
                </tr>
                -->

                <tr>
                  <th>Price</th>
                  <td>$49.99/month</td>
                  <td>
                    <span class="black-bold-block">
                      $99.99/month<sup>*</sup>
                    </span>
                    *$99.99 for one establishment, $89.99 per establishment thereafter
                  </td>
                </tr>

                <tr>
                  <th>Exclusive (push-notified) specials</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td>
                    <span class="black-bold-block">1</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Weekly specials</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">5</span> per day
                  </td>
                  <td>
                    <span class="black-bold-block">5</span> per day
                  </td> 
                </tr>

                <tr>
                  <th>One-time events</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">1</span> per week
                  </td>
                  <td>
                    <span class="black-bold-block">1</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Weekly events</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">3</span> per week
                  </td>
                  <td>
                    <span class="black-bold-block">3</span> per week
                  </td>
                </tr>

                <tr>
                  <th>Event specials</th>
                  <td style="font-size:10px;">
                    <span style="display:block; font-size:16px;">5</span> per event
                  </td>
                  <td>
                    <span class="black-bold-block">5</span> per event
                  </td>
                </tr>

                <tr>
                  <th>Analytics dashboard</th>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Ability to set establishment features (delivery, patio, etc)</th>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Prioritized customer service & support</th>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Eligible for launch events & co-sponsored promotions/marketing opportunities</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th>Early access to new premium features</th>
                  <td style="font-size:16px !important; color:rgb(200,40,60);"><i class="fa fa-times"></i></td>
                  <td style="font-size:16px !important; color:#5cb85c;"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                  <th style="border-left:none;"></th>

                  <td style="border-bottom:2px solid #ddd;">Current Plan</td>

                  <td style="border-bottom:3px solid orange;">
                    <button id="btnChoosePlan" class="btn btn-success btn-lg" style="width:100%; font-size:16px;" onclick="showTerms(event, '{{ plan.id }}', 0)">Upgrade to Premium</button>
                    <!--<button id="btnChoosePlan" class="btn btn-success btn-lg" style="width:100%; font-size:16px;" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Start Free Trial</button>-->
                  </td>
                </tr>

              </tbody>
            </table>
            {% endif %}

            <p id="planId-hidden" style="display:none;"></p>
            <p id="trial-hidden" style="display:none;"></p>

            {% endif %}
            {% endfor %}

            

              <!--
              <p style="color:red;">Looks like you don't have a current subscription.
              Please update your payment info in order to access AppyHour.</p> 
              <br/>
          	  -->

              <!-- KEEP THIS
              {% for plan in plans %}
              {% if plan.nickname.includes('#SupportLocal') %}
              <div class="form-horizontal style-form" style="margin-bottom:20px; color:rgb(20,20,20);">
                <span class="plan-header-desktop" style="display:none;">
                  <div style="margin-bottom:15px; height:30px;">
                    <h4 style="display:inline; color:black; vertical-align:middle;">AppyHour</h4>
                    <h4 style="display:inline; color:#fca605; vertical-align:middle; font-weight:900;">#SupportLocal</h4>
                    <h4 style="display:inline; color:black; vertical-align:middle;">Plan</h4>
                    <div class="pull-right">
                      <button class="btn btn-success btn-sm" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</button>
                    </div>
                  </div>
                </span>
                <span class="plan-header-mobile" style="display:none;">
                  <div style="margin-bottom:10px; text-align:center;">
                    <h4 style="display:inline; color:black; vertical-align:middle;">AppyHour</h4>
                    <h4 style="display:inline; color:#fca605; vertical-align:middle; font-weight:900;">#SupportLocal</h4>
                    <h4 style="display:inline; color:black; vertical-align:middle;">Plan</h4>
                    <br/>
                    <button class="btn btn-success btn-xs" style="margin-top:10px;" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><span style="font-size:.8em"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</span>
                    </button>
                  </div>
                </span>
                <p id="planId-hidden" style="display:none;"></p>
                <p id="trial-hidden" style="display:none;"></p>
                <hr style="border-color:rgb(192,192,192); margin: 10px 0 0 0;" />

                <div class="support-local-desktop" style="display:table; width:100%; margin-top:20px; margin-bottom:20px;">
                  <div style="display:table-cell; width:120px;">
                    <img src="assets/img/90dayfreetrial.png" height="120px" style="margin-bottom:10px;"/>
                    <img src="assets/img/99permonth.png" height="120px"/>
                  </div>
                  <div style="display:table-cell; vertical-align:top; padding-left:20px;">
                    <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-bottom:8px;">
                      <h4>Plan Overview</h3>
                    </span>
                    <p>+ Full access to all current features of the AppyHour dashboard</p>
                      <p style="margin-left:20px;">- Exclusive, push-notified specials</p>
                      <p style="margin-left:20px;">- Daily specials and events schedule</p>
                      <p style="margin-left:20px;">- Detailed analytics dashboard</p>
                      <p style="margin-left:20px;">- Customizable in-app business profile</p>
                    <p style="margin-top:8px;">+ Prioritized customer service and support</p>
                    <p style="margin-top:8px;">+ Feedback-based improvements and updates</p>
                    <p style="margin-top:8px;">+ Eligible for launch events and co-sponsored promotions/marketing opportunities</p>
                  </div>
                </div>

                <div class="support-local-mobile" style="display:none; width:100%; margin-top:20px; margin-bottom:20px;">
                  <div style="text-align:center; margin-bottom:10px;">
                    <img src="assets/img/90dayfreetrial.png" height="120px"/>
                  </div>
                  <div style="text-align:center; margin-bottom:10px;">
                    <img src="assets/img/99permonth.png" height="120px"/>
                  </div>
                  <div>
                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Plan Overview</h3>
                      </span>
                    </span>

                    <p style="font-size:0.8em;">+ Full access to all current features of the AppyHour dashboard</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Exclusive, push-notified specials</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Daily specials and events schedule</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Detailed analytics dashboard</p>
                      <p style="margin-left:10px; font-size:0.8em;">- Customizable in-app business profile</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Prioritized customer service and support</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Feedback-based improvements and updates</p>
                    <p style="margin-top:8px; font-size:0.8em;">+ Eligible for launch events and co-sponsored promotions/marketing opportunities</p>
                  </div>
                </div>

              </div>
              {% endif %}
              {% endfor %}
              -->


              <!--
              {% for plan in plans %}
              {% if plan.nickname.includes('#SupportLocal') %}
              <div class="form-horizontal style-form" style="background-color:rgba(192,192,192,0.3); padding:15px 15px 15px 20px; margin-bottom:20px; color:rgb(20,20,20);">
                  <span class="plan-header-desktop" style="display:none;">
                    <div style="margin-bottom:20px;">
                      <h4 style="display:inline; color:rgb(17,30,108);">{{ plan.nickname }}</h4>
                      <div class="pull-right">
                        <button class="btn btn-success btn-sm" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</button>
                      </div>
                    </div>
                  </span>
                  <span class="plan-header-mobile" style="display:none;">
                    <div style="margin-bottom:10px; text-align:center;">
                      <h4 style="color:rgb(17,30,108); margin-bottom:10px;">{{ plan.nickname }}</h4>
                      <button class="btn btn-success btn-xs" onclick="showTerms(event, '{{ plan.id }}', {{ plan.trial_period_days }})"><span style="font-size:.8em"><i class="fa fa-credit-card-alt"></i> Choose Plan & Pay</span>
                      </button>
                    </div>
                  </span>
                  <p id="planId-hidden" style="display:none;"></p>
                  <p id="trial-hidden" style="display:none;"></p>
                  <hr style="border-color:rgb(192,192,192); margin: 10px 0 0 0;" />
                  <span class="plan-metadata">

                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Plan Overview</h3>
                      </span>
                    </span>
                    
                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('overview') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('asterix') %}
                        <p style="font-size:.4em; margin-top:20px; color:rgb(100,100,100);">
                          * {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}

                    <span class="plan-overview-header">
                      <span style="display:inline-block; border-bottom:1px solid rgb(192,192,192); padding-bottom:2px; margin-top:20px; margin-bottom:8px;">
                        <h4>Subscription Details</h3>
                      </span>
                    </span>

                    {% for key in Object.keys(plan.metadata) %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 1 %}
                        <p><i class="fa fa-circle" style="margin-right:10px; font-size:.8em; color:rgb(100,100,100);"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                      {% if key.includes('description') && (key.match(RegExp('\.','g')) || []).length == 2 %}
                        <p style="margin-left:20px;"><i class="fa fa-circle-o" style="margin-right:10px; font-size:.6em;"></i> 
                          {{ plan.metadata[key] }}
                        </p>
                      {% endif %}
                    {% endfor %}
                  </span>
              </div>
              {% endif %}
              {% endfor %}
              -->
          

        </div>
    </div>
</div>

</div>